@using System.Configuration
@using System.Collections
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String ParentID = "Edit";

    String MaLuat = CString.SafeString(Convert.ToString(ViewData["MaLuat"]));

    String sTen = "";
    bool bTrangThai = false;
    String tgTrangThai = "";

    if (String.IsNullOrEmpty(MaLuat) == false)
    {
        DataTable dt = CPQ_LUAT.Get_One_Table(MaLuat);
        if (dt.Rows.Count > 0)
        {
            DataRow R = dt.Rows[0];
            sTen = Convert.ToString(R["sTen"]);
            bTrangThai = Convert.ToBoolean(R["bTrangThai"]);
        }
        dt.Dispose();
    }


    if (bTrangThai == true)
    {
        tgTrangThai = "on";
    }
}

@using (Html.BeginForm("Edit", "Luat", new { ParentID = ParentID, MaLuat = MaLuat }))
{
    @Html.Hidden(ParentID + "_DuLieuMoi", ViewData["DuLieuMoi"]);


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                @if (Convert.ToString(ViewData["DuLieuMoi"]) == "1")
                                {
                                    @MvcHtmlString.Create("THÊM MỚI LUẬT")
                                }
                                else
                                {
                                    @MvcHtmlString.Create("SỬA LUẬT")
                                }
                            </h3>
                            <div class="box-tools">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                                </ul>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>Tên bảng hiển thị<span style="color: red;">&nbsp;*</span></label>
                                        @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, sTen, "sTen", "", "placeholder=\"Tên luật\" class=\"form-control\""))
                                        @Html.ValidationMessage(ParentID + "_" + "err_sTen")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <lable>@MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgTrangThai, "bTrangThai", "", "type=\"checkbox\""))&nbsp;&nbsp;&nbsp;&nbsp;Hoạt động</lable>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" type="submit">Lưu</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Hủy</button>
                            </div>
                        </div>
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->

}


