@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.App_Code
@using APP0200025.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "BC_Vung";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String _MaMien = CString.SafeString(Request.QueryString["_MaMien"]);
    String _TieuDe = CString.SafeString(Request.QueryString["_TieuDe"]);
    String _FromDate = CString.SafeString(Request.QueryString["_FromDate"]);
    String _ToDate = CString.SafeString(Request.QueryString["_ToDate"]);

    SelectOptionList slMien = CMien.Get_Dropdown("--- Miền ---");

    DataTable dt = CVung.Get_Table(_MaMien, _TieuDe, _FromDate, _ToDate);

    DataRow R;
}
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.css")">
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("Search", "Vung", new { ParentID = ParentID }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@Lang["ChucNang_Item09"].ToString()</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-3">
                                @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, slMien, _MaMien, "MaMien", "", "class=\"form-control\""))
                            </div>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, _TieuDe, "TieuDe", "", "placeholder=\"Thông tin tìm kiếm\" type=\"text\" class=\"form-control\""))
                            </div>
                            <div class="col-xs-2">
                                @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, _FromDate, "FromDate", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\""))
                            </div>
                            <div class="col-xs-2">
                                @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, _ToDate, "ToDate", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <button class="btn btn-block btn-default" type="submit">@Lang["ChucNang_Item10"].ToString()</button>
                    </div>
                }
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">DANH SÁCH VÙNG</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="@Url.Action("Edit", "Vung")"><i class="fa fa-plus-square"></i> @Lang["ChucNang_Item01"].ToString()</a></li>
                            <li><a href="@Url.Action("Sort", "Vung")"><i class="fa fa-sort-numeric-asc"></i> @Lang["ChucNang_Item04"].ToString()</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table id="tblListData" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 3%; text-align: center;">STT</th>
                                    <th style="width: 15%;">Miền</th>
                                    <th style="text-align: center;">Tiêu đề</th>
                                    <th style="width: 10%; text-align: center;">Trạng thái</th>
                                    <th style="width: 10%; text-align: center;">Ngày đăng</th>
                                    <th style="width: 10px;" title="Sửa"><span class="badge bg-blue"><i class="fa fa-pencil"></i></span></th>
                                    <th style="width: 10px" title="Xóa"><span class="badge bg-red"><i class="fa fa-times"></i></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (dt.Rows.Count > 0)
                                    {
                                        for (int i = 0; i < dt.Rows.Count; i++)
                                        {
                                            R = dt.Rows[i];

                                            int iSTT = i + 1;

                                            String sTrangThai = "", sTenMien = "";
                                            sTenMien = CMien.Get_Name(Convert.ToString(R["iID_MaMien"]));
                                            Boolean bTrangThai = Convert.ToBoolean(R["bTrangThai"]);
                                            if (bTrangThai == true)
                                            {
                                                sTrangThai = "<span class=\"badge bg-red\"><i class=\"fa fa-unlock\"></i></span>";
                                            }
                                            else
                                            {
                                                sTrangThai = "<span class=\"badge bg-red\"><i class=\"fa fa-unlock-alt\"></i></span>";
                                            }

                                            String strEdit = MyHtmlHelper.ActionLink(Url.Action("Edit", "Vung", new { iID_MaVung = R["iID_MaVung"] }), "<span class=\"badge bg-blue\"><i class=\"fa fa-pencil\"></i></span>", "Edit", "");
                                            String strDelete = MyHtmlHelper.ActionLink(Url.Action("Delete", "Vung", new { iID_MaVung = R["iID_MaVung"] }), "<span class=\"badge bg-red\"><i class=\"fa fa-times\"></i></span>", "Delete", "");

                                            <tr>
                                                <td style="text-align: center;">@iSTT.ToString()</td>
                                                <td>@sTenMien.ToString()</td>
                                                <td>@R["sTenVung"].ToString()</td>
                                                <td style="text-align: center;">@MvcHtmlString.Create(sTrangThai)</td>
                                                <td>@Convert.ToDateTime(R["dNgayTao"]).ToString("dd-MM-yyyy HH:mm")</td>
                                                <td style="width: 10px;" title="Sửa">@MvcHtmlString.Create(strEdit)</td>
                                                <td style="width: 10px" title="Xóa">@MvcHtmlString.Create(strDelete)</td>
                                            </tr>
                                        }
                                    }
                                    dt.Dispose();
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                @*<div class="box-footer clearfix">
                    </div>*@
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
<!-- DataTables -->
<script src="@(Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js"))"></script>
<script>
    $(function () {
        $('#tblListData').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false
        });
    });
</script>
