@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using APP0200025.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Edit";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    String MaTinh = CString.SafeString(Convert.ToString(ViewData["iID_MaTinh"]));
    String iID_MaMien = "", iID_MaVung = "", sTenTinh = "", tgTrangThai = "";
    Boolean bTrangThai = false;
    if (String.IsNullOrEmpty(MaTinh) == false)
    {
        DataTable dt = CTinh.Get_Table_Detail(Convert.ToString(MaTinh));
        DataRow R;
        R = dt.Rows[0];

        MaTinh = Convert.ToString(R["iID_MaTinh"]);
        iID_MaMien = Convert.ToString(R["iID_MaMien"]);
        iID_MaVung = Convert.ToString(R["iID_MaVung"]);
        sTenTinh = Convert.ToString(R["sTenTinh"]);
        bTrangThai = Convert.ToBoolean(R["bHoatDong"]);
        dt.Dispose();
    }
    if (bTrangThai == true)
    {
        tgTrangThai = "on";
    }
    string sreadonly = "";
    if (String.IsNullOrEmpty(MaTinh) == false)
    {
        sreadonly = "readonly=\"readonly\"";
    }
    SelectOptionList slMien = CMien.Get_Dropdown("--- Miền ---");
}


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("Edit", "Tinh", new { ParentID = ParentID, MaTinh = MaTinh }))
                {
                    @Html.Hidden(ParentID + "_DuLieuMoi", ViewData["DuLieuMoi"]);

                    <div class="box-header with-border">
                        <h3 class="box-title">NHẬP THÔNG TIN TỈNH THÀNH</h3>
                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="Edit_sTenCongTy">Mã miền<span style="color: red;">&nbsp;*</span></label>
                                    @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, slMien, iID_MaMien, "iID_MaMien", "", "onchange=\"ChonMien(this.value);\" class=\"form-control\""))
                                    @Html.ValidationMessage(ParentID + "_" + "err_iID_MaMien")
                                    <script type="text/javascript">
                                    function ChonMien(MaMien) {
                                        var _ParentID = '@(ParentID)';
                                        var url = unescape('@MvcHtmlString.Create(Url.Action("getAjax?ParentID=#0&MaMien=#1&MaVung=#2", "Vung"))');
                                        url = unescape(url.replace("#0", _ParentID));
                                        url = unescape(url.replace("#1", MaMien));
                                        url = unescape(url.replace("#2", ''));
                                        $.getJSON(url, function (data) {
                                            document.getElementById("divVung").innerHTML = data;
                                        });
                                    }
                                    </script>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="Edit_sTenCongTy">Mã vùng<span style="color: red;">&nbsp;*</span></label>
                                    <div id="divVung">@MvcHtmlString.Create(VungController.getObj(ParentID, iID_MaMien, iID_MaVung))</div>
                                    @Html.ValidationMessage(ParentID + "_" + "err_iID_MaVung")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="Edit_sTenCongTy">Mã tỉnh (gồm 2 ký tự số liền nhau, ví dụ: 08)<span style="color: red;">&nbsp;*</span></label>
                                    @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, MaTinh, "iID_MaTinh", "", "" + sreadonly + " type=\"text\" placeholder=\"Mã tỉnh\" class=\"form-control\""))
                                    @Html.ValidationMessage(ParentID + "_" + "err_sMaTinh")
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="Edit_sTenCongTy">Tiêu đề<span style="color: red;">&nbsp;*</span></label>
                                    @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, sTenTinh, "sTenTinh", "", "type=\"text\" placeholder=\"Tiêu đề\" class=\"form-control\""))
                                    @Html.ValidationMessage(ParentID + "_" + "err_sTenTinh")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="Edit_bTrangThai">
                                        @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgTrangThai, "bTrangThai", "", "type=\"checkbox\""))
                                        Hoạt động
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-9"></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="submit">Save</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
