@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@using APP0200025.Models
@model DATA0200025.Models.HoSoModels
@{
    Layout = null;
    String ServerURL = CHamRieng.Get_Domain();
    String ServerFile = CHamRieng.Get_Domain_File();

    var lstFile = clFileDinhKem.GetFileByHoSoLoaiKhac(Model.iID_MaHoSo);
    var lstFileHD = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 100);
    var lstFileHDon = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 101);
    var lstFilePDG = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 102);
    var lstFileKQPTCL = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 1);
    var lstFileTCCBAP = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 3);
    var lstFileGCNLHTD = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 5);
    var lstFileGCNPTNC = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 8);
    int i = 0;
    List<string> lstPath = new List<string>();
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
<style>
    #canvas_container {
        width: 100%;
        height: 790px;
        overflow: auto;
    }

    #canvas_container {
        background: #333;
        text-align: center;
        border: solid 3px;
    }
</style>
<div class="box-header with-border">
    <h3 class="box-title">Danh sách file TACN</h3>
</div><!-- /.box-header -->
<div class="box-body">
    <div class="table-responsive" style="height: 350px; overflow: scroll;">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin hợp đồng mua bán</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="width: 30%; text-align: center;">Hợp đồng mua bán số</th>
                        <th style="width: 30%; text-align: center;">Ngày hợp đồng</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileHD)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sHopDong</td>
                            <td>@string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin hóa đơn mua bán</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="width: 30%; text-align: center;">Hóa đơn mua bán số</th>
                        <th style="width: 30%; text-align: center;">Ngày trên hóa đơn</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileHDon)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sHopDong</td>
                            <td>@string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin phiếu đóng gói</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="width: 30%; text-align: center;">Phiếu đóng gói số</th>
                        <th style="width: 30%; text-align: center;">Ngày đóng gói</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFilePDG)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sHopDong</td>
                            <td>@string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin phiếu kết quả phân tích chất lượng của nước xuất khẩu cấp cho lô hàng</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="text-align: center;">Tên file</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileKQPTCL)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sTenFile</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin bản tiêu chuẩn công bố áp dụng của tổ chức, cá nhân nhập khẩu</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="text-align: center;">Tên file</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileTCCBAP)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sTenFile</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin giấy chứng nhận lưu hành tự do (đối với nguyên liệu đơn, thức ăn truyền thống)</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="text-align: center;">Tên file</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileGCNLHTD)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sTenFile</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin Giấy chứng nhận phân tích nguy cơ và kiểm soát điểm tới hạn (đối với nguyên liệu đơn)</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="text-align: center;">Tên file</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileGCNPTNC)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sTenFile</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>                
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin file đính kèm khác</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="text-align: center;">Tên file</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFile)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sTenFile</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
    </div>
</div>
@{
    String[] path;
    if (lstPath.Count > 0)
    {
        path = lstPath.ToArray();
    }
    else
    {
        path = new string[1];
        path[0] = "";
    }
}
<div class="box-body">
    @*<script src="@(Url.Content("~/Content/plugins/pdf/pdf.js"))"></script>*@
    <div id="divDinhKem" style="display: block; width: 100%; height: 805px;"></div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '.btnview', function (e) {
            //debugger;
            var filePath =  $(this).data("src");
            var n = filePath.toUpperCase().indexOf(".PDF");
            if (n > 0) {
                $("#divDinhKem").html('<div id="navigation_controls" style="float: left; width: 50%;"><button id="go_previous">Trước</button><input id="current_page" value="1" type="number" style="width: 40px" /> <button id="go_next">Sau</button></div><div id="zoom_controls"  style="float: right;"><button id="zoom_in">Phóng to</button><button id="zoom_out">Thu nhỏ</button></div><div id="canvas_container"><canvas id="pdf_renderer"></canvas></div>');
                loadPDF(filePath);
            }
            else {
                $("#divDinhKem").html('<img id="imgDinhKem" style="width: 100%; height: 100%;" />');
                $("#imgDinhKem").attr('src', filePath);
            }
        });

        loadPage();
    });

    function loadPage() {
        var filePath = '@Convert.ToString(path[0])';
        if (filePath != "") {
            var n = filePath.toUpperCase().indexOf(".PDF");
            if (n > 0) {
                $("#divDinhKem").html('<div id="navigation_controls" style="float: left; width: 50%;"><button id="go_previous">Trước</button><input id="current_page" value="1" type="number" style="width: 40px" /> <button id="go_next">Sau</button></div><div id="zoom_controls"  style="float: right;"><button id="zoom_in">Phóng to</button><button id="zoom_out">Thu nhỏ</button></div><div id="canvas_container"><canvas id="pdf_renderer"></canvas></div>');
                loadPDF(filePath);
            }
            else {
                $("#divDinhKem").html('<img id="imgDinhKem" style="width: 100%; height: 100%;" />');
                $("#imgDinhKem").attr('src', filePath);
            }
        }
    }

</script>