@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@using APP0200025.Models
@model DATA0200025.Models.HoSoModels
@{
    Layout = null;
    var lstFile = clFileDinhKem.GetFileByHoSo(Model.iID_MaHoSo);
    int i = 0;
    string path = "";
}
<div class="box-header with-border">
    <h3 class="box-title">Danh sách TACN</h3>

</div><!-- /.box-header -->
<div class="box-body">
    <div class="table-responsive" style="margin-top:30px;height:auto;">
        <table id="tblListData" class="table table-bordered table-hover table-striped">
            <tr>
                <th style="width: 3%; text-align: center;">STT</th>
                <th style="width: 30%; text-align: center;">Tên file</th>
                <th style="width: 30%; text-align: center;">Thông tin file (Số,ngày)</th>
                <th style="width: 18%; text-align: center;">Xem</th>
                <th style="width: 18%; text-align: center;">Tảis</th>
            </tr>
            @foreach (var item in lstFile)
            {
                i++;
                if(i==1)
                {
                    path = item.sDuongDan;
                }
                <tr>
                    <td style="text-align: center;">@i</td>
                    <td>@item.sTenLoaiFile</td>
                    <td>@item.sHopDong , @string.Format("{0:dd/MM/yyyy}",item.dNgayHopDong)</td>
                    <td><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                    <td> <a class="openyeucaubosung" href="@item.sDuongDan" >
                            <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                        </a>
                    </td>
                </tr>
            }


        </table>
    </div>
</div>
<div class="box-body">
    <div style="height:643px;">
        <iframe id="ifViewFile" src="@path" style="height:643px;width:560px; object-fit:fill;"> </iframe>
    </div>
</div>
<script>
    $(document).ready(function () {
       
        $(document).on('click', '.btnview', function (e) {
            debugger;
            var filePath = $(this).data("src");
            $("#ifViewFile").attr('src',filePath); 
        });
    });
</script>