@using System
@using System.Collections.Specialized
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using DATA0200025.Models
@model HangHoaModels
@{
    Layout = null;
    string ParentID = "TC";

    HoSoModels hoSo = clHoSo.GetHoSoById(Model.iID_MaHoSo);

    int i = 0, j = 0;
}
@*<script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/FileSaver.js"></script>
<script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/jquery.wordexport.js"></script>*@
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/FileSaver.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/jquery.wordexport.js"))"></script>
<section>
    <div class="box-body">
        <div id="divWord" class="row" style="margin: auto; width: 854px; padding: 30px 40px; border: solid 2px #000000;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td align="center" valign="top" style="width: 40%;">
                        <p style="margin: 0; padding: 5px 0px;">BỘ NÔNG NGHIỆP</p>
                        <p style="margin: 0; padding: 5px 0px;">VÀ PHÁT TRIỂN NÔNG THÔN</p>
                        <p style="margin: 0; padding: 5px 0px;"><u><b>CỤC CHĂN NUÔI</b></u></p>
                    </td>
                    <td align="center" valign="top" style="width: 60%;">
                        <p style="margin: 0; padding: 5px 0px;"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
                        <p style="margin: 0; padding: 5px 0px;"><u><b>Độc lập - Tự do - Hạnh phúc</b></u></p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 10px 0px;">
                        <p>Số: </p>
                    </td>
                    <td align="center" style="padding: 10px 0px;">
                        <p>Hà Nội, ngày ... tháng ... năm .....</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2" style="padding: 10px 0px;"><p><b>THÔNG BÁO</b></p></td>
                </tr>
                <tr>
                    <td align="center" colspan="2" style="padding: 6px 0px;"><p><u><b>Kết quả kiểm tra nhà nước về chất lượng thức ăn chăn nuôi nhập khẩu</b></u></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>1. Thông tin của lô TACN được kiểm tra</b></p></td>
                </tr>
                <tr>
                    <td colspan="2" valign="top">
                        <table border="1" cellpadding="3" cellspacing="3" style="width: 100%;">
                            <tr style="height: 35px;">
                                <td align="center" style="width: 5%;"><b>STT</b></td>
                                <td align="center"><b>Tên TACN</b></td>
                                <td align="center" style="width: 10%;"><b>Mã số công nhận</b></td>
                                <td align="center" style="width: 15%;"><b>Hãng sản xuất</b></td>
                                <td align="center" style="width: 15%;"><b>Nước sản xuất</b></td>
                                <td align="center" style="width: 15%;"><b>Khối lượng</b></td>
                                <td align="center" style="width: 15%;"><b>Số lượng</b></td>
                                <td align="center" style="width: 10%;"><b>Ghi chú</b></td>
                            </tr>
                            <tr style="height: 25px;">
                                <td align="center">1</td>
                                <td align="left">Vi ta min B1</td>
                                <td align="left">I.1</td>
                                <td align="left">PROVIMI BV</td>
                                <td align="left">NETHLDS</td>
                                <td align="left">1300 KLGRM; 2300 KLGRM</td>
                                <td align="left">3 Kiện/Hộp/Bao</td>
                                <td align="left"></td>
                            </tr>
                            <tr style="height: 25px;">
                                <td align="center">2</td>
                                <td align="left">Vi ta min B1</td>
                                <td align="left">I.1</td>
                                <td align="left">PROVIMI BV</td>
                                <td align="left">NETHLDS</td>
                                <td align="left">1300 KLGRM; 2300 KLGRM</td>
                                <td align="left">3 Kiện/Hộp/Bao</td>
                                <td align="left"></td>
                            </tr>
                            <tr style="height: 25px;">
                                <td align="center">3</td>
                                <td align="left">Vi ta min B1</td>
                                <td align="left">I.1</td>
                                <td align="left">PROVIMI BV</td>
                                <td align="left">NETHLDS</td>
                                <td align="left">1300 KLGRM; 2300 KLGRM</td>
                                <td align="left">3 Kiện/Hộp/Bao</td>
                                <td align="left"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Cửa khẩu nhập: @hoSo.sMua_NoiNhan</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Thời gian nhập khẩu <i>(tháng, năm)</i>: @hoSo.sMua_FromDate-@hoSo.sMua_ToDate</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Thuộc lô hàng có các chứng từ sau: </p></td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" style="padding: 5px 0px;">
                        @{ 
                            var lstFileHD = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 100);
                        }
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Thông tin hợp đồng</legend>
                            <div class="control-group">
                                <table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
                                    <tr>
                                        <th style="width: 3%; text-align: center;">STT</th>
                                        <th style="text-align: center;">Hợp đồng mua bán số</th>
                                        <th style="width: 30%; text-align: center;">Ngày hợp đồng</th>
                                    </tr>
                                    @foreach (var item in lstFileHD)
                                    {
                                        i++;
                                        <tr>
                                            <td style="text-align: center;">@i</td>
                                            <td align="left">@item.sTenLoaiFile</td>
                                            <td align="left">@item.sHopDong , @string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" style="padding: 5px 0px;">
                        @{
                            var lstFileHdon = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 101);
                        }
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Thông tin hoa đơn</legend>
                            <div class="control-group">
                                <table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
                                    <tr>
                                        <th style="width: 3%; text-align: center;">STT</th>
                                        <th style="text-align: center;">Hóa đơn mua bán số</th>
                                        <th style="width: 30%; text-align: center;">Ngày hóa đơn</th>
                                    </tr>
                                    @foreach (var item in lstFileHdon)
                                    {
                                        j++;
                                        <tr>
                                            <td style="text-align: center;">@j</td>
                                            <td align="left">@item.sTenLoaiFile</td>
                                            <td align="left">@item.sHopDong , @string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Giấy đăng ký kiểm tra chất lượng số: @hoSo.sSoGDK &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ngày: @string.Format("{0:dd/MM/yyyy}", hoSo.dNgayXacNhan)</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Tên tổ chức nhập khẩu: @hoSo.sTenDoanhNghiep </p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Địa chỉ: @hoSo.sMua_DiaChi</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>2. Căn cứ kiểm tra</b></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Tiêu chuẩn công bố áp dụng (số hiệu TCCS): </p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Quy chuẩn kỹ thuật <i>(nhóm, loại hàng hóa tại QCVN 01-190/BNNPTNT)</i>: Thức ăn truyền thống cám tại QCVN 01-190/BNNPTNT</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>3. Kết quả đánh giá sự phù hợp</b></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Giấy chứng nhận hợp quy lô TACN nhập khẩu số: 03432429/2020/CN do tổ chức chứng nhận VCNET cấp ngày: 20/11/2020.</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>4. Kết quả kiểm tra nhà nước</b></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>Lô hàng đáp ứng yêu cầu chất lượng hàng hóa nhập khẩu./.</b></p></td>
                </tr>
                <tr>
                    <td align="right" colspan="2" style="padding: 10px 0px;">
                        <p></p>
                    </td>
                </tr>
            </table>
        </div>

        @*<div class="row">
            <div class="col-sm-12 text-center">

                <a class="word-export" href="#">Click me</a>

                @if (Model.iID_MaTrangThai == 34)
                {
                    <button class="btn btn-danger" data-id="@Model.iID_MaHangHoa" id="btnThuHoi">Thu hồi </button>
                }
                else
                {
                    <a class="btn" style="background-color:#10de79;color:white;margin-right:5px;" href="@Url.Action("SoanThongBaoKetQua","ChoXuLyKetQua",new {iID_MaHangHoa=Model.iID_MaHangHoa })">Soạn thông báo kết quả kiểm tra</a>
                    <a class="btn openyeucaubosung" style="background-color:#f1bc10;color:white;margin-right: 5px;" data-id="@Model.iID_MaHangHoa" data-toggle="modal" href="#YeuCauBoSung" data-dismiss="modal" type="button">Yêu cầu bổ sung</a>
                    <a class="btn" style="background-color:#023658;color:white;" id="btnThoat">Thoát</a>
                }
            </div>
        </div>*@
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("a.btnXuatWord").click(function (event) {
            $("#divWord").wordExport();
        });
    });
</script> 