@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@using APP0200025.Models
@model DATA0200025.Models.HoSoModels
@{
    Layout = null;
    string ParentID = "Edit";
}

<div class="box-header with-border">
    <h3 class="box-title">Bên bán hàng</h3>

</div><!-- /.box-header -->
<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="">Tên bên bán hàng<span style="color: red;">&nbsp;*</span>: @(Model.sBan_Name)</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="">Địa chỉ<span style="color: red;">&nbsp;*</span>: @(Model.sBan_DiaChi)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Điện thoại<span style="color: red;">&nbsp;*</span>: @(Model.sBan_Tel)</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Fax : @(Model.sBan_Fax)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Nước<span style="color: red;">&nbsp;*</span>: @(Model.sBan_QuocGia)</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Nơi xuất hàng<span style="color: red;">&nbsp;*</span>: @(Model.sBan_NoiXuat)</label>
            </div>
        </div>
    </div>

</div>
