@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@model HangHoaModels
@{
    Layout = null;
    string ParentID = "Edit";
    DataTable dtctKT = clHangHoa.Get_ThongTinChiTieuChatLuong(Model.iID_MaHangHoa);
    DataTable dtctAT = clHangHoa.Get_ThongTinChiTieuAnToanDN(Model.iID_MaHangHoa);
    DataTable dtctKL = clHangHoa.Get_ThongTinKhoiLuong(Model.iID_MaHangHoa);
    DataRow r;
}
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left">Nhóm TACN:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sTenNhom</label>
    </div>
</div>
<div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left">Phân nhóm TACN:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sTenPhanNhom</label>

    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left">Loại TACN:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sTenLoaiHangHoa</label>
    </div>
</div>
<div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left">Phân loại:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sTenPhanLoai</label>

    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left">Mã số công nhận thức ăn chăn nuôi được phép lưu hành tại Việt nam:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sMaSoCongNhan</label>
    </div>
</div>
<div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left">Hãng sản xuất:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sHangSanXuat</label>

    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left">Nước sản xuất:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sTenQuocGia</label>
    </div>
</div>
<div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left">Thành phần nguyên liệu:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sThanhPhan</label>

    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left">Dạng màu sản phẩm:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sMauSac</label>
    </div>
</div>
<div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left">Số hiệu tiêu chuẩn cơ sở:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.sSoHieu</label>

    </div>
</div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left">Quy chuẩn kỹ thuật:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@(HamRiengModels.Get_Name_QuyChuanKyThuat(Convert.ToInt32(Model.sQuyChuan)))</label>
    </div>
</div>
<div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left">Giá trị TACN:</label>
    <div class="col-sm-6">
        <label class="control-label" style="text-align:left">@Model.rGiaVN  @Model.sDonViTinh</label>
        @*<label class="control-label" style="text-align:left">@Model.rGiaUSD @Model.sDonViTinh</label>*@
    </div>
</div>

<!---->

<div class="table-responsive" style="margin-top:30px;height:auto;">
    <table id="tblListData" class="table table-bordered table-hover table-striped">
        <tr>
            <th style="width: 3%; text-align: center;">STT</th>
            <th style="width: 30%; text-align: center;">Tên chỉ tiêu chất lượng</th>
            <th style="width: 30%; text-align: center;">Hình thức công bố</th>
            <th style="width: 18%; text-align: center;">Hàm lượng</th>
            <th style="width: 18%; text-align: center;">Đơn vị tính</th>
        </tr>
        @for (int i = 0; i < dtctKT.Rows.Count; i++)
        {
            r = dtctKT.Rows[i];
            <tr>
                <td style="text-align: center;">@(i+1)</td>
                <td>@r["sChiTieu"]</td>
                <td>@r["sHinhThuc"]</td>
                <td>@r["sHamLuong"]</td>
                <td>@r["sDonViTinh"]</td>
            </tr>
        }


    </table>
</div>

<div class="table-responsive" style="margin-top:30px;">
    <table id="tblListData" class="table table-bordered table-hover table-striped">
        <tr>
            <th style="width: 3%; text-align: center;">STT</th>
            <th style="width: 30%; text-align: center;">Tên chỉ tiêu an toàn</th>
            <th style="width: 30%; text-align: center;">Hình thức công bố</th>
            <th style="width: 18%; text-align: center;">Hàm lượng</th>
            <th style="width: 18%; text-align: center;">Đơn vị tính</th>
        </tr>

        @for (int i = 0; i < dtctAT.Rows.Count; i++)
        {
            r = dtctAT.Rows[i];
            <tr>
                <td style="text-align: center;">@(i+1)</td>
                <td>@r["sChiTieu"]</td>
                <td>@r["sHinhThuc"]</td>
                <td>@r["sHamLuong"]</td>
                <td>@r["sDonViTinh"]</td>
            </tr>
        }

    </table>
</div>

<div class="table-responsive" style="margin-top:30px;">
    <table id="tblListData" class="table table-bordered table-hover table-striped">
        <tr>
            <th style="width: 3%; text-align: center;">STT</th>
            <th style="width: 18%; text-align: center;">Khối lượng</th>
            <th style="width: 20%; text-align: center;">Đơn vị tính khối lượng</th>
            <th style="width: 18%; text-align: center;">Khối lượng(tấn)</th>
            <th style="width: 10%; text-align: center;">Số lượng</th>
            <th style="width: 30%; text-align: center;">Đơn vị tính số lượng</th>
        </tr>

        @for (int i = 0; i < dtctKL.Rows.Count; i++)
        {
            r = dtctKL.Rows[i];
            <tr>
                <td style="text-align: center;">@(i+1)</td>
                <td>@r["rKhoiLuong"]</td>
                <td>@r["sDonViTinhKL"]</td>
                <td>@r["rKhoiLuongTan"]</td>
                <td>@r["rSoLuong"]</td>
                <td>@r["sDonViTinhSL"]</td>
            </tr>
        }

    </table>
</div>





