@using System
@using System.Collections.Specialized
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using DATA0200025.Models
@model HangHoaModels
@{
    Layout = null;
    String ServerURL = CHamRieng.Get_Domain();
    string ParentID = "TC";
    GiayChungNhanHopQuyModels giayChungNhan = clHangHoa.GetChungNhanHopQuy(Model.iID_MaHangHoa);

    var fileKetQuas = clFileDinhKem.GetFileByHangHoa(Model.iID_MaHangHoa, (int)HamRiengModels.LoaiTapTinDinhKem.PhieuKetQuaPhanTich);
    var hosoXNCL = clHangHoa.GetHoSoXNCL(Model.iID_MaHoSo, Model.iID_MaHangHoa);
    if (hosoXNCL == null)
    {
        hosoXNCL = new HoSoXNCLModels();
    }
    int i = 0;

    String sKetQua = "", sLinkFile = "";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>*@
<section>
    <div class="box-body">
        <div class="form-horizontal">
            <div class="col-md-5">
                <div class="form-group">
                    <h4 class="text-uppercase">Thông tin hồ sơ đăng ký xác nhận chất lượng</h4>
                </div>
                <div class="form-group">
                    <label for="">Mã hồ sơ <span style="color:#FF0000"> (*)</span></label>
                    @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sMaHoSo, "sMaHoSo", "", "type=\"text\" class=\"form-control\""))
                </div>
                <div class="form-group">
                    <label for="">Tên thức ăn chăn nuôi <span style="color:#FF0000"> (*)</span></label>
                    @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sTenHangHoa, "sTenHangHoa", "", "type=\"text\" class=\"form-control\""))
                </div>
                <div class="form-group">
                    <label for="">Kết quả đánh giá sự phù hợp <span style="color:#FF0000"> (*)</span></label>
                    @if (@hosoXNCL.iKetQua == 2)
                    {
                        sKetQua = "Phù hợp";
                    }
                    else
                    {
                        sKetQua = "Không phù hợp";
                    }

                    @MvcHtmlString.Create(MyHtmlHelper.Label(sKetQua, "sTenHangHoa", "", "type=\"text\" class=\"form-control\""))
                </div>
                <div class="form-group">
                    <label for="">Tổ chức (Tổ chức đánh giá sự phù hợp) <span style="color:#FF0000"> (*)</span></label>
                    @MvcHtmlString.Create(MyHtmlHelper.Label(hosoXNCL.sTenToChuc, "sTenToChuc", "", "type=\"text\" class=\"form-control\""))
                </div>
                <div class="form-group">
                    <h4 class="text-uppercase">Thông tin giấy chứng nhận hợp quy lô TACN nhập khẩu</h4>
                </div>
                @*@if (giayChungNhan != null)
                {
                    sLinkFile = giayChungNhan.sDuongDan;

                    <div class="form-group">
                        <label for="">Số <span style="color:#FF0000"> (*)</span></label>
                        @MvcHtmlString.Create(MyHtmlHelper.Label(giayChungNhan.sSoChungNhan, "sMaHoSo", "", "type=\"text\" class=\"form-control\""))
                    </div>
                    <div class="form-group">
                        <label for="">Ngày cấp <span style="color:#FF0000"> (*)</span></label>
                        @MvcHtmlString.Create(MyHtmlHelper.Label(giayChungNhan.dNgayCap.ToString("dd/MM/yyyy"), "sNgayCap", "", "type=\"text\" class=\"form-control\""))
                    </div>
                    <div class="form-group">
                        <label for="">File đính kèm <span style="color:#FF0000"> (*)</span></label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-align-center" style="width: 5%;">STT</th>
                                    <th class="text-align-center">Tên file</th>
                                    <th class="text-align-center" style="width: 10%;" colspan="2">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>@giayChungNhan.sTenFile</td>
                                    <td align="center">
                                        <span class='badge bg-blue btnShowFile' data-src="@giayChungNhan.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span>
                                    </td>
                                    <td align="center">
                                        <a href="@giayChungNhan.sDuongDan"><span class='badge bg-blue'><i class='fa fa-download'></i></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }*@
                @if (hosoXNCL != null)
                {
                    sLinkFile = hosoXNCL.sLinkFileChungNhan;

                    <div class="form-group">
                        <label for="">Số <span style="color:#FF0000"> (*)</span></label>
                        @MvcHtmlString.Create(MyHtmlHelper.Label(hosoXNCL.sGiayChungNhan, "sMaHoSo", "", "type=\"text\" class=\"form-control\""))
                    </div>
                    <div class="form-group">
                        <label for="">Ngày cấp <span style="color:#FF0000"> (*)</span></label>
                        @MvcHtmlString.Create(MyHtmlHelper.Label(hosoXNCL.dNgayCap.ToString("dd/MM/yyyy"), "sNgayCap", "", "type=\"text\" class=\"form-control\""))
                    </div>
                    <div class="form-group">
                        <label for="">File đính kèm <span style="color:#FF0000"> (*)</span></label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-align-center" style="width: 5%;">STT</th>
                                    <th class="text-align-center">Tên file</th>
                                    <th class="text-align-center" style="width: 10%;" colspan="2">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>@hosoXNCL.sTenFileChungNhan</td>
                                    <td align="center">
                                        <span class='badge bg-blue btnShowFile' data-src="@hosoXNCL.sLinkFileChungNhan"><i class='fa fa-fw fa-eye fa-lg'></i></span>
                                    </td>
                                    <td align="center">
                                        <a href="@hosoXNCL.sLinkFileChungNhan"><span class='badge bg-blue'><i class='fa fa-download'></i></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

                <div class="form-group">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-align-center" style="width: 5%;">STT</th>
                            <th class="text-align-center">Phiếu kết quả phân tích</th>
                            <th class="text-align-center" style="width: 10%;" colspan="2">Thao tác</th>
                        </tr>
                        @foreach (var item in fileKetQuas)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.sTenFile</td>
                                <td align="center">
                                    <span class='badge bg-blue btnShowFile' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span>
                                </td>
                                <td align="center">
                                    <a href="@item.sDuongDan"><span class='badge bg-blue'><i class='fa fa-download'></i></span></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <div id="divDinhKemXNCL" style="display: block; width: 100%; height: 805px; overflow: scroll;"></div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(document).on('click', '.btnShowFile', function (e) {
            //debugger;
            var filePath = $(this).data("src");
            var n = filePath.toUpperCase().indexOf(".PDF");
            if (n > 0) {
                $("#divDinhKemXNCL").html('<div id="navigation_controls" style="float: left; width: 50%;"><button id="go_previous_xncl">Trước</button><input id="current_page_xncl" value="1" type="number" style="width: 40px" /> <button id="go_next_xncl">Sau</button></div><div id="zoom_controls_xncl"  style="float: right;"><button id="zoom_in_xncl">Phóng to</button><button id="zoom_out_xncl">Thu nhỏ</button></div><div id="canvas_container"><canvas id="pdf_renderer_xncl"></canvas></div>');
                loadPDFXNCL(filePath);
            }
            else {
                $("#divDinhKemXNCL").html('<img id="imgDinhKem" style="width: 100%" />');
                $("#imgDinhKem").attr('src', filePath);
            }
        });

        loadPage_sub();
    });

    function loadPage_sub() {
        var filePath = '@(sLinkFile)';
        if (filePath != "") {
            var n = filePath.toUpperCase().indexOf(".PDF");
            if (n > 0) {
                $("#divDinhKemXNCL").html('<div id="navigation_controls" style="float: left; width: 50%;"><button id="go_previous_xncl">Trước</button><input id="current_page_xncl" value="1" type="number" style="width: 40px" /> <button id="go_next_xncl">Sau</button></div><div id="zoom_controls_xncl"  style="float: right;"><button id="zoom_in_xncl">Phóng to</button><button id="zoom_out_xncl">Thu nhỏ</button></div><div id="canvas_container"><canvas id="pdf_renderer_xncl"></canvas></div>');
                loadPDFXNCL(filePath);
            }
            else {
                $("#divDinhKemXNCL").html('<img id="imgDinhKem" style="width: 100%" />');
                $("#imgDinhKem").attr('src', filePath);
            }
        }
    }
</script>