@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@using APP0200025.Models
@model DATA0200025.Models.HoSoModels
@{
    Layout = null;
    string ParentID = "Edit";
}

<div class="box-header with-border">
    <h3 class="box-title">Bên mua hàng</h3>

</div><!-- /.box-header -->
<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="">Tên bên mua hàng<span style="color: red;">&nbsp;*</span>: @(Model.sMua_Name)</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="">Địa chỉ<span style="color: red;">&nbsp;*</span>: @(Model.sMua_DiaChi)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Điện thoại<span style="color: red;">&nbsp;*</span>: @(Model.sMua_Tel)</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Fax<span style="color: red;">&nbsp;*</span>: @(Model.sMua_Fax)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="">Nơi nhận hàng: @(Model.sMua_NoiNhan)</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="">
                    Thời gian nhập khẩu dự kiến <span style="color: red;">&nbsp;*</span>: @(string.Format("{0}-{1}", Model.sMua_FromDate.ToString("dd/MM/yyyy"), Model.sMua_ToDate.ToString("dd/MM/yyyy")))
                </label>
            </div>
        </div>
    </div>

</div>
