@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@using APP0200025.Models
@model DATA0200025.Models.HoSoModels
@{
    Layout = null;
    String ServerURL = CHamRieng.Get_Domain();

    var lstFile = clFileDinhKem.GetFileByHoSoLoaiKhac(Model.iID_MaHoSo);
    var lstFileHD = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 100);
    var lstFileHDon = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 101);
    var lstFilePDG = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 102);
    int i = 0;
    List<string> lstPath = new List<string>();
}
<div class="box-header with-border">
    <h3 class="box-title">Danh sách TACN</h3>
</div><!-- /.box-header -->
<div class="box-body">
    <div class="table-responsive">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin hợp đồng mua bán</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="width: 30%; text-align: center;">Hợp đồng mua bán số</th>
                        <th style="width: 30%; text-align: center;">Ngày hợp đồng</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileHD)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sHopDong</td>
                            <td>@string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin hóa đơn mua bán</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="width: 30%; text-align: center;">Hóa đơn mua bán số</th>
                        <th style="width: 30%; text-align: center;">Ngày trên hóa đơn</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFileHDon)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sHopDong</td>
                            <td>@string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin phiếu đóng gói</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="width: 30%; text-align: center;">Phiếu đóng gói số</th>
                        <th style="width: 30%; text-align: center;">Ngày đóng gói</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFilePDG)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sHopDong</td>
                            <td>@string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Thông tin file đính kèm khác</legend>
            <div class="control-group">
                <table id="tblListData" class="table table-bordered table-hover table-striped">
                    <tr>
                        <th style="width: 3%; text-align: center;">STT</th>
                        <th style="text-align: center;">Tên loại file</th>
                        <th style="width: 18%; text-align: center;">Xem</th>
                        <th style="width: 18%; text-align: center;">Tải</th>
                    </tr>
                    @foreach (var item in lstFile)
                    {
                        i++;
                        if (i == 1)
                        {
                            lstPath.Add(item.sDuongDan);
                        }
                        <tr>
                            <td style="text-align: center;">@i</td>
                            <td>@item.sTenLoaiFile</td>
                            <td align="center"><span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span></td>
                            <td align="center">
                                <a class="openyeucaubosung" href="@item.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table><br />
            </div>
        </fieldset>
    </div>
</div>
@{
    String[] path;
    if (lstPath.Count > 0)
    {
        path = lstPath.ToArray();
    }
    else
    {
        path = new string[1];
        path[0] = "";
    }
}
<div class="box-body">
    <script src="@(Url.Content("~/Content/plugins/pdf/pdf.js"))"></script>
    <div id="divDinhKem" style="display: block; width: 100%;"></div>

    @*@{
            if (Convert.ToString(path[0]).IndexOf(".pdf") > 0)
            {
                <div><button id="prev">Trước</button><button id="next">Sau</button>&nbsp; &nbsp;<span>Trang: <span id="page_num"></span> / <span id="page_count"></span></span></div>
                <div><canvas id="the-canvas" style="border: 1px solid black; direction: ltr; width: 100%;"></canvas> </div>
            }
            else
            {
                <div style="height:643px;">
                    <img src="" style="width: 100%" />
                    <iframe id="ifViewFile" src="@Convert.ToString(path[0])" style="height:643px;width:100%; object-fit:fill;"> </iframe>
                </div>
            }
        }*@
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '.btnview', function (e) {
            //debugger;
            var filePath = $(this).data("src");
            var n = filePath.indexOf(".pdf");
            if (n > 0) {
                $("#divDinhKem").html('<div><button id="prev">Trước</button><button id="next">Sau</button>&nbsp; &nbsp;<span>Trang: <span id="page_num"></span> / <span id="page_count"></span></span></div><div><canvas id="the-canvas" style="border: 1px solid black; direction: ltr; width: 100%;"></canvas> </div>');
                loadPDF(filePath);
            }
            else {
                $("#divDinhKem").html('<img id="imgDinhKem" style="width: 100%" />');
                $("#imgDinhKem").attr('src', filePath);
            }            
        });

        loadPage();
    });

    function loadPage() {
        var filePath = '@Convert.ToString(path[0])';
        if (filePath != "") {
            var n = filePath.indexOf(".pdf");
            if (n > 0) {
                $("#divDinhKem").html('<div><button id="prev">Trước</button><button id="next">Sau</button>&nbsp; &nbsp;<span>Trang: <span id="page_num"></span> / <span id="page_count"></span></span></div><div><canvas id="the-canvas" style="border: 1px solid black; direction: ltr; width: 100%;"></canvas> </div>');
                loadPDF(filePath);
            }
            else {
                $("#divDinhKem").html('<img id="imgDinhKem" style="width: 100%" />');
                $("#imgDinhKem").attr('src', filePath);
            }
        }
    }

</script>
