@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@model HoSoModels
@{
    DataTable dt = clLichSuHoSo.GetDataTable(Model.iID_MaHoSo);
    int RC = dt.Rows.Count;
    DataRow r;
}
<div class="box-body no-padding">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th style="width: 3%;" class="text-center">STT</th>
                <th style="width: %;" class="text-center">Người xử lý</th>
                <th class="text-center">Bộ phận xử lý</th>
                <th class="text-center">Hành động</th>
                <th class="text-center">Thời gian</th>
                <th style="text-align: center;" class="text-center">Nội dung</th>
                <th style="text-align: center;" class="text-center">File đính kèm</th>
                <th style="text-align: center;" class="text-center">Trạng thái hồ sơ</th>


            </tr>
            @{
                if (RC > 0)
                {
                    for (int i = 0; i < RC; i++)
                    {
                        r = dt.Rows[i];
                        string TaiFile = "";
                        if (!string.IsNullOrEmpty(Convert.ToString(r["sFile"])))
                         {
                            TaiFile = "Tải file";
                        }

                        String strEdit = MyHtmlHelper.ActionLink(Url.Action("Edit", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-check'></i></span>", "Edit", "");
                        String strView = MyHtmlHelper.ActionLink(Url.Action("Detail", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-eye fa-lg'></i></span>", "Detail", "");
                        String strYeuCauBoXung = MyHtmlHelper.ActionLink(Url.Action("yeuCauBoXung", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-plus'></i></span>", "Delete", "");
                        String strTuChoi = MyHtmlHelper.ActionLink(Url.Action("TuChoi", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-red'><i class='fa fa-times'></i></span>", "Delete", "");
                        String strSoanPhuLuc = MyHtmlHelper.ActionLink(Url.Action("SoanPhuLuc", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-check'></i></span>", "Detail", "");


                        <tr>
                            <td style="text-align: center;">@(i++)</td>
                            <td>@r["sNguoiXuLy"]</td>
                            <td>@r["sTenDoiTuong"]</td>
                            <td>@r["sTenHanhDong"]</td>
                            <td>@string.Format("{0:dd-MM-yyyy HH:mm}", r["dThoiGian"])</td>
                            <td>@r["sNoiDung"]</td>
                            <td>
                                <a href="@r["sFile"]">@TaiFile
                                </a>
                            </td>
                            <td>@r["sTenTrangThai"]</td>

                        </tr>
                    }
                }
                dt.Dispose();
            }
        </table>
    </div>
</div><!-- /.box-body -->