@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@model HoSoModels
@{
    Layout = null;
    string ParentID = "Edit";

    var hangHoas = clHangHoa.GetListHangHoaByHoSo(Model.iID_MaHoSo);
}

<div class="box-header with-border">
    <h3 class="box-title">Dành cho cơ quan kiểm tra</h3>
</div><!-- /.box-header -->
<div class="box-body">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th align="center" style="width: 3%">STT</th>
                    <th align="center">Tên TACN</th>
                    <th align="center" style="width: 20%;">Chỉ tiêu chất lượng phân tích</th>
                    <th align="center" style="width: 10%;">Hình thức công bố</th>
                    <th align="center" style="width: 10%;">Hàm lượng</th>
                    <th align="center" style="width: 10%;">Đơn vị tính</th>
                    <th align="center" style="width: 15%;">Ghi chú</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var item in hangHoas)
                    {
                        i++;

                        int k = 0;
                        var lstChatLuong = clHangHoa.GetChiTieuChatLuongDN(item.iID_MaHangHoa);
                        int iCountCL = lstChatLuong.Count();
                        if (iCountCL > 0)
                        {

                            foreach (var at in lstChatLuong)
                            {
                                k++;

                                if (k == 1)
                                {
                                    <tr>
                                        <td align="center" rowspan="@iCountCL">@(i)</td>
                                        <td align="left" rowspan="@iCountCL">
                                            <p><b>@(item.sTenHangHoa)</b></p>
                                        </td>
                                        <td align="left">@(at.sChiTieu)</td>
                                        <td align="center">@(at.sHinhThuc)</td>
                                        <td align="center">@(at.sHamLuong)</td>
                                        <td align="center">@(at.sDonViTinh)</td>
                                        <td align="left">@(at.sGhiChu)</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td align="left">@(at.sChiTieu)</td>
                                        <td align="center">@(at.sHinhThuc)</td>
                                        <td align="center">@(at.sHamLuong)</td>
                                        <td align="center">@(at.sDonViTinh)</td>
                                        <td align="left">@(at.sGhiChu)</td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td align="center">@(i)</td>
                                <td align="left">
                                    <p><b>@(item.sTenHangHoa)</b></p>
                                </td>
                                <td align="left">&nbsp;</td>
                                <td align="center">&nbsp;</td>
                                <td align="center">&nbsp;</td>
                                <td align="center">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                            </tr>
                        }
                    }
                }
            </table><br />
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th align="center" style="width: 3%">STT</th>
                            <th align="center">Tên TACN</th>
                            <th align="center" style="width: 20%;">Chỉ tiêu an toàn phân tích</th>
                            <th align="center" style="width: 10%;">Hình thức công bố</th>
                            <th align="center" style="width: 10%;">Hàm lượng</th>
                            <th align="center" style="width: 10%;">Đơn vị tính</th>
                            <th align="center" style="width: 15%;">Ghi chú</th>
                        </tr>
                        @{
                            i = 0;
                            foreach (var item in hangHoas)
                            {
                                i++;

                                String sSTTKT = clHangHoa.Get_ThongTinChiTieuAnToan_KyThuat_DanhMuc_sSTTChiTieu(item.iID_MaLoai);

                                int j = 0;
                                var lstAnToan = clHangHoa.GetChiTieuAnToanDN(item.iID_MaHangHoa);
                                int iCount = lstAnToan.Count();
                                if (iCount > 0)
                                {
                                    int iRowspan = iCount + 1;
                                    foreach (var at in lstAnToan)
                                    {
                                        j++;

                                        if (j == 1)
                                        {
                                            <tr>
                                                <td align="center" rowspan="@iRowspan">@(i)</td>
                                                <td align="left" rowspan="@iRowspan">
                                                    <p><b>@(item.sTenHangHoa)</b></p>
                                                </td>
                                                <td align="left">@(at.sChiTieu)</td>
                                                <td align="center">@(at.sHinhThuc)</td>
                                                <td align="center">@(at.sHamLuong)</td>
                                                <td align="center">@(at.sDonViTinh)</td>
                                                <td align="left">@(at.sGhiChu)</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td align="left">@(at.sChiTieu)</td>
                                                <td align="center">@(at.sHinhThuc)</td>
                                                <td align="center">@(at.sHamLuong)</td>
                                                <td align="center">@(at.sDonViTinh)</td>
                                                <td align="left">@(at.sGhiChu)</td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td align="left">@(item.sTenNhom); @(item.sTenLoaiHangHoa); @(sSTTKT)</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="left">@(item.sGhiChu)</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td align="center">@(i)</td>
                                        <td align="left">
                                            <p><b>@(item.sTenHangHoa)</b></p>
                                        </td>
                                        <td align="left">@(item.sTenNhom); @(item.sTenLoaiHangHoa); @(sSTTKT)</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="left">@(item.sGhiChu)</td>
                                    </tr>
                                }
                            }
                        }
                    </table>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-xs-4">
            <div class="form-group">
                <label for="">Biện pháp kiểm tra</label>
                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sLoaiHinhThucKiemTra, "sLoaiHinhThucKiemTra", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="">Thời gian đánh giá<span style="color: red;">&nbsp;*</span></label>
                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sThoiGianDanhGia, "sThoiGianDanhGia", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="">Đơn vị thực hiện đánh giá<span style="color: red;">&nbsp;*</span></label>
                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sDonViThucHienDanhGia, "sDonViThucHienDanhGia", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
    </div>
</div>