@using System.Data
@using DATA0200025
@using DATA0200025.Models
@using DomainModel
@using DomainModel.Controls
@model HangHoaModels
@{
    Layout = null;
    DataTable dt = clHangHoa.Get_ThongTinChiTieuAnToan_KyThuat_DanhMuc(Model.iID_MaLoai);
    int rc = dt.Rows.Count;
    DataRow r;
    string ParentID = "ATKT";

    DataTable dtKT = CHangHoa.Get_HangHoa_AnToan_KyThuat(Model.iID_MaHangHoa);

    String sSTTKT = clHangHoa.Get_ThongTinChiTieuAnToan_KyThuat_DanhMuc_sSTTChiTieu(Model.iID_MaLoai);
}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title text-uppercase">Thông tin chi tiêu an toàn - Theo quy chuẩn kỹ thuật</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th style="width: 3%; text-align: center;">STT</th>
                            <th style="width: 5%; ">Chọn</th>
                            <th style="width: 20%; text-align: center;">Tên chỉ tiêu an toàn</th>
                            <th style="width: 20%; text-align: center;">Hình thức công bố</th>
                            <th style="width: 15%; text-align: center;">Hàm lượng</th>
                            <th style="width: 15%; text-align: center;">Đơn vị tính</th>
                            <th style="width: 30%; text-align: center;">Ghi chú</th>
                        </tr>
                        @{
                            if (rc > 0)
                            {
                                DataRow R;
                                for (int i = 0; i < rc; i++)
                                {
                                    r = dt.Rows[i];

                                    int iSTT = i + 1;
                                    string schecked = "", sGhiChu = "";

                                    for (int j = 0; j < dtKT.Rows.Count; j++)
                                    {
                                        R = dtKT.Rows[j];

                                        if (Convert.ToInt32(r["iID_MaHangHoaATKT"]) == Convert.ToInt32(R["iID_MaHangHoaATKT"]))
                                        {
                                            if (Convert.ToBoolean(R["bChon"]))
                                            {
                                                schecked = "checked=checked";
                                            }

                                            sGhiChu = Convert.ToString(R["sGhiChu"]);

                                            break;
                                        }
                                    }

                                    <tr>
                                        <td align="center">@iSTT.ToString()</td>
                                        <td align="center"><input type="checkbox" value="@r["iID_MaHangHoaATKT"]" @schecked name="@string.Format("{0}_bChon",ParentID)" /></td>
                                        <td style="text-align: center;">@r["sChiTieu"]</td>
                                        <td align="center">@r["sHinhThuc"]</td>
                                        <td align="center">@r["sHamLuong"]</td>
                                        <td align="center">@r["sDonViTinh"]</td>
                                        <td>@MvcHtmlString.Create(MyHtmlHelper.TextBox(string.Format("{0}{1}", ParentID, r["iID_MaHangHoaATKT"]), sGhiChu, "sGhiChu", "", "type=\"text\" class=\"form-control\""))</td>
                                    </tr>
                                }
                            }
                            dt.Dispose();
                            dtKT.Dispose();
                        }
                    </table><br />
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <td align="left" style="width: 30%;">Chỉ tiêu an toàn quy định đối với:</td>
                            <td align="left" style="width: 70%; background-color: #e1dfdf">
                                @(Model.sTenNhom); @(Model.sTenLoaiHangHoa); @(sSTTKT)
                            </td>
                        </tr>
                        <tr>
                            <td align="left" colspan="2">
                                @MvcHtmlString.Create(MyHtmlHelper.TextArea(ParentID, Model.sGhiChu, "sGhiChu", "", "type=\"text\" class=\"form-control\" style=\"height: 50px\""))
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>