@using System
@using System.Collections.Specialized
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using DATA0200025.Models
@model HangHoaModels
@{
    Layout = null;
    string ParentID = "TC";

    HoSoModels hoSo = clHoSo.GetHoSoById(Model.iID_MaHoSo);

    int i = 0, j = 0;

    String strDau = "";
    DataTable dtCty = CCongTy.Get_Table_Top(1);
    if (dtCty.Rows.Count > 0)
    {
        if (String.IsNullOrEmpty(Convert.ToString(dtCty.Rows[0]["sDau"])) == false)
        {
            strDau = dtCty.Rows[0]["sDau"] != null ? "data:image/jpg;base64," + Convert.ToBase64String((byte[])dtCty.Rows[0]["sDau"]) : "";
        }
    }
    dtCty.Dispose();

    String sKhoiLuong = "", sSoLuong = "";
    DataTable dtKhoiLuong = clHangHoa.Get_ThongTinKhoiLuong(Model.iID_MaHangHoa);
    if(dtKhoiLuong.Rows.Count > 0)
    {
        for(int k=0; k<dtKhoiLuong.Rows.Count; k++)
        {
            sKhoiLuong += Convert.ToString(dtKhoiLuong.Rows[k]["rKhoiLuong"]) + " " + Convert.ToString(dtKhoiLuong.Rows[k]["sDonViTinhKL"]) + "; ";
            sSoLuong += Convert.ToString(dtKhoiLuong.Rows[k]["rSoLuong"]) + " " + Convert.ToString(dtKhoiLuong.Rows[k]["sDonViTinhSL"]) + "; ";
        }
    }
    dtKhoiLuong.Dispose();
}
@*<script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/FileSaver.js"></script>
    <script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/jquery.wordexport.js"></script>*@
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/FileSaver.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/jquery.wordexport.js"))"></script>
<section>
    <div class="box-body">
        <div id="divWord" class="row" style="margin: auto; width: 854px; padding: 30px 40px; border: solid 2px #000000;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td align="center" valign="top" style="width: 40%;">
                        <p style="margin: 0; padding: 5px 0px;">BỘ NÔNG NGHIỆP</p>
                        <p style="margin: 0; padding: 5px 0px;">VÀ PHÁT TRIỂN NÔNG THÔN</p>
                        <p style="margin: 0; padding: 5px 0px;"><u><b>CỤC CHĂN NUÔI</b></u></p>
                    </td>
                    <td align="center" valign="top" style="width: 60%;">
                        <p style="margin: 0; padding: 5px 0px;"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
                        <p style="margin: 0; padding: 5px 0px;"><u><b>Độc lập - Tự do - Hạnh phúc</b></u></p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 10px 0px;">
                        @{
                            if (String.IsNullOrEmpty(Model.sSoThongBaoKetQua) == false)
                            {
                                <p>Số: @(Model.sSoThongBaoKetQua)</p>
                            }
                            else
                            {
                                <p>Số: ........./TB-CN</p>
                            }
                        }
                    </td>
                    <td align="center" style="padding: 10px 0px;">
                        @{
                            if (String.IsNullOrEmpty(Model.dSoThongBaoKetQua_NgayKy.ToString()) == false)
                            {
                                <p>Hà Nội, ngày @(Model.dSoThongBaoKetQua_NgayKy.Day) tháng @(Model.dSoThongBaoKetQua_NgayKy.Month) năm @(Model.dSoThongBaoKetQua_NgayKy.Year)</p>
                            }
                            else
                            {
                                <p>Hà Nội, ngày ... tháng ... năm .....</p>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2" style="padding: 10px 0px;"><p><b>THÔNG BÁO</b></p></td>
                </tr>
                <tr>
                    <td align="center" colspan="2" style="padding: 6px 0px;"><p><u><b>Kết quả kiểm tra nhà nước về chất lượng thức ăn chăn nuôi nhập khẩu</b></u></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>1. Thông tin của lô TACN được kiểm tra</b></p></td>
                </tr>
                <tr>
                    <td colspan="2" valign="top">
                        <table border="1" cellpadding="3" cellspacing="3" style="width: 100%;">
                            <tr style="height: 35px;">
                                <td align="center" style="width: 5%;"><b>STT</b></td>
                                <td align="center"><b>Tên hàng hóa</b></td>
                                <td align="center" style="width: 10%;"><b>Mã số công nhận</b></td>
                                <td align="center" style="width: 15%;"><b>Nhà sản xuất</b></td>
                                <td align="center" style="width: 15%;"><b>Nước sản xuất</b></td>
                                <td align="center" style="width: 15%;"><b>Khối lượng</b></td>
                                <td align="center" style="width: 15%;"><b>Số lượng</b></td>
                                <td align="center" style="width: 10%;"><b>Ghi chú</b></td>
                            </tr>
                            <tr style="height: 25px;">
                                <td align="center">1</td>
                                <td align="left">@(Model.sTenHangHoa)</td>
                                <td align="left">@(Model.sMaSoCongNhan)</td>
                                <td align="left">@(Model.sHangSanXuat)</td>
                                <td align="left">@(Model.sTenQuocGia)</td>
                                <td align="left">@(sKhoiLuong)</td>
                                <td align="left">@(sSoLuong)</td>
                                <td align="left">@(Model.sGhiChu)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Cửa khẩu nhập: @hoSo.sMua_NoiNhan</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Thời gian nhập khẩu <i>(tháng, năm)</i>: @hoSo.sMua_FromDate-@hoSo.sMua_ToDate</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Thuộc lô hàng có các chứng từ sau: </p></td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" style="padding: 5px 0px;">
                        @{
                            var lstFileHD = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 100);
                        }
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Thông tin hợp đồng</legend>
                            <div class="control-group">
                                <table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
                                    <tr>
                                        <th style="width: 3%; text-align: center;">STT</th>
                                        <th style="text-align: center;">Hợp đồng mua bán số</th>
                                        <th style="width: 30%; text-align: center;">Ngày hợp đồng</th>
                                    </tr>
                                    @foreach (var item in lstFileHD)
                                    {
                                        i++;
                                        <tr>
                                            <td style="text-align: center;">@i</td>
                                            <td align="left">@item.sTenLoaiFile</td>
                                            <td align="left">@item.sHopDong , @string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" style="padding: 5px 0px;">
                        @{
                            var lstFileHdon = clFileDinhKem.GetFileByLoai(Model.iID_MaHoSo, 101);
                        }
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Thông tin hoa đơn</legend>
                            <div class="control-group">
                                <table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
                                    <tr>
                                        <th style="width: 3%; text-align: center;">STT</th>
                                        <th style="text-align: center;">Hóa đơn mua bán số</th>
                                        <th style="width: 30%; text-align: center;">Ngày hóa đơn</th>
                                    </tr>
                                    @foreach (var item in lstFileHdon)
                                    {
                                        j++;
                                        <tr>
                                            <td style="text-align: center;">@j</td>
                                            <td align="left">@item.sTenLoaiFile</td>
                                            <td align="left">@item.sHopDong , @string.Format("{0:dd/MM/yyyy}", item.dNgayHopDong)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Giấy đăng ký kiểm tra chất lượng số: @hoSo.sSoGDK &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ngày: @string.Format("{0:dd/MM/yyyy}", hoSo.dNgayXacNhan)</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>- Tên tổ chức nhập khẩu: @hoSo.sTenDoanhNghiep </p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Địa chỉ: @hoSo.sMua_DiaChi</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>2. Căn cứ kiểm tra</b></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Tiêu chuẩn công bố áp dụng (số hiệu TCCS): @(Model.sSoHieu)</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Quy chuẩn kỹ thuật <i>(nhóm, loại hàng hóa tại QCVN 01-190/BNNPTNT)</i>: @(Model.sQuyChuan)</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>3. Kết quả đánh giá sự phù hợp</b></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>+ Giấy chứng nhận hợp quy lô TACN nhập khẩu số: 03432429/2020/CN do tổ chức chứng nhận VCNET cấp ngày: 20/11/2020.</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>4. Kết quả kiểm tra nhà nước</b></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>Lô hàng đáp ứng yêu cầu chất lượng hàng hóa nhập khẩu./.</b></p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding:20px 0px 0px 0px;" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="left" style="width: 70%" valign="top">
                                    <p style="margin: 0"><b>Nơi nhận:</b></p>
                                    <p style="margin: 0">- Như trên;</p>
                                    <p style="margin: 0">- Hải quan cửa khẩu;</p>
                                    <p style="margin: 0">- Lưu: VT, TACN.</p>
                                </td>
                                <td align="center" style="width: 30%" valign="top">
                                    <p><b>CƠ QUAN KIỂM TRA</b></p>
                                    <p style="margin: 0"><i>(Ký tên, đóng dấu)</i></p>
                                    <p style="margin: 0"><img src="@(strDau)" /></p>
                                    <p style="margin: 0"><b>@(Model.sSoThongBaoKetQua_NguoiKy)</b></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("a.btnXuatWord").click(function (event) {
            $("#divWord").wordExport();
        });
    });
</script> 