@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.App_Code
@using APP0200025.Models
@using APP0200025.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    String MaPhongBan = Convert.ToString(ViewData["MaPhongBan"]);
    SqlCommand cmd;
    cmd = new SqlCommand("SELECT * FROM BC_DonVi ORDER BY iSTT");
    DataTable dt = Connection.GetDataTable(cmd);

    cmd.Dispose();
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">DANH SÁCH ĐƠN VỊ</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="@Url.Action("Edit", "BangMau", new { MaPhongBan = MaPhongBan })"><i class="fa fa-plus-square"></i> @Lang["ChucNang_Item01"].ToString()</a></li>
                            <li><a href="@Url.Action("Sort", "BangMau", new { MaPhongBan = MaPhongBan })"><i class="fa fa-sort-numeric-asc"></i> @Lang["ChucNang_Item04"].ToString()</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th style="width: 2%; text-align: center;">STT</th>
                                <th>Tên đơn vị</th>
                                <th style="width: 10%;">Chức năng</th>
                                @*<th style="width: 10px;" title="Sửa"><span class="badge bg-blue"><i class="fa fa-pencil"></i></span></th>
                                    <th style="width: 10px" title="Xóa"><span class="badge bg-red"><i class="fa fa-times"></i></span></th>*@
                            </tr>
                            <tr>
                                <td style="text-align: center;">0</td>
                                <td><b>@(ConfigurationManager.AppSettings["TenTongCongTyApDung"])</b></td>
                                <td><a href="@Url.Action("Create", "BangMauCotMauDonVi", new { MaPhongBan = MaPhongBan })" class="btn btn-app bg-gray"><i class="fa fa-cogs"></i> Danh sách báo cáo</a></td>
                            </tr>
                            @{
                                if (dt.Rows.Count > 0)
                                {
                                    int i;
                                    DataRow R;
                                    for (i = 0; i < dt.Rows.Count; i++)
                                    {
                                        R = dt.Rows[i];

                                        int iSTT = i + 1;
                                                                                
                                        <tr>
                                            <td style="text-align: center;">@iSTT.ToString()</td>
                                            <td>@R["sTen"].ToString()</td>
                                            <td title="Danh sách báo cáo"><a href="@Url.Action("Create", "BangMauCotMauDonVi", new { MaDonVi = R["iID_MaDonVi"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-gray"><i class="fa fa-cogs"></i> Danh sách báo cáo</a></td>
                                        </tr>
                                    }
                                }
                                dt.Dispose();
                            }
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
