@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.App_Code
@using APP0200025.Models
@using APP0200025.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Create";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    String MaBangMau = Convert.ToString(ViewData["MaBangMau"]);
    String MaPhongBan = Convert.ToString(ViewData["MaPhongBan"]);

    SqlCommand cmd;
    DataTable dt;
    cmd = new SqlCommand("SELECT sTenBang FROM BC_BangMau WHERE iID_MaBangMau = @iID_MaBangMau");
    cmd.Parameters.AddWithValue("@iID_MaBangMau", MaBangMau);
    String TenBangMau = Convert.ToString(Connection.GetValue(cmd, ""));
    cmd.Dispose();

    cmd = new SqlCommand("SELECT iID_MaBangMau, sTenBang FROM BC_BangMau WHERE iMaTrangThai=1 AND iID_MaPhongBan = @iID_MaPhongBan ORDER BY iSTT");
    cmd.Parameters.AddWithValue("@iID_MaPhongBan", MaPhongBan);
    dt = Connection.GetDataTable(cmd);
    dt.Rows.InsertAt(dt.NewRow(), 0);
    dt.Rows[0]["iID_MaBangMau"] = 0;
    dt.Rows[0]["sTenBang"] = "-- Chọn bảng mẫu cần lấy chỉ tiêu --";
    SelectOptionList optBangMau = new SelectOptionList(dt, "iID_MaBangMau", "sTenBang");
    string sBangMau = dt.Rows[0]["iID_MaBangMau"].ToString();
    dt.Dispose();
    cmd.Dispose();
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreateNhanhHangMauSubmit", "BangMauHangMau", new { ParentID = ParentID, MaBangMau = MaBangMau }))
            {
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">THÊM NHANH HÀNG MẪU CHO BẢNG: @(TenBangMau)</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="@(ParentID)_iID_MaBangMau">Chọn bảng cần lấy chỉ tiêu mẫu</label>
                                    @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, optBangMau, sBangMau, "iID_MaBangMau", "", "class=\"form-control\""))
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="submit">Save</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                        </div>
                    </div>
                </div><!-- /.box -->
            }
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->