@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.App_Code
@using APP0200025.Models
@using APP0200025.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    String MaBangMau = Convert.ToString(ViewData["MaBangMau"]);
    String MaPhong = Convert.ToString(ViewData["MaPhong"]);

    SqlCommand cmd;
    cmd = new SqlCommand("SELECT * FROM BC_BangMau WHERE iID_MaBangMau=@iID_MaBangMau");
    cmd.Parameters.AddWithValue("@iID_MaBangMau", MaBangMau);
    DataTable dtBangMau = Connection.GetDataTable(cmd);
    cmd.Dispose();

    Boolean XemTheoDonVi = Convert.ToBoolean(dtBangMau.Rows[0]["bXemTheoDonVi"]);


    cmd = new SqlCommand();
    cmd.CommandText = "SELECT * " +
                      "FROM BC_BangMau_CotMau " +
                      "WHERE iID_MaBangMau=@iID_MaBangMau ORDER BY iSTT,sTenCot;";
    cmd.Parameters.AddWithValue("@iID_MaBangMau", MaBangMau);
    DataTable dtCot = Connection.GetDataTable(cmd);
    cmd.Dispose();


    int i, j;

    int DoRongBang = 320;

    dtBangMau.Dispose();

    String Hang1 = "", Hang2 = "", Hang3 = "", Hang4 = "";
    int MocH1 = -1, MocH2 = -1;
    Boolean CoH1, CoH2;
    int d;
    String TenDonVi;

    DoRongBang = 320 + dtCot.Rows.Count * 200;
    for (i = 0; i <= dtCot.Rows.Count - 1; i++)
    {
        CoH1 = false;
        CoH2 = false;
        if (i > MocH1 && Convert.ToBoolean(dtCot.Rows[i]["bThuocDonVi"]))
        {
            CoH1 = true;
            d = 1;
            for (j = i + 1; j <= dtCot.Rows.Count - 1; j++)
            {
                if (Convert.ToBoolean(dtCot.Rows[j]["bThuocDonVi"]))
                {
                    d = d + 1;
                }
                else
                {
                    break;
                }
            }
            TenDonVi = "Tên đơn vị";
            Hang1 += String.Format("<td align='center' colspan='{0}'><b>{1}</b></td>",
                                    d, TenDonVi);
            MocH1 = i + d - 1;
        }
        else if (i <= MocH1)
        {
            CoH1 = true;
        }
        if (i > MocH2 && Convert.ToBoolean(dtCot.Rows[i]["bNhomCon"]))
        {
            CoH2 = true;
            d = 1;
            for (j = i + 1; j <= dtCot.Rows.Count - 1; j++)
            {
                if (Convert.ToBoolean(dtCot.Rows[j]["bNhomCon"]) && Convert.ToString(dtCot.Rows[i]["sTenNhomCon"]) == Convert.ToString(dtCot.Rows[j]["sTenNhomCon"]))
                {
                    d = d + 1;
                }
                else
                {
                    break;
                }
            }
            if (CoH1)
            {
                Hang2 += String.Format("<td align='center' colspan='{0}'><b>{1}</b></td>",
                                        d, dtCot.Rows[i]["sTenNhomCon"]);
            }
            else
            {
                Hang1 += String.Format("<td align='center' colspan='{0}' rowspan='2'><b>{1}</b></td>",
                                        d, dtCot.Rows[i]["sTenNhomCon"]);
            }
            MocH2 = i + d - 1;
        }
        else if (i <= MocH2)
        {
            CoH2 = true;
        }
        d = 1;
        if (CoH2 == false)
        {
            if (CoH1 == false)
            {
                d = 3;
                Hang1 += String.Format("<td width='{0}px' align='center' rowspan='{1}'><b>{2}</b></td>",
                                200,
                                d,
                                dtCot.Rows[i]["sTenCot"].ToString());
            }
            else
            {
                d = 2;
                Hang2 += String.Format("<td width='{0}px' align='center' rowspan='{1}'><b>{2}</b></td>",
                                200,
                                d,
                                dtCot.Rows[i]["sTenCot"].ToString());
            }
        }
        else
        {
            Hang3 += String.Format("<td width='{0}px' align='center' rowspan='{1}'><b>{2}</b></td>",
                                200,
                                d,
                                dtCot.Rows[i]["sTenCot"].ToString());
        }
        Hang4 += String.Format("<td align='center' ><b>[{0}]</b></td>", dtCot.Rows[i]["iID_MaCotMau"]);
    }
    String SQL;
    DataTable dt;
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("EditSubmit", "CotMau", new { MaBangMau = MaBangMau, MaPhong = MaPhong }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">ĐỊNH DẠNG BẢNG MẪU: "@dtBangMau.Rows[0]["sTenBang"])" - Mã bảng Mẫu: [@(MaBangMau)]</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" width="@(DoRongBang)px" border="1" class="table table-bordered table-hover table-striped">
                                <tr>
                                    <td width="20px" rowspan="4" align="center" style="padding-top: 15px"><b>STT</b></td>
                                    <td width="200px" rowspan="4" colspan="2" align="center" style="padding-top: 15px"><b>Chỉ tiêu báo cáo</b></td>
                                    <td width="100px" rowspan="4" align="center" style="padding-top: 15px"><b>ID</b></td>
                                    @(MvcHtmlString.Create(Hang1))
                                </tr>
                                <tr>
                                    @(MvcHtmlString.Create(Hang2))
                                </tr>
                                <tr>
                                    @(MvcHtmlString.Create(Hang3))
                                </tr>
                                <tr>
                                    @(MvcHtmlString.Create(Hang4))
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="right" style="width: 63%">
                                                    @{
                                                        int ThuTuDaCo = 0;
                                                        if (dtCot.Rows.Count > 0)
                                                        {
                                                            ThuTuDaCo = Convert.ToInt32(dtCot.Rows.Count);
                                                        }
                                                    }
                                                    <button type="button" class="btn bg-green" style="padding: 2px 7px;" onclick="OpenDialog('@(ThuTuDaCo)')">
                                                        <i class="fa fa-cogs"></i> Thêm nhanh cột mẫu
                                                    </button>
                                                </td>
                                                <td align="left" style="width: 37%">
                                                    <a href="@Url.Action("Create", "CotMau", new { MaBangMau = MaBangMau, ThuTu = 0, MaPhong = MaPhong })" class="btn bg-blue" style="padding: 2px 7px;"><i class="fa fa-cogs"></i> Thêm cột phải</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="center" width="202px">
                                                <table>
                                                    <tr>
                                                        <td><a href="@Url.Action("Create", "CotMau", new { MaBangMau = MaBangMau, ThuTu = i + 1, MaPhong = MaPhong })" class="btn bg-blue" style="padding: 2px 7px;"><i class="fa fa-reply"></i> Cột trái</a></td>
                                                        <td><a href="@Url.Action("Delete", "CotMau", new { MaBangMau = MaBangMau, MaCotMau = dtCot.Rows[i]["iID_MaCotMau"].ToString(), MaPhong = MaPhong })" class="btn bg-red" style="padding: 2px 7px;"><i class="fa fa-times"></i> Xóa</a></td>
                                                        <td><a href="@Url.Action("Create", "CotMau", new { MaBangMau = MaBangMau, ThuTu = i + 2, MaPhong = MaPhong })" class="btn bg-blue" style="padding: 2px 7px;"><i class="fa fa-share"></i> Cột phải</a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Độ rộng</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.TextBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["sWidth"].ToString(), "sWidth", "", "placeholder=\"Chiều rộng\" type=\"text\" class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Lấy đơn vị</b>
                                    </td>
                                    @{
                                        SelectOptionList slDonVi = CDonVi.Get_Dropdown("--- Chọn đơn vị áp dụng ---");
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.DropDownList(dtCot.Rows[i]["iID_MaCotMau"].ToString(), slDonVi, dtCot.Rows[i]["iID_MaDonVi"].ToString(), "iID_MaDonVi", "", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Thuộc đơn vị</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="center">@MvcHtmlString.Create(MyHtmlHelper.CheckBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["bThuocDonVi"].ToString(), "bThuocDonVi", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Có nhóm con</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="center">@MvcHtmlString.Create(MyHtmlHelper.CheckBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["bNhomCon"].ToString(), "bNhomCon", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Tên nhóm con</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.TextBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["sTenNhomCon"].ToString(), "sTenNhomCon", "", "placeholder=\"Tên nhóm con\" type=\"text\" class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Tên cột</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.TextBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["sTenCot"].ToString(), "sTenCot", "", "placeholder=\"Tên cột mẫu\" type=\"text\" class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Công thức</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.TextBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), Server.HtmlEncode(dtCot.Rows[i]["sCongThuc"].ToString()), "sCongThuc", "", "placeholder=\"Công thức\" type=\"text\" class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Kiểu dữ liệu</b>
                                    </td>
                                    @{
                                        SQL = "";
                                        dt = new DataTable();
                                        dt.Columns.Add("GiaTri", SQL.GetType());
                                        dt.Columns.Add("HienThi", SQL.GetType());
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[0][0] = "0";
                                        dt.Rows[0][1] = "Kiểu xâu";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[1][0] = "1";
                                        dt.Rows[1][1] = "Kiểu số";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[2][0] = "2";
                                        dt.Rows[2][1] = "Kiểu lôgic";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[3][0] = "3";
                                        dt.Rows[3][1] = "Kiểu ghi chú";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[4][0] = "4";
                                        dt.Rows[4][1] = "Phút, Giây, Ngày";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[5][0] = "5";
                                        dt.Rows[5][1] = "Ngày";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[6][0] = "6";
                                        dt.Rows[6][1] = "Upload File";
                                        SelectOptionList slKieuDuLieu = new SelectOptionList(dt, "GiaTri", "HienThi");
                                        dt.Dispose();
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.DropDownList(dtCot.Rows[i]["iID_MaCotMau"].ToString(), slKieuDuLieu, dtCot.Rows[i]["iKieuDuLieu"].ToString(), "iKieuDuLieu", "", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Số chữ số thập phân</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.TextBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), Convert.ToString(dtCot.Rows[i]["iSoSauDauPhay"]), "iSoSauDauPhay", "", "placeholder=\"Số chữ số thập phân\" type=\"text\" class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Lấy dữ liệu từ bảng khác</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="center">@MvcHtmlString.Create(MyHtmlHelper.CheckBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["bLayDuLieuTuBangKhac"].ToString(), "bLayDuLieuTuBangKhac", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Loại cột lũy kế</b>
                                    </td>
                                    @{
                                        SQL = "";
                                        dt = new DataTable();
                                        dt.Columns.Add("GiaTri", SQL.GetType());
                                        dt.Columns.Add("HienThi", SQL.GetType());
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[0][0] = "0";
                                        dt.Rows[0][1] = "-- Loại cột lũy kế --";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[1][0] = "1";
                                        dt.Rows[1][1] = "Lũy kế tháng";
                                        dt.Rows.Add(dt.NewRow());
                                        dt.Rows[2][0] = "2";
                                        dt.Rows[2][1] = "Lũy kế năm";
                                        SelectOptionList slLoaiLuyKe = new SelectOptionList(dt, "GiaTri", "HienThi");
                                        dt.Dispose();
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.DropDownList(dtCot.Rows[i]["iID_MaCotMau"].ToString(), slLoaiLuyKe, Convert.ToString(dtCot.Rows[i]["iLoaiLuyKe"]), "iLoaiLuyKe", "", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Bảng mẫu đã có</b>
                                    </td>
                                    @{
                                        String MaBangMau_DauTien = "";
                                        SQL = "SELECT * FROM BC_BangMau WHERE iID_MaPhongBan = " + MaPhong + " ORDER BY iID_MaPhongBan, iSTT";
                                        dt = Connection.GetDataTable(SQL);
                                        dt.Rows.InsertAt(dt.NewRow(), 0);
                                        dt.Rows[0]["iID_MaBangMau"] = -1;
                                        dt.Rows[0]["sTenBang"] = "-- Chọn bảng mẫu --";
                                        if (dt.Rows.Count > 0)
                                        {
                                            MaBangMau_DauTien = dt.Rows[0]["iID_MaBangMau"].ToString();
                                        }
                                        SelectOptionList slBangMau = new SelectOptionList(dt, "iID_MaBangMau", "sTenBang");
                                        dt.Dispose();
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="left">@MvcHtmlString.Create(MyHtmlHelper.DropDownList(dtCot.Rows[i]["iID_MaCotMau"].ToString(), slBangMau, Convert.ToString(dtCot.Rows[i]["iID_MaBangMau_DuLieu"]), "iID_MaBangMau_DuLieu", "", "onchange=\"ChonBangMau('" + dtCot.Rows[i]["iID_MaCotMau"].ToString() + "',this.value);\" class=\"form-control\""))</td>
                                        }
                                    }
                                    <script type="text/javascript">
                                        function ChonBangMau(ParentID, MaBangMau) {
                                            jQuery.ajaxSetup({ cache: false });
                                            var url = unescape('@MvcHtmlString.Create(Url.Action("get_dtCotMau?ParentID=#0&MaBangMau=#1", "Public"))');
                                            url = unescape(url.replace("#0", ParentID));
                                            url = unescape(url.replace("#1", MaBangMau));
                                            $.getJSON(url, null,
                                                function (data) {
                                                    document.getElementById(ParentID + "_tdCotMau_DuLieu").innerHTML = data.data;
                                                }
                                            );
                                        }
                                    </script>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Cột mẫu</b>
                                    </td>
                                    @{
                                        String MaTG = "";
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            MaTG = String.Format("{0}", dtCot.Rows[i]["iID_MaBangMau_DuLieu"]);
                                            if (MaTG == "")
                                            {
                                                MaTG = MaBangMau_DauTien;
                                            }

                                            <td align="left" id="@(dtCot.Rows[i]["iID_MaCotMau"])_tdCotMau_DuLieu">
                                                @MvcHtmlString.Create(PublicController.get_objCotMau(dtCot.Rows[i]["iID_MaCotMau"].ToString(), MaTG, dtCot.Rows[i]["iID_MaCotMau_DuLieu"].ToString()))
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Cho phép hiển thị</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="center">@MvcHtmlString.Create(MyHtmlHelper.CheckBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["bVisible"].ToString(), "bVisible", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Không sử dụng công thức hàng</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="center">@MvcHtmlString.Create(MyHtmlHelper.CheckBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["bKhongApDungCongThucHang"].ToString(), "bKhongApDungCongThucHang", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <b>Chi tiết tháng</b>
                                    </td>
                                    @{
                                        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
                                        {
                                            <td align="center">@MvcHtmlString.Create(MyHtmlHelper.CheckBox(dtCot.Rows[i]["iID_MaCotMau"].ToString(), dtCot.Rows[i]["bChiTietThoiGian"].ToString(), "bChiTietThoiGian", "class=\"form-control\""))</td>
                                        }
                                    }
                                </tr>
                            </table>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="submit">Save</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                        </div>
                    </div>
                }
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    @{
        Hang1 = "";
        Hang2 = "";
        Hang3 = "";
        Hang4 = "";
        MocH1 = -1;
        MocH2 = -1;
        DoRongBang = 320;
        SQL = "SELECT * FROM BC_DonVi ORDER BY iSTT";
        DataTable dtDonVi = Connection.GetDataTable(SQL);
        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
        {
            if (CommonFunction.IsNumeric(dtCot.Rows[i]["sWidth"]))
            {
                DoRongBang += Convert.ToInt16(dtCot.Rows[i]["sWidth"]);
            }
            else
            {
                DoRongBang += 100;
            }
        }

        for (i = 0; i <= dtCot.Rows.Count - 1; i++)
        {
            CoH1 = false;
            CoH2 = false;
            if (i > MocH1 && (Convert.ToBoolean(dtCot.Rows[i]["bThuocDonVi"]) || Convert.ToInt32(dtCot.Rows[i]["iID_MaDonVi"]) > 0))
            {
                CoH1 = true;
                d = 1;
                TenDonVi = "";
                if (Convert.ToBoolean(dtCot.Rows[i]["bThuocDonVi"]))
                {
                    for (j = i + 1; j <= dtCot.Rows.Count - 1; j++)
                    {
                        if (Convert.ToBoolean(dtCot.Rows[j]["bThuocDonVi"]))
                        {
                            d = d + 1;
                        }
                        else
                        {
                            break;
                        }
                    }
                    TenDonVi = "Tên đơn vị";
                }
                else
                {
                    for (j = i + 1; j <= dtCot.Rows.Count - 1; j++)
                    {
                        if (Convert.ToInt32(dtCot.Rows[i]["iID_MaDonVi"]) == Convert.ToInt32(dtCot.Rows[j]["iID_MaDonVi"]))
                        {
                            d = d + 1;
                        }
                        else
                        {
                            break;
                        }
                    }
                    for (j = 0; j <= dtDonVi.Rows.Count - 1; j++)
                    {
                        if (Convert.ToInt32(dtCot.Rows[i]["iID_MaDonVi"]) == Convert.ToInt32(dtDonVi.Rows[j]["iID_MaDonVi"]))
                        {
                            TenDonVi = Convert.ToString(dtDonVi.Rows[j]["sTenVietTat"]);
                            break;
                        }
                    }

                }
                Hang1 += String.Format("<td align='center' colspan='{0}'><b>{1}</b></td>",
                                        d, TenDonVi);
                MocH1 = i + d - 1;
            }
            else if (i <= MocH1)
            {
                CoH1 = true;
            }
            if (i > MocH2 && Convert.ToBoolean(dtCot.Rows[i]["bNhomCon"]))
            {
                CoH2 = true;
                d = 1;
                for (j = i + 1; j <= dtCot.Rows.Count - 1; j++)
                {
                    if (Convert.ToBoolean(dtCot.Rows[j]["bNhomCon"]) && Convert.ToString(dtCot.Rows[i]["sTenNhomCon"]) == Convert.ToString(dtCot.Rows[j]["sTenNhomCon"]))
                    {
                        d = d + 1;
                    }
                    else
                    {
                        break;
                    }
                }
                if (CoH1)
                {
                    Hang2 += String.Format("<td align='center' colspan='{0}'><b>{1}</b></td>",
                                            d, dtCot.Rows[i]["sTenNhomCon"]);
                }
                else
                {
                    Hang1 += String.Format("<td align='center' colspan='{0}' rowspan='2'><b>{1}</b></td>",
                                            d, dtCot.Rows[i]["sTenNhomCon"]);
                }
                MocH2 = i + d - 1;
            }
            else if (i <= MocH2)
            {
                CoH2 = true;
            }
            d = 1;
            if (CoH2 == false)
            {
                if (CoH1 == false)
                {
                    d = 3;
                    Hang1 += String.Format("<td width='{0}px' align='center' rowspan='{1}'><b>{2}</b></td>",
                                    dtCot.Rows[i]["sWidth"],
                                    d,
                                    dtCot.Rows[i]["sTenCot"].ToString());
                }
                else
                {
                    d = 2;
                    Hang2 += String.Format("<td width='{0}px' align='center' rowspan='{1}'><b>{2}</b></td>",
                                    dtCot.Rows[i]["sWidth"],
                                    d,
                                    dtCot.Rows[i]["sTenCot"].ToString());
                }
            }
            else
            {
                Hang3 += String.Format("<td width='{0}px' align='center' rowspan='{1}'><b>{2}</b></td>",
                                    dtCot.Rows[i]["sWidth"],
                                    d,
                                    dtCot.Rows[i]["sTenCot"].ToString());
            }

            Hang4 += String.Format("<td align='center' ><b>[{0}]</b></td>", i + 1);
        }
        dtDonVi.Dispose();
    }
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">KHUNG ĐỊNH DẠNG CỘT MẪU CHI BIỂU: "@(dtBangMau.Rows[0]["sTenBang"])" - Mã bảng Mẫu: [@(MaBangMau)]</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="@Url.Action("Edit", "Tinh")"><i class="fa fa-plus-square"></i> @Lang["ChucNang_Item01"].ToString()</a></li>
                            <li><a href="@Url.Action("Sort", "Tinh")"><i class="fa fa-sort-numeric-asc"></i> @Lang["ChucNang_Item04"].ToString()</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="@(DoRongBang)px" border="1" class="table table-bordered table-hover table-striped">
                            <tr>
                                <td width="20px" rowspan="4" align="center"><b>STT</b></td>
                                <td width="200px" rowspan="4" colspan="2" align="center"><b>Chỉ tiêu báo cáo</b></td>
                                <td width="100px" rowspan="4" align="center"><b>ID</b></td>
                                @(MvcHtmlString.Create(Hang1))
                            </tr>
                            <tr>
                                @(MvcHtmlString.Create(Hang2))
                            </tr>
                            <tr>
                                @(MvcHtmlString.Create(Hang3))
                            </tr>
                            <tr>
                                @(MvcHtmlString.Create(Hang4))
                            </tr>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                using (Ajax.BeginForm("Edit_Fast_Submit", "CotMau", new { ParentID = ParentID, MaBangMau = MaBangMau, MaPhong = MaPhong }, new AjaxOptions { }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">THÊM NHANH CỘT MẪU</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="txtMaBangMau" name="txtMaBangMau" value="@(MaBangMau)" />
                        <input type="hidden" id="txtThuTuDaCo" name="txtThuTuDaCo" value="0" />
                        <input type="hidden" id="txtPhongban" name="txtPhongban" value="@(MaPhong)" />
                        <input id="@(ParentID)_sSoCot" name="@(ParentID)_sSoCot" class="form-control" placeholder="Số cột thêm vào" type="text" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function CallSuccess_CT() {
        alert('Bạn đã thêm chỉ tiêu mới thành công!');
        var url = unescape('@MvcHtmlString.Create(Url.Action("Edit?MaBangMau=#0&MaPhong=#1", "CotMau"))');
        url = unescape(url.replace("#0", @(MaBangMau)));
        url = unescape(url.replace("#1", @(MaPhong)));
        javascript: location.href = url;
    }
    function OpenDialog(iThuTu) {
        var $myModal = $('#myModal');
        $("#txtThuTuDaCo").val(iThuTu);
        $myModal.modal({
            show: true
        });
        return false;
    }
</script>
