@using System.Configuration
@using System.Collections
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String ParentID = "Edit";

    String TenBang = Convert.ToString(ViewData["TenBang"]);

    String MaTruong = Convert.ToString(ViewData["MaDanhMucTruong"]);

    String sTenTruong = "", sTenTruongHT = "";
    int iLuonDuocXem = 0;
    String tgLuonDuocXem = "";

    DataTable dtTruong = CPQ_BANG.Get_Table_Column_DataBase(TenBang);

    SelectOptionList slTruong = new SelectOptionList(dtTruong, "COLUMN_NAME", "COLUMN_NAME");

    if(String.IsNullOrEmpty(MaTruong) == false)
    {
        DataTable dt = CPQ_BANG.Get_One_Table_Truong(MaTruong);
        if (dt.Rows.Count > 0)
        {
            DataRow R = dt.Rows[0];
            sTenTruong = Convert.ToString(R["STENTRUONG"]);
            sTenTruongHT = Convert.ToString(R["STENTRUONGHT"]);
            iLuonDuocXem = Convert.ToInt32(R["BLUONDUOCXEM"]);
        }
        dt.Dispose();

    }

    if (iLuonDuocXem == 1)
    {
        tgLuonDuocXem = "on";
    }
}

@using (Html.BeginForm("Edit", "DanhMucTruong", new { ParentID = ParentID, TenBang = TenBang, MaDanhMucTruong = MaTruong }))
{
    @Html.Hidden(ParentID + "_DuLieuMoi", ViewData["DuLieuMoi"]);


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                @if (Convert.ToString(ViewData["DuLieuMoi"]) == "1")
                                {
                                    @MvcHtmlString.Create("THÊM MỚI TRƯỜNG  ")
                                }
                                else
                                {
                                    @MvcHtmlString.Create("SỬA TRƯỜNG")
                                }

                                @(TenBang.ToUpper())
                            </h3>
                            <div class="box-tools">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                                </ul>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>Tên trường<span style="color: red;">&nbsp;*</span></label>
                                        @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, slTruong, sTenTruong, "sTenTruong", "", "onchange=\"ChonTenBang(this.value);\" class=\"form-control\""))
                                        @Html.ValidationMessage(ParentID + "_" + "err_sTenTruong")
                                        <script type="text/javascript">
                                            function ChonTenBang(_TenTruong) {
                                                jQuery.ajaxSetup({ cache: false });
                                                document.getElementById("Edit_sTenTruongHT").value = _TenTruong;
                                                return false;
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>Tên trường hiển thị<span style="color: red;">&nbsp;*</span></label>
                                        @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, sTenTruongHT, "sTenTruongHT", "", "placeholder=\"Tên trường hiển thị\" class=\"form-control\""))
                                        @Html.ValidationMessage(ParentID + "_" + "err_sTenTruongHT")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <lable>@MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgLuonDuocXem, "bLuonDuocXem", "", "type=\"checkbox\""))&nbsp;&nbsp;&nbsp;&nbsp;Luôn được xem</lable><br />
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" type="submit">Lưu</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Hủy</button>
                            </div>
                        </div>
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->

}


