@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using DomainModel
@using DomainModel.Controls
@using DomainModel
@using DATA0200025
@using APP0200025.Models
@{
    Layout = null;

    String ParentID = "Login";
    String ServerURL = CHamRieng.Get_Domain();

    String returnUrl = Convert.ToString(ViewData["returnUrl"]);
    String sError = Convert.ToString(ViewData["sError"]);

    String strLogo = "", sTenCongTy = "", sDiaChi = "", sDienThoai = "", sMobile = "", sWebsite = "", sMST = "";
    String sEmail = "", sEmailSale = "", sEmailService = "";
    String sFacebook = "", sTwitter = "", sYoutobe = "", sGoogle = "", sZalo = "", sInstagram = "";
    DataTable dtCty = CCongTy.Get_Table_Top(1);
    if (dtCty.Rows.Count > 0)
    {
        sTenCongTy = Convert.ToString(dtCty.Rows[0]["sTenCongTy"]);
        sDiaChi = Convert.ToString(dtCty.Rows[0]["sDiaChi"]);
        sDienThoai = Convert.ToString(dtCty.Rows[0]["sDienThoai"]);
        sMobile = Convert.ToString(dtCty.Rows[0]["sMobile"]);
        sEmail = Convert.ToString(dtCty.Rows[0]["sEmail"]);
        sEmailSale = Convert.ToString(dtCty.Rows[0]["sEmailSale"]);
        sEmailService = Convert.ToString(dtCty.Rows[0]["sEmailService"]);
        sWebsite = Convert.ToString(dtCty.Rows[0]["sWebsite"]);
        sFacebook = Convert.ToString(dtCty.Rows[0]["sFacebook"]);
        sTwitter = Convert.ToString(dtCty.Rows[0]["sTwitter"]);
        sYoutobe = Convert.ToString(dtCty.Rows[0]["sYoutobe"]);
        sGoogle = Convert.ToString(dtCty.Rows[0]["sGoogle"]);
        sZalo = Convert.ToString(dtCty.Rows[0]["sZalo"]);
        sInstagram = Convert.ToString(dtCty.Rows[0]["sInstagram"]);
        sMST = Convert.ToString(dtCty.Rows[0]["sMST"]);

        if (String.IsNullOrEmpty(Convert.ToString(dtCty.Rows[0]["sLogo"])) == false)
        {
            strLogo = dtCty.Rows[0]["sLogo"] != null ? "data:image/jpg;base64," + Convert.ToBase64String((byte[])dtCty.Rows[0]["sLogo"]) : "";
        }
    }
    dtCty.Dispose();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ĐỔI MẬT KHẨU - ĐĂNG NHẬP</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dist/css/AdminLTE.css")" />
    <!-- iCheck -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/iCheck/square/blue.css")" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.3 -->
    <script src="@(Url.Content("~/Content/plugins/jQuery/jQuery-2.1.4.min.js"))" type="text/javascript"></script>
    <script type="text/javascript">
        var ServerUrl = "@(ServerURL)";
    </script>
</head>
<body class="login-page">
    <video poster="" id="video_background" playsinline="" autoplay muted loop>
        <source src="@ServerURL/content/dist/img/bgclip.mp4" type="video/mp4">
    </video>
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="@strLogo.ToString()" alt="@(sTenCongTy)" title="@(sTenCongTy)" style="vertical-align:central;" />
            </a>
        </div><!-- /.login-logo -->
        <div class="login-box-body text-align-center">
            <p><i class="fa fa-check-circle fa_custom fa-5x" aria-hidden="true"></i></p>
            <p class="login-box-msg" style="font-size: 16px;"><b>BẠN ĐÃ THAY ĐỔI MÂT KHẨU THÀNH CÔNG!</b></p>
            <script>
                fun();

                function fun() {
                    var url = '@(ServerURL)';
                    document.write("Redirecting to the url in 5 seconds...");
                    setTimeout(function () { window.location = url; }, 5000);
                }
            </script>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- Bootstrap 3.3.2 JS -->
    <script src="@(Url.Content("~/Content/bootstrap/js/bootstrap.min.js"))" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="@(Url.Content("~/Content/plugins/iCheck/icheck.min.js"))" type="text/javascript"></script>
</body>
</html>