@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using DATA0200025.Models
@model HoSoModels

@{
    Layout = null;
    //DataTable dt = ViewBag.dt;
    //int rc = dt.Rows.Count;
    //DataRow r;

    SelectOptionList ddlNhomTACN = clDanhMuc.GetDDL("NHOMTACN");
    SelectOptionList ddlLoaiTACN = clDanhMuc.GetDDL("LOAITACN");

    //long iID_MaHoSo = Convert.ToInt64(ViewBag.iID_MaHoSo);

    var hangHoas = clHangHoa.GetListHangHoaByHoSo(Model.iID_MaHoSo);
}

<table class="table table-bordered table-hover table-striped dataTable">
    <thead>
        <tr>
            <th style="width: 3%; text-align: center">STT</th>
            <th>Tên TACN</th>
            <th style="width: 20%;">Nhóm TACN</th>
            <th style="width: 20%;">Loại TACN</th>
            <th style="width: 15%;">Mã công nhận TACN</th>
            <th style="width: 5%; text-align: center">Xử lý</th>
        </tr>
    </thead>
    <tbody>
        @*@{
            if (rc > 0)
            {
                for (int i = 0; i < rc; i++)
                {
                    r = dt.Rows[i];

                    String sTenNhomTACN = clDanhMuc.Get_Name_DanhMuc("NHOMTACN", Convert.ToString(r["iID_MaNhom"]));
                    String sTenLoaiTACN = clDanhMuc.Get_Name_DanhMuc("LOAITACN", Convert.ToString(r["iID_MaLoai"]));

                    <tr>
                        <td align="center">@(i+1)</td>
                        <td>@r["sTenHangHoa"]</td>
                        <td>@MvcHtmlString.Create(sTenNhomTACN.ToString())</td>
                        <td>@MvcHtmlString.Create(sTenLoaiTACN.ToString())</td>
                        <td>@r["sMaSoCongNhan"]</td>
                        <td align="center">
                            <a class="openXuLyChiTieu" data-id="@r["iID_MaHangHoa"]" data-toggle="modal" href="#XuLyChiTieu">
                                <span class='badge bg-red'><i class='fa fa-pencil-square-o'></i></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            dt.Dispose();
        }*@
        @{
            int j = 0;
            foreach (var item in hangHoas)
            {
                j++;

                String sTenNhomTACN = clDanhMuc.Get_Name_DanhMuc("NHOMTACN", Convert.ToString(item.iID_MaNhom));
                String sTenLoaiTACN = clDanhMuc.Get_Name_DanhMuc("LOAITACN", Convert.ToString(item.iID_MaLoai));

                <tr>
                    <td align="center">@(j+1)</td>
                    <td>@(item.sTenHangHoa)</td>
                    <td>@MvcHtmlString.Create(sTenNhomTACN.ToString())</td>
                    <td>@MvcHtmlString.Create(sTenLoaiTACN.ToString())</td>
                    <td>@(item.sMaSoCongNhan)</td>
                    <td align="center">
                        <a class="openXuLyChiTieu" data-id="@(item.iID_MaHangHoa)" data-toggle="modal" href="#XuLyChiTieu">
                            <span class='badge bg-red'><i class='fa fa-pencil-square-o'></i></span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
