@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@using DATA0200025
@using DATA0200025.Models
@using APP0200025.App_Code
@using APP0200025.Models
@model ReportSearchModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userName = User.Identity.Name;
    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");

    SelectOptionList ddlDN = CHoSo26.DDLDoanhNghiep();

    CHoSoSearch hoso = new CHoSoSearch();
    hoso.iID_MaTrangThai = -1;

    long iTongHoSoTiepNhan = CHoSo26.GetCount(hoso);
    DataTable dt = clBaoCao.BaoCaoTinhHinhXuLyHoSo(Model);

    String strPrint = Url.Action("Print", "Report", new { sMaSoThue = Model.sMaSoThue, TuNgay = Model.TuNgay, DenNgay = Model.DenNgay });
}
<script type="text/javascript">
    $(function () {
        var a = '@TempData["msg"]';
        if (a == 'success') {
            showToast_Success();
        }
        else if (a == 'error'){
            showToast_Error();
        }
    })
</script>
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/FileSaver.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/jquery.wordexport.js"))"></script>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("sTinhHinhXuLyHoSo", "Report", new { ParentID = ParentID }, FormMethod.Post, new { id = "formReports", @class = "form-horizontal" }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@Lang["ChucNang_Item09"].ToString()</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-2 text-align-right"><label class="control-label">Ngày đến</label></div>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgay, "TuNgay", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\""))
                                    </div>
                                    <div class="col-xs-2 text-align-center"><b>-</b></div>
                                    <div class="col-xs-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgay, "DenNgay", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\""))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 text-align-right"><label class="control-label">Doanh nghiệp</label></div>
                            <div class="col-xs-10">
                                @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, ddlDN, Convert.ToString(Model.sMaSoThue), "DoanhNghiep", "", "class=\"form-control\""))
                            </div>
                            <div class="col-xs-1 text-align-right"></div>
                            <div class="col-xs-5"></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-xs-12 text-align-center">
                            <button class="btn btn-primary" type="submit">Tải báo cáo</button>
                            <button class="btn btn-danger" type="button" id="btnReset">Nhập lại</button>
                        </div>
                    </div>
                }

                <script type="text/javascript">
                    $(document).ready(function () {
                        var iTrangThai = '@(Convert.ToString(Model.sMaSoThue))';
                        if (iTrangThai != null) {
                            $('#Index_DoanhNghiep').val(iTrangThai);
                            $('#Index_DoanhNghiep').multiselect('rebuild');
                        }
                        else {
                            $('#Index_DoanhNghiep').val(0);
                            $('#Index_DoanhNghiep').multiselect('rebuild');
                        }

                        $('#formReports').bootstrapValidator({
                            message: 'This value is not valid',
                            feedbackIcons: {
                                valid: 'glyphicon glyphicon-ok',
                                invalid: 'glyphicon glyphicon-remove',
                                validating: 'glyphicon glyphicon-refresh'
                            },
                            fields: {
                                Index_viTuNgay: {
                                    validators: {
                                        date: {
                                            format: 'DD/MM/YYYY',
                                            message: 'Từ ngày không đúng định dạng!'
                                        }
                                    }
                                },
                                Index_viDenNgay: {
                                    validators: {
                                        date: {
                                            format: 'DD/MM/YYYY',
                                            message: 'Đến ngày không đúng định dạng!'
                                        }
                                    }
                                }
                            }
                        });

                        $('#btnReset').click(function () {
                            $('#formReports').data('bootstrapValidator').resetForm(true);
                        });
                    });
                </script>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title text-uppercase">Mẫu báo cáo thống kê tình hình xử lý hồ sơ </h3>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                    </ul>
                </div><!-- /.box-header -->
                <div class="box-body no-padding pre-scrollable">
                    <div class="table-responsive" id="divWord">
                        <table id="tblListData" class="table table-bordered table-hover table-striped dataTable">
                            <thead>
                                <tr style="height: 40px"><th colspan="21" style="text-align: center; font-size: 14px;">Báo cáo tình hình xử lý hồ sơ</th></tr>
                                <tr>
                                    <th style="width: 3%; text-align: center;" rowspan="4">STT</th>
                                    <th style="text-align: center;" rowspan="4">Tổng số hồ sơ đã tiếp nhận</th>
                                    <th style="text-align: center;" colspan="8">Hồ sơ đã phê duyệt GĐK</th>
                                    <th style="text-align: center;" colspan="11">Hồ sơ chưa phê duyệt GĐK</th>
                                </tr>
                                <tr>
                                    <th style="width: 20%; text-align: center;" align="center" colspan="4">Hồ sơ</th>
                                    <th style="width: 20%; text-align: center;" align="center" colspan="4">Sản phẩm</th>
                                    <th style="width: 20%; text-align: center;" align="center" colspan="3">Chưa trả kết quả</th>
                                    <th style="width: 20%; text-align: center;" align="center" colspan="8">Đã trả kết quả</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;" align="center" rowspan="2">Tổng số hồ sơ</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Đúng hạn (hồ sơ được trả lời không quá 1 ngày)</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Quá hạn (hồ sơ được trả lời quá 1 ngày)</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Tổng số hồ sơ bị thu hồi GĐK</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Tổng số sản phẩm </th>
                                    <th style="text-align: center;" align="center" rowspan="2">Số sản phẩm chưa phê duyệt XNCL</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Số sản phẩm đã phê duyệt XNCL</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Tổng số sản phẩm đã bị thu hồi XNCL</th>

                                    <th style="text-align: center;" align="center" rowspan="2">Tổng số</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Đang trong thời hạn xử lý (chưa quá 1 ngày làm việc)</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Quá hạn (Thời gian xử lý đã quá 1 ngày làm việc)</th>
                                    <th style="text-align: center;" align="center" rowspan="2">Tổng số</th>
                                    <th style="text-align: center;" align="center" colspan="3">Hồ sơ từ chối xác nhận GĐK</th>
                                    <th style="text-align: center;" align="center" colspan="3">Hồ sơ yêu cầu bổ sung</th>
                                </tr>
                                <tr>

                                    <th style="text-align: center;" align="center">Tổng số</th>
                                    <th style="text-align: center;" align="center">Đúng hạn (Thời gian xử lý không quá 1 ngày làm việc)</th>
                                    <th style="text-align: center;" align="center">Quá hạn  (Thời gian xử lý đã quá 1 ngày làm việc)</th>
                                    <th style="text-align: center;" align="center">Tổng số</th>
                                    <th style="text-align: center;" align="center">Đúng hạn (Thời gian xử lý không quá 1 ngày làm việc)</th>
                                    <th style="text-align: center;" align="center">Quá hạn (Thời gian xử lý đã quá 1 ngày làm việc)</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;" align="center"></th>
                                    <th style="text-align: center;" align="center">(1)=(2)+(10)+(13)</th>
                                    <th style="text-align: center;" align="center">(2)=(3)+(4)</th>
                                    <th style="text-align: center;" align="center">(3)</th>
                                    <th style="text-align: center;" align="center">(4)</th>
                                    <th style="text-align: center;" align="center">(5)</th>
                                    <th style="text-align: center;" align="center">(6)=(7)+(8)</th>
                                    <th style="text-align: center;" align="center">(7)</th>
                                    <th style="text-align: center;" align="center">(8)</th>
                                    <th style="text-align: center;" align="center">(9)</th>
                                    <th style="text-align: center;" align="center">(10)=(11)+(12)</th>
                                    <th style="text-align: center;" align="center">(11)</th>
                                    <th style="text-align: center;" align="center">(12)</th>
                                    <th style="text-align: center;" align="center">(13)=(14)+(17)</th>

                                    <th style="text-align: center;" align="center">(14)=(15)+(16)</th>
                                    <th style="text-align: center;" align="center">(15)</th>
                                    <th style="text-align: center;" align="center">(16)</th>

                                    <th style="text-align: center;" align="center">(17)=(18)+(19)</th>
                                    <th style="text-align: center;" align="center">(18)</th>
                                    <th style="text-align: center;" align="center">(19)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(dt.Rows.Count>0)
                                {
                                    DataRow r = dt.Rows[0];
                                    int c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17, c18, c19;
                                    c3 = Convert.ToInt32(r["c3"]); c4 = Convert.ToInt32(r["c4"]); c5 = Convert.ToInt32(r["c5"]);
                                    c7 = Convert.ToInt32(r["c7"]); c8 = Convert.ToInt32(r["c8"]); c9 = Convert.ToInt32(r["c9"]);
                                    c11 = Convert.ToInt32(r["c11"]); c12 = Convert.ToInt32(r["c12"]); c15 = Convert.ToInt32(r["c15"]);
                                    c16 = Convert.ToInt32(r["c16"]); c18 = Convert.ToInt32(r["c18"]); c19 = Convert.ToInt32(r["c19"]);
                                    c14 = c15 + c16;
                                    c17 = c18 + c19;
                                    c13 = c14 + c17;
                                    c10 = c11 + c12;
                                    c6 = c7 + c8;
                                    c2 = c3 + c4;
                                    c1 = c2 + c10 + c13;

                                <tr>
                                    <td align="center">1</td>
                                    <td align="left">@CommonFunction.DinhDangSo(c1)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c2)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c3)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c4)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c5)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c6)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c7)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c8)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c9)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c10)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c11)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c12)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c13)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c14)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c15)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c16)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c17)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c18)</td>
                                    <td align="center">@CommonFunction.DinhDangSo(c19)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    @*<a class="btn btn-warning btnXuatWord" href="#" id="btnXuatWord">Xuất word</a>*@
                    <a class="btn btn-warning" href="@(strPrint)">Print</a>
                    <a class="btn btn-danger" href="#" onclick="javascript:history.go(-1)">Thoát</a>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
@*<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("a.btnXuatWord").click(function (event) {
            $("#divWord").wordExport();
        });
    });
</script>*@
