@using System.Configuration
@using System.Collections
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">DANH SÁCH BẢNG</h3>
                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="@Url.Action("Edit", "DanhMucBang")"><i class="fa fa-plus-square"></i> Thêm mới</a></li>
                                <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th align="center" rowspan="2">Tên bảng</th>
                                <th align="center" rowspan="2">Tên hiển thị</th>
                                <th align="center" rowspan="2">Danh sách trường</th>
                                <th align="center" colspan="6">Các chức năng</th>
                                <th align="center" rowspan="2"></th>
                            </tr>
                            <tr>
                                <th align="center" style="width: 40px">
                                    Xem
                                </th>
                                <th align="center" style="width: 40px">
                                    Thêm
                                </th>
                                <th align="center" style="width: 40px">
                                    Xóa
                                </th>
                                <th align="center" style="width: 40px">
                                    Sửa
                                </th>
                                <th align="center" style="width: 40px">
                                    Chia sẻ
                                </th>
                                <th align="center" style="width: 90px">
                                    Giao phụ trách
                                </th>
                            </tr>
                            @{
                                int i;

                                DataTable dt = CPQ_BANG.Get_Table();

                                String TenBang, TenBangHT;
                                String strXem = "", strThem = "", strXoa = "", strSua = "", strChiaSe = "", strGiaoPhuTrach = "";
                                for (i = 0; i <= dt.Rows.Count - 1; i++)
                                {
                                    DataRow Row = dt.Rows[i];
                                    TenBang = (string)Row["sTenBang"];
                                    TenBangHT = (string)Row["sTenBangHT"];
                                    strXem = "";
                                    strThem = "";
                                    strXoa = "";
                                    strSua = "";
                                    strChiaSe = "";
                                    strGiaoPhuTrach = "";
                                    if (Convert.ToInt32(Row["bXem"]) == 1)
                                    {
                                        strXem = " checked='checked'";
                                    }
                                    if (Convert.ToInt32(Row["bThem"]) == 1)
                                    {
                                        strThem = " checked='checked'";
                                    }
                                    if (Convert.ToInt32(Row["bXoa"]) == 1)
                                    {
                                        strXoa = " checked='checked'";
                                    }
                                    if (Convert.ToInt32(Row["bSua"]) == 1)
                                    {
                                        strSua = " checked='checked'";
                                    }
                                    if (Convert.ToInt32(Row["bChiaSe"]) == 1)
                                    {
                                        strChiaSe = " checked='checked'";
                                    }
                                    if (Convert.ToInt32(Row["bGiaoPhuTrach"]) == 1)
                                    {
                                        strGiaoPhuTrach = " checked='checked'";
                                    }
                                    strXem = String.Format("<input type =\"checkbox\" disabled {0} />", strXem);
                                    strThem = String.Format("<input type =\"checkbox\" disabled {0} />", strThem);
                                    strSua = String.Format("<input type =\"checkbox\" disabled {0} />", strSua);
                                    strXoa = String.Format("<input type =\"checkbox\" disabled {0} />", strXoa);
                                    strChiaSe = String.Format("<input type =\"checkbox\" disabled {0} />", strChiaSe);
                                    strGiaoPhuTrach = String.Format("<input type =\"checkbox\" disabled {0} />", strGiaoPhuTrach);

                                    string urlListTruong = Url.Action("Index", "DanhMucTruong", new { TenBang = TenBang });
                                    string urlEdit = Url.Action("Edit", "DanhMucBang", new { MaBang = Row["iID_MaDanhMucBang"] });
                                    string urlDelete = Url.Action("Delete", "DanhMucBang", new { MaBang = Row["iID_MaDanhMucBang"] });
                                    string urlSort = Url.Action("Sort", "DanhMucTruong", new { TenBang = TenBang });
                                    String classtr = "";
                                    if (i % 2 == 0)
                                    {
                                        classtr = "class=\"alt\"";
                                    }


                                    <tr @(classtr)>
                                        <td>@(TenBang)</td>
                                        <td>@(TenBangHT)</td>
                                        <td>
                                            @MvcHtmlString.Create(MyHtmlHelper.ActionLink(urlListTruong, "Danh sách trường", "ListTruong", null))
                                            |
                                            @MvcHtmlString.Create(MyHtmlHelper.ActionLink(urlSort, "Sắp xếp trường", "Sort", null))
                                        </td>
                                        <td align="center">@(MvcHtmlString.Create(strXem))</td>
                                        <td align="center">@(MvcHtmlString.Create(strThem))</td>
                                        <td align="center">@(MvcHtmlString.Create(strXoa))</td>
                                        <td align="center">@(MvcHtmlString.Create(strSua))</td>
                                        <td align="center">@(MvcHtmlString.Create(strChiaSe))</td>
                                        <td align="center">@(MvcHtmlString.Create(strGiaoPhuTrach))</td>
                                        <td>
                                            @MvcHtmlString.Create(MyHtmlHelper.ActionLink(urlEdit, "Sửa", "Edit", null))
                                            |
                                            @MvcHtmlString.Create(MyHtmlHelper.ActionLink(urlDelete, "Xóa", "Delete", null))
                                        </td>
                                    </tr>
                                }
                                dt.Dispose();
                            }
                        </table>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix"></div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->


