@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using APP0200025.Controllers
@model  DATA0200025.Models.HoSoModels
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout_cms.cshtml";
    string ParentID = "Detail";
    string sAction = "";

}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Giấy đăng ký kiểm tra xác nhận chất lượng</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Lịch sử xử lý hồ sơ</a></li>

                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        @{Html.RenderPartial("~/Views/Partial/Partial_Detail.cshtml");}
                        <section class="content" style="min-height: auto;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-danger">
                                        @{Html.RenderPartial("~/Views/Partial/Partial_ThongTinDanhChoCoQuanKiemTra.cshtml", Model);}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <form action="@Url.Action("ThuHoiSubmit", "ChuyenVien", new { ParentID = ParentID })" class="form-horizontal" id="submit_form" method="POST">
                            @Html.Hidden(ParentID + "_iID_MaHoSo", Model.iID_MaHoSo)
                            <div class="box-footer clearfix text-center">
                                @if (Model.iID_MaTrangThai == 10 || Model.iID_MaTrangThai == 11 || Model.iID_MaTrangThai == 12)
                                {
                                    <button class="btn btn-danger" type="submit">Thu hồi</button>
                                }
                                else
                                {
                                    <a class="btn btn-primary" href="@Url.Action("SoanPhuLuc","ChuyenVien",new {iID_MaHoSo=Model.iID_MaHoSo})">Soạn phụ lục</a>
                                    <a class="btn btn-danger opentuchoi" data-id="@Model.iID_MaHoSo" data-toggle="modal" href="#TuChoi" style="margin-right: 5px;" type="button">Từ chối</a>
                                    <a class="btn btn-warning openyeucaubosung" data-id="@Model.iID_MaHoSo" data-toggle="modal" href="#YeuCauBoSung" data-dismiss="modal" type="button">Yêu cầu bổ sung</a>
                                    <a class="btn btn-secondary" style="background-color:#023658;color:white;" id="btnThoat">Thoát</a>
                                }
                            </div>
                        </form>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        @{Html.RenderPartial("~/Views/Partial/Partial_LichSuHoSo.cshtml", Model);}
                    </div><!-- /.tab-pane -->
                </div>
            </div>
        </div>
    </div>
</section>
@{Html.RenderPartial("~/Views/ChuyenVien/Partial_Model_YeuCauBoSung.cshtml");}
@{Html.RenderPartial("~/Views/ChuyenVien/Partial_Model_TuChoi.cshtml");}
<script src="@Url.Content("~/ScriptsERP/jsChuyenVien.js")?id=@DateTime.Now.ToString("yyMMddHHmmss")"></script>
