@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@model sHoSoModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "BC_Vung";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String _TrangThaiHoSo = CString.SafeString(Request.QueryString["_TrangThaiHoSo"]);
    String _TieuDe = CString.SafeString(Request.QueryString["_TieuDe"]);
    String _FromDate = CString.SafeString(Request.QueryString["_FromDate"]);
    String _ToDate = CString.SafeString(Request.QueryString["_ToDate"]);

    int Page = Model.Page;

    int CurrentPage = 1;
    if (Page != 0)
    {
        CurrentPage = Page;
    }

    if (Model.PageSize == 0)
    {
        Model.PageSize = Globals.PageSize;
    }
    int nMax = Model.PageSize;
    int iTu = (CurrentPage - 1) * nMax;

    DataTable dt = clHoSo.GetDataTable(Model, CurrentPage, nMax);
    double nums = clHoSo.GetCount(Model);
    int RC = dt.Rows.Count;
    int TotalPages = (int)Math.Ceiling(nums / nMax);



    DataRow r;
    SelectOptionList ttDDL = clTrangThai.GetDDL();
    String strPhanTrang = Pagings.PageLinks_Cms(String.Format("Trang {0}/{1}: ", CurrentPage, TotalPages), CurrentPage, TotalPages, x => Url.Action("Index", "ChuyenVien", new { _TieuDe = _TieuDe, _FromDate = _FromDate, _ToDate = _ToDate, page = x }));

    // String strPhanTrang = Pagings.PageLinks_Cms(String.Format("Trang {0}/{1}: ", CurrentPage, TotalPages), CurrentPage, TotalPages, x => Url.Action("Index", "Tinh", new { _MaMien = _MaMien, _TieuDe = _TieuDe, _FromDate = _FromDate, _ToDate = _ToDate, page = x }));

}

<script type="text/javascript">
        $(function () {
            var a = '@TempData["msg"]';
            if (a != '')
                showToast_Success();
        })
</script>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("Search", "ChuyenVien", new { ParentID = ParentID }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@Lang["ChucNang_Item09"].ToString()</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div class="form-group">
                            <label for="inputEmail3" class="col-xs-1 control-label">Mã hồ sơ</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sMaHoSo, "sMaHoSo", "", "placeholder=\"Mã hồ sơ\" type=\"text\" class=\"form-control\""))
                            </div>
                            <label for="inputEmail3" class="col-xs-1 control-label">Tên TACN</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenTACN, "sTenTACN", "", "placeholder=\"Tên TACN\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">Ngày đến</label>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-xs-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgayDen, "TuNgayDen", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                    </div>
                                    <div class="col-sm-2 text-align-center">-</div>
                                    <div class="col-sm-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgayDen, "DenNgayDen", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                    </div>
                                </div>
                            </div>
                            <label for="inputEmail3" class="col-xs-1 control-label">Tên doanh nghiệp</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "placeholder=\"Tên doanh nghiệp\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-xs-1 control-label">Số tiếp nhận</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sSoTiepNhan, "sSoTiepNhan", "", "placeholder=\"Số tiếp nhận\" type=\"text\" class=\"form-control\""))
                            </div>
                            <label for="inputEmail3" class="col-sm-1 control-label">Ngày tiếp nhận</label>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-sm-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgayTiepNhan, "TuNgayTiepNhan", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                    </div>
                                    <div class="col-sm-2 text-align-center">-</div>
                                    <div class="col-sm-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgayTiepNhan, "DenNgayTiepNhan", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">Trạng thái hồ sơ</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, ttDDL, _TrangThaiHoSo, "iID_MaTrangThai", "", "class=\"form-control\""))
                                @* @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "placeholder=\"\" type=\"text\" class=\"form-control\""))*@
                            </div>
                            <label for="inputEmail3" class="col-sm-1 control-label">Quá hạn</label>
                            <div class="col-xs-5">
                                @*@MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "placeholder=\"\" type=\"text\" class=\"form-control\""))*@
                                <select class="form-control" id="Index_iID_QuaHan" name="Index_iID_QuaHan">
                                    <option>--Tất cả--</option>
                                    <option value="1">Chưa tới hạn</option>
                                    <option value="2">Quá hạn</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">Kết quả xử lý</label>
                            <div class="col-xs-5">
                                <select class="form-control" id="Index_iID_KetQuaXuLy" name="Index_iID_KetQuaXuLy">
                                    <option value="-1">--Tất cả--</option>
                                    <option value="1">Đạt cấp giấy đăng ký</option>
                                    <option value="2">Từ chối cấp GĐK</option>
                                    <option value="3">Yêu cầu bổ xung</option>
                                </select>
                                @*@MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "placeholder=\"Kết quả xử lý\" type=\"text\" class=\"form-control\""))*@
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="box-body">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                <button class="btn btn-danger" type="button">Nhập lại</button>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#Index_iID_MaTrangThai').multiselect('rebuild');
                            $('#Index_iID_KetQuaXuLy').multiselect('rebuild');
                        });
                    </script>
                }

            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách hồ sơ</h3>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                    </ul>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th style="width: 3%;" class="text-center">STT</th>
                                <th style="width: 10%;" class="text-center">Mã hồ sơ</th>
                                <th class="text-center">Ngày đến</th>
                                <th class="text-center">Số tiếp nhận</th>
                                <th class="text-center">Ngày tiếp nhận</th>
                                <th style="text-align: center;" class="text-center">Doanh nghiệp</th>
                                <th style="text-align: center;" class="text-center">Tên TACN</th>
                                <th style="text-align: center;" class="text-center">Trạng thái hồ sơ</th>
                                <th style="text-align: center;" class="text-center">Kết quả xử lý</th>
                                <th style="width: 5%; text-align: center;" class="text-center">Xem</th>
                                <th style="width: 5%; text-align: center;" class="text-center">Soạn phụ lục GĐK</th>
                                <th style="width: 5%; text-align: center;" class="text-center">Yêu cầu bồ sung</th>
                                <th style="width: 5%; text-align: center;" class="text-center">Từ chối </th>
                                <th style="width: 5%; text-align: center;" class="text-center">Thu hồi</th>
                                <th style="width: 5%; text-align: center;" class="text-center">Chuyên viên thẩm định</th>
                                <th style="width: 5%; text-align: center;" class="text-center">Quá hạn</th>

                            </tr>
                            @{
                                if (RC > 0)
                                {
                                    for (int i = 0; i < RC; i++)
                                    {
                                        r = dt.Rows[i];

                                        bool BSTC = false;
                                        int iID_MaTrangThai = Convert.ToInt32(r["iID_MaTrangThai"]);
                                        if (iID_MaTrangThai == 7 || iID_MaTrangThai == 14 || iID_MaTrangThai == 16 || iID_MaTrangThai == 18 || iID_MaTrangThai == 23)
                                        {
                                            BSTC = true;
                                        }

                                        String strEdit = MyHtmlHelper.ActionLink(Url.Action("Edit", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-check'></i></span>", "Edit", "");
                                        String strView = MyHtmlHelper.ActionLink(Url.Action("Detail", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-eye fa-lg'></i></span>", "Detail", "");
                                        String strYeuCauBoXung = MyHtmlHelper.ActionLink(Url.Action("yeuCauBoXung", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-plus'></i></span>", "Delete", "");
                                        String strTuChoi = MyHtmlHelper.ActionLink(Url.Action("TuChoi", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-red'><i class='fa fa-times'></i></span>", "Delete", "");
                                        String strSoanPhuLuc = MyHtmlHelper.ActionLink(Url.Action("SoanPhuLuc", "ChuyenVien", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-check'></i></span>", "Detail", "");


                                        <tr>
                                            <td style="text-align: center;">@r["rownum"]</td>
                                            <td>@r["sMaHoSo"]</td>
                                            <td>@Convert.ToDateTime(r["dNgayTaoHoSo"]).ToString("dd-MM-yyyy")</td>
                                            <td>@r["sSoTiepNhan"]</td>
                                            <td>@r["dNgayTiepNhan"]</td>
                                            <td>@r["sTenDoanhNghiep"]</td>
                                            <td>@r["sTenTACN"]</td>
                                            <td>@MvcHtmlString.Create(MyHtmlHelper.LabelForDropDownList(ttDDL, r["iID_MaTrangThai"], "iID_MaTrangThai"))</td>
                                            <td>@MvcHtmlString.Create(r["iID_KetQuaXuLy"].ToString() == "1" ? "Đạt cấp giấy đăng ký" : r["iID_KetQuaXuLy"].ToString() == "2" ? "Từ chối cấp GĐK" : r["iID_KetQuaXuLy"].ToString() == "3" ? "Yêu cầu bổ xung" : "")</td>
                                            <td class="head-td-icon">@MvcHtmlString.Create(strView)</td>
                                            <td class="head-td-icon">
                                                @if (BSTC)
                                                {
                                                    @MvcHtmlString.Create(strSoanPhuLuc)
                                                }
                                            </td>
                                            <td class="head-td-icon">
                                                @if (BSTC)
                                                {
                                                    <a class="openyeucaubosung" data-id="@r["iID_MaHoSo"]" data-toggle="modal" href="#YeuCauBoSung">
                                                        <span class='badge bg-blue'><i class='fa fa-fw fa-plus'></i></span>
                                                    </a>
                                                }
                                            </td>
                                            <td class="head-td-icon">
                                                @if (BSTC)
                                                {
                                                    <a class="opentuchoi" data-id="@r["iID_MaHoSo"]" data-toggle="modal" href="#TuChoi">
                                                        <span class='badge bg-red'><i class='fa fa-times'></i></span>
                                                    </a>
                                                }
                                            </td>

                                            <td class="head-td-icon">
                                                @if (!BSTC)
                                                {
                                                    <a class="openthuhoi" data-id="@r["iID_MaHoSo"]" data-toggle="modal" href="#ThuHoi">
                                                        <span class='badge bg-red'><i class='fa fa-mail-reply-all'></i></span>
                                                    </a>
                                                }
                                            </td>
                                            <td class="head-td-icon">@r["sTenNguoiTiepNhan"]</td>
                                            <td class="head-td-icon"></td>
                                        </tr>
                                    }
                                }
                                dt.Dispose();
                            }
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    @MvcHtmlString.Create(strPhanTrang)
                </div>
                @*<div class="box-footer clearfix">
                    </div>*@
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
@{Html.RenderPartial("~/Views/ChuyenVien/Partial_Model_YeuCauBoSung.cshtml");}
@{Html.RenderPartial("~/Views/ChuyenVien/Partial_Model_TuChoi.cshtml");}

<script src="@Url.Content("~/ScriptsERP/jsChuyenVien.js")?id=@DateTime.Now.ToString("yyMMddHHmmss")"></script>