@using System.Configuration
@using System.Collections
@using System.Data
@using System.Web.UI
@using System.Drawing
@using System.IO
@using DomainModel
@using DATA0200025
@using APP0200025.Models
@{
    Layout = null;

    String ParentID = "Login";
    String ServerURL = CHamRieng.Get_Domain();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");

    String returnUrl = Convert.ToString(ViewData["returnUrl"]);
    String sError = Convert.ToString(ViewData["sError"]);

    String strLogo = "", sTenCongTy = "", sDiaChi = "", sDienThoai = "", sMobile = "", sWebsite = "", sMST = "";
    String sEmail = "", sEmailSale = "", sEmailService = "";
    String sFacebook = "", sTwitter = "", sYoutobe = "", sGoogle = "", sZalo = "", sInstagram = "";
    DataTable dtCty = CCongTy.Get_Table_Top(1);
    if (dtCty.Rows.Count > 0)
    {
        sTenCongTy = Convert.ToString(dtCty.Rows[0]["sTenCongTy"]);
        sDiaChi = Convert.ToString(dtCty.Rows[0]["sDiaChi"]);
        sDienThoai = Convert.ToString(dtCty.Rows[0]["sDienThoai"]);
        sMobile = Convert.ToString(dtCty.Rows[0]["sMobile"]);
        sEmail = Convert.ToString(dtCty.Rows[0]["sEmail"]);
        sEmailSale = Convert.ToString(dtCty.Rows[0]["sEmailSale"]);
        sEmailService = Convert.ToString(dtCty.Rows[0]["sEmailService"]);
        sWebsite = Convert.ToString(dtCty.Rows[0]["sWebsite"]);
        sFacebook = Convert.ToString(dtCty.Rows[0]["sFacebook"]);
        sTwitter = Convert.ToString(dtCty.Rows[0]["sTwitter"]);
        sYoutobe = Convert.ToString(dtCty.Rows[0]["sYoutobe"]);
        sGoogle = Convert.ToString(dtCty.Rows[0]["sGoogle"]);
        sZalo = Convert.ToString(dtCty.Rows[0]["sZalo"]);
        sInstagram = Convert.ToString(dtCty.Rows[0]["sInstagram"]);
        sMST = Convert.ToString(dtCty.Rows[0]["sMST"]);

        if (String.IsNullOrEmpty(Convert.ToString(dtCty.Rows[0]["sLogo"])) == false)
        {
            strLogo = dtCty.Rows[0]["sLogo"] != null ? "data:image/jpg;base64," + Convert.ToBase64String((byte[])dtCty.Rows[0]["sLogo"]) : "";
        }
    }
    dtCty.Dispose();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký - Register</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dist/css/AdminLTE.css")" />
    <!-- iCheck -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/iCheck/square/blue.css")" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.3 -->
    <script src="@(Url.Content("~/Content/plugins/jQuery/jQuery-2.1.4.min.js"))" type="text/javascript"></script>
    <script type="text/javascript">
        var ServerUrl = "@(ServerURL)";
    </script>
</head>
<body class="hold-transition register-page">
    <div class="register-box" style="margin-top: 150px;">
        <div class="register-logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="@strLogo.ToString()" alt="@(sTenCongTy)" title="@(sTenCongTy)" style="vertical-align:central;" />
            </a>
        </div><!-- /.login-logo -->
        <div class="register-box-body">
            @using (Html.BeginForm("ChangePassword", "Account", new { ParentID = ParentID }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <p class="login-box-msg" style="padding-bottom: 5px;"><b>THAY ĐỔI MẬT KHẨU</b></p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    <label for="@(ParentID)_sMatKhauCu">Mật khẩu cũ<span style="color: red;">&nbsp;*</span>(MK phải có chữ hoa, thường, số và ký tự đặc biệt)</label>
                    @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, "", "sMatKhauCu", "", "type=\"password\" placeholder=\"Mật khẩu cũ\" class=\"form-control\""))
                    @Html.ValidationMessage(ParentID + "_" + "err_sMatKhauCu")
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label for="@(ParentID)_sMatKhau">Mật khẩu mới<span style="color: red;">&nbsp;*</span>(MK phải có chữ hoa, thường, số và ký tự đặc biệt)</label>
                    @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, "", "sMatKhau", "", "type=\"password\" placeholder=\"Mật khẩu mới\" class=\"form-control\""))
                    @Html.ValidationMessage(ParentID + "_" + "err_sMatKhau")
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label for="@(ParentID)_sReMatKhau">Nhập lại mật khẩu mới<span style="color: red;">&nbsp;*</span></label>
                    @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, "", "sReMatKhau", "", "type=\"password\" placeholder=\"Nhập lại mật khẩu mới\" class=\"form-control\""))
                    @Html.ValidationMessage(ParentID + "_" + "err_sReMatKhau")
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat btn-box">Đổi mật khẩu</button>
                    </div><!-- /.col -->
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary btn-block btn-flat btn-box" onclick="javascript:history.go(-1)">Hủy bỏ</button>
                    </div><!-- /.col -->
                </div>
                <div class="social-auth-links text-center"></div>
                <a href="@Url.Action("Index", "Home")" class="text-align-left">Trang chủ</a>
                <a href="@Url.Action("Login", "Account")" class="text-align-right" style="float: right;">Đăng nhập</a>
            }
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- Bootstrap 3.3.2 JS -->
    <script src="@(Url.Content("~/Content/bootstrap/js/bootstrap.min.js"))" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="@(Url.Content("~/Content/plugins/iCheck/icheck.min.js"))" type="text/javascript"></script>
</body>
</html>

