@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@using APP0200026.App_Code
@using APP0200026.Models
@using APP0200026.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Update";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    String MaHangMau = Convert.ToString(ViewData["iID_MaHangMau"]);
    String MaPhongBan = Convert.ToString(ViewData["MaPhongBan"]);

    SqlCommand cmd;
    cmd = new SqlCommand("SELECT iID_MaHangMau_Cha FROM BC_HangMau WHERE iID_MaHangMau = @iID_MaHangMau");
    cmd.Parameters.AddWithValue("@iID_MaHangMau", MaHangMau);
    int MaHangMauCha = Convert.ToInt32(Connection.GetValue(cmd, 0));
    cmd.Dispose();

    cmd = new SqlCommand("SELECT iID_MaHangMau, sTenHang FROM BC_HangMau WHERE iID_MaHangMau_Cha = @iID_MaHangMau_Cha AND iID_MaHangMau <> @iID_MaHangMau ORDER BY iSTT");
    cmd.Parameters.AddWithValue("@iID_MaHangMau_Cha", MaHangMauCha);
    cmd.Parameters.AddWithValue("@iID_MaHangMau", MaHangMau);
    DataTable dt = Connection.GetDataTable(cmd);
    dt.Rows.InsertAt(dt.NewRow(), 0);
    dt.Rows[0]["iID_MaHangMau"] = 0;
    dt.Rows[0]["sTenHang"] = "-- Chọn chỉ tiêu cần lấy mã cha --";
    SelectOptionList optChiTieu = new SelectOptionList(dt, "iID_MaHangMau", "sTenHang");
    string sChiTieu = dt.Rows[0]["iID_MaHangMau"].ToString();

    cmd.Dispose();

}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @{
                    using (Html.BeginForm("UpdateMaChaSubmit", "HangMau", new { ParentID = ParentID, MaHangMau = MaHangMau, MaPhongBan = MaPhongBan }))
                    {
                        <div class="box-header">
                            <h3 class="box-title">DANH SÁCH CHỈ TIÊU CẦN LẤY</h3>
                            <div class="box-tools">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="@Url.Action("Create", "HangMau", new {MaPhongBan = MaPhongBan })"><i class="fa fa-plus-square"></i> @Lang["ChucNang_Item01"].ToString()</a></li>
                                    <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                                </ul>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, optChiTieu, sChiTieu, "iID_MaHangMau", "", "class=\"form-control\""))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" type="submit">Save</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->