@using System.Configuration
@using System.Collections
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@using APP0200026.Models
@{
    ViewBag.Title = ConfigurationManager.AppSettings["TitleView"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ParentID = "Edit";

    String iID_MaNhomNguoiDung = CString.SafeString(Convert.ToString(ViewData["MaNhomNguoiDung"]));
    String iID_MaNhomNguoiDung_Cha = CString.SafeString(Convert.ToString(ViewData["MaNhomNguoiDungCha"]));

    String sTen = "", tgTrangThai = "";
    int iTrangThai = 0;
    if (String.IsNullOrEmpty(iID_MaNhomNguoiDung) == false)
    {
        DataTable dt = CPQ_NHOMNGUOIDUNG.Get_One_QT_NhomNguoiDung(Convert.ToString(iID_MaNhomNguoiDung));
        DataRow R;
        R = dt.Rows[0];
        sTen = Convert.ToString(R["STEN"]);
        iTrangThai = Convert.ToInt32(R["ITRANGTHAI"]);
        dt.Dispose();
    }
    if (iTrangThai == 1)
    {
        tgTrangThai = "on";
    }

}
@{
    using (Html.BeginForm("EditSubmit", "NhomNguoiDung", new { ParentID = ParentID, MaNhomNguoiDungCha = iID_MaNhomNguoiDung_Cha }))
    {
        @Html.Hidden(ParentID + "_iID_MaNhomNguoiDung", iID_MaNhomNguoiDung);
        @Html.Hidden(ParentID + "_DuLieuMoi", ViewData["DuLieuMoi"]);
        
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    @if (ViewData["DuLieuMoi"] == "1")
                                    {
                                        @String.Format("{0}", "Nhập mới nhóm người dùng")
                                    }
                                    else
                                    {
                                        @String.Format("{0}", "Sửa nhóm người dùng")
                                    }
                                </h3>
                                <div class="box-tools">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="Edit_sTenCongTy">Tên nhóm người dùng<span style="color: red;">&nbsp;*</span></label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, sTen, "sTen", "", "type=\"text\" placeholder=\"Tên nhóm người dùng\" class=\"form-control\""))
                                            @Html.ValidationMessage(ParentID + "_" + "err_sTen")
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <lable>@MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgTrangThai, "bTrangThai", "", "type=\"checkbox\""))&nbsp;&nbsp;&nbsp;&nbsp;Trạng thái</lable><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-default" type="submit">Save</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section><!-- /.content -->

    }
}

