@using System.Configuration
@using System.Collections
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@using APP0200026.Models
@{
    ViewBag.Title = ConfigurationManager.AppSettings["TitleView"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ParentID = "Edit";

    String MaNhomNguoiDung = CString.SafeString(Convert.ToString(ViewData["MaNhomNguoiDung"]));

    String TenNhomNguoiDung = CPQ_NHOMNGUOIDUNG.Get_Name(MaNhomNguoiDung);

}
@{
    using (Html.BeginForm("EditNguoiDungSubmit", "NhomNguoiDung", new { ParentID = ParentID, MaNhomNguoiDung = MaNhomNguoiDung }))
    {
        
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Danh sách người dùng của nhóm @(TenNhomNguoiDung)</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>UserName <span style="color: red;">&nbsp;*</span></label>
                                        @MvcHtmlString.Create(MyHtmlHelper.Autocomplete(ParentID, null, "", "sID_MaNguoiDung", "sTen", "", "placeholder=\"-- Người dùng --\" type=\"text\" class=\"form-control\""))
                                        @MvcHtmlString.Create(MyHtmlHelper.AutoComplete_Initialize(ParentID + "_sTen", ParentID + "_sID_MaNguoiDung", Url.Action("get_Auto_NguoiDung", "NhomNguoiDung"), "term: request.term", "func_Auto_Complete", new { delay = 100, minchars = 1 }))
                                        @Html.ValidationMessage(ParentID + "_" + "err_COT_A_ID")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th width="2%" align="center">STT</th>
                                                    <th align="center">Tài khoản</th>
                                                    <th width="15%" align="center">Trạng thái</th>
                                                    <th width="2%" align="center"><span class="badge bg-blue"><i class="fa fa-pencil"></i></span></th>
                                                    <th width="2%" align="center"><span class="badge bg-red"><i class="fa fa-times"></i></span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    DataTable dt = CPQ_NGUOIDUNG.Get_Table_NguoiDung_Nhom(MaNhomNguoiDung);
                                                    for (int i = 0; i <= dt.Rows.Count - 1; i++)
                                                    {
                                                        int iSTT = i + 1;

                                                        String sUserName = Convert.ToString(dt.Rows[i]["sID_MANGUOIDUNG"]);

                                                        String sTrangThai = "";
                                                        int itrangThai = Convert.ToInt32(dt.Rows[i]["ITRANGTHAI"]);
                                                        if (itrangThai == 1)
                                                        {
                                                            sTrangThai = "Hoạt động";
                                                        }
                                                        else
                                                        {
                                                            sTrangThai = "Chờ kích hoạt";
                                                        }

                                                        String strEdit = "";
                                                        String strDelete = "";
                                                        strEdit = MyHtmlHelper.ActionLink(Url.Action("Edit", "NguoiDung", new { MaNguoiDung = dt.Rows[i]["sID_MANGUOIDUNG"], MaNhomNguoiDung = MaNhomNguoiDung }).ToString(), "<span class=\"badge bg-blue\"><i class=\"fa fa-pencil\"></i></span>", "Edit", "");
                                                        strDelete = MyHtmlHelper.ActionLink(Url.Action("Delete_NguoiDung", "NhomNguoiDung", new { MaNguoiDung = dt.Rows[i]["sID_MANGUOIDUNG"], MaNhomNguoiDung = MaNhomNguoiDung }).ToString(), "<span class=\"badge bg-red\"><i class=\"fa fa-times\"></i></span>", "Delete", "");

                                                        <tr>
                                                            <td>@(iSTT)</td>
                                                            <td>@(sUserName)</td>
                                                            <td>@(sTrangThai)</td>
                                                            <td>@MvcHtmlString.Create(strEdit)</td>
                                                            <td>@MvcHtmlString.Create(strDelete)</td>
                                                        </tr>
                                                    }
                                                    dt.Dispose();
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-default" type="submit">Save</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section><!-- /.content -->

    }
}
<script type="text/javascript" language="javascript">
    function func_Auto_Complete(id, ui) {
        //document.getElementById("Index_sTenSanPham_View_Xem").value = ui.item.TenSP;
    }
</script>


