@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@using APP0200026.App_Code
@using APP0200026.Models
@using APP0200026.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "BC_BangMau";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String MaPhongBan = CString.SafeString(Convert.ToString(ViewData["MaPhongBan"]));
    String _TieuDe = CString.SafeString(Request.QueryString["_TieuDe"]);

    DataTable dt = CBangMau.Get_Table(MaPhongBan);
    DataRow R;
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("Search", "BangMau", new { ParentID = ParentID }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@Lang["ChucNang_Item09"].ToString()</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, _TieuDe, "TieuDe", "", "placeholder=\"Thông tin tìm kiếm\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <button class="btn btn-block btn-default" type="submit">@Lang["ChucNang_Item10"].ToString()</button>
                    </div>
                }
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">DANH SÁCH BÁO CÁO MẪU</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="@Url.Action("Edit", "BangMau", new { MaPhongBan = MaPhongBan })"><i class="fa fa-plus-square"></i> @Lang["ChucNang_Item01"].ToString()</a></li>
                            <li><a href="@Url.Action("Sort", "BangMau", new { MaPhongBan = MaPhongBan })"><i class="fa fa-sort-numeric-asc"></i> @Lang["ChucNang_Item04"].ToString()</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th style="width: 2%; text-align: center;">STT</th>
                                <th style="width: 5%;">Loại báo cáo</th>
                                <th style="width: 5%;">Phòng ban</th>
                                <th style="width: 15%; text-align: center;">Tên báo cáo</th>
                                <th style="width: 5%; text-align: center;">Trạng thái</th>
                                <th style="width: 5%; text-align: center;">Ngày đăng</th>
                                <th>Chức năng</th>
                                <th style="width: 10px;" title="Sửa"><span class="badge bg-blue"><i class="fa fa-pencil"></i></span></th>
                                <th style="width: 10px" title="Xóa"><span class="badge bg-red"><i class="fa fa-times"></i></span></th>
                            </tr>
                            @{
                                if (dt.Rows.Count > 0)
                                {
                                    for (int i = 0; i < dt.Rows.Count; i++)
                                    {
                                        R = dt.Rows[i];

                                        int iSTT = i + 1;

                                        String sTrangThai = "", sLoaiBaoCao = "", sPhongBan = "";
                                        sLoaiBaoCao = CLoaiBaoCao.Get_Name(Convert.ToString(R["iLoaiBaoCao"]));
                                        sPhongBan = CPhongBan.Get_Name(Convert.ToString(R["iID_MaPhongBan"]));
                                        int iTrangThai = Convert.ToInt32(R["iMaTrangThai"]);
                                        if (iTrangThai == 1)
                                        {
                                            sTrangThai = "<span class=\"badge bg-red\"><i class=\"fa fa-unlock\"></i></span>";
                                        }
                                        else
                                        {
                                            sTrangThai = "<span class=\"badge bg-red\"><i class=\"fa fa-unlock-alt\"></i></span>";
                                        }

                                        String strEdit = MyHtmlHelper.ActionLink(Url.Action("Edit", "BangMau", new { iID_MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan }), "<span class=\"badge bg-blue\"><i class=\"fa fa-pencil\"></i></span>", "Edit", "");
                                        String strDelete = MyHtmlHelper.ActionLink(Url.Action("Delete", "BangMau", new { iID_MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan }), "<span class=\"badge bg-red\"><i class=\"fa fa-times\"></i></span>", "Delete", "");

                                        <tr>
                                            <td style="text-align: center;">@iSTT.ToString()</td>
                                            <td>@sLoaiBaoCao.ToString()</td>
                                            <td>@sPhongBan.ToString()</td>
                                            <td>@R["sTenBang"].ToString()</td>
                                            <td style="text-align: center;">@MvcHtmlString.Create(sTrangThai)</td>
                                            <td>@Convert.ToDateTime(R["dNgayTao"]).ToString("dd-MM-yyyy HH:mm")</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "CotMau", new { MaBangMau = R["iID_MaBangMau"], MaPhong = MaPhongBan })" class="btn btn-app bg-olive"><i class="fa fa-cogs"></i> Cột mẫu</a>
                                                <a href="@Url.Action("Detail", "BangMauHangMau", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-orange"><i class="fa fa-cogs"></i> Hàng mẫu</a>
                                                <a href="@Url.Action("Index", "BangMauCongThuc", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-aqua"><i class="fa fa-cogs"></i> Công thức cho ô</a>
                                                <a href="@Url.Action("Detail", "BangMau", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-blue"><i class="fa fa-cogs"></i> Giá trị mặc định</a>
                                                <a href="@Url.Action("Index", "BangMauDinhDang", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-black"><i class="fa fa-cogs"></i> Định dạng cho ô</a>
                                                <a href="@Url.Action("CreateNhanhHangMau", "BangMauHangMau", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-navy"><i class="fa fa-cogs"></i> Thêm nhanh hàng mẫu</a>
                                                <a href="@Url.Action("CreateNhanhHangMauNoDelete", "BangMauHangMau", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-dark"><i class="fa fa-cogs"></i> Thêm nhanh hàng mẫu ko xóa chỉ tiêu cũ</a>
                                                <a href="@Url.Action("DeleteHangMau", "BangMau", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-fuchsia"><i class="fa fa-cogs"></i> Xóa toàn bộ hàng mẫu</a>
                                                @{
                                                    if (Convert.ToBoolean(R["bXemTheoDonVi"]))
                                                    {
                                                        <a href="@Url.Action("List", "BangMauCotMauDonVi", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-gray"><i class="fa fa-cogs"></i> Cột mẫu dành cho đơn vị</a>
                                                    }
                                                }
                                                <a href="@Url.Action("Index", "BangMauCotMauDonViTenMoi", new { MaBangMau = R["iID_MaBangMau"], MaPhongBan = MaPhongBan })" class="btn btn-app bg-green"><i class="fa fa-cogs"></i> Sửa tên cột mẫu cho đơn vị</a>
                                            </td>
                                            <td style="width: 10px;" title="Sửa">@MvcHtmlString.Create(strEdit)</td>
                                            <td style="width: 10px" title="Xóa">@MvcHtmlString.Create(strDelete)</td>
                                        </tr>
                                    }
                                }
                                dt.Dispose();
                            }
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
