@using System
@using System.Collections.Specialized
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using DATA0200025.Models
@model HangHoaModels
@{
    Layout = null;
    string ParentID = "TC";
    GiayChungNhanHopQuyModels giayChungNhan = clHangHoa.GetChungNhanHopQuy(Model.iID_MaHangHoa);

    var fileKetQuas = clFileDinhKem.GetFileByHangHoa(Model.iID_MaHangHoa, (int)HamRiengModels.LoaiTapTinDinhKem.PhieuKetQuaPhanTich);
    var hosoXNCL = clHangHoa.GetHoSoXNCL(Model.iID_MaHangHoa);
    if(hosoXNCL==null)
    {
        hosoXNCL = new HoSoXNCLModels();
    }
    int i = 0;
}
<input hidden/>
<section>
    <div class="box-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-10">
                            <b>Thông tin hồ sơ đăng ký xác nhận chất lượng</b>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4">
                            Mã hồ sơ
                        </div>
                        <div class="col-xs-6">
                            @hosoXNCL.sMaHoSo
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4">
                            Tên TACN
                        </div>
                        <div class="col-xs-6">
                           @Model.sTenHangHoa
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4">
                            Kết quả đánh giá sự phù hợp
                        </div>
                        <div class="col-xs-6">
                            @if (@hosoXNCL.iKetQua == 1)
                            {

                            }
                            else
                            {
                                <span>Không phù hợp</span>

                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4">
                            Tổ chức (Tổ chức
                            đánh giá sự phù hợp)
                        </div>
                        <div class="col-xs-6">
                            @hosoXNCL.sTenToChuc
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-10">
                            <b> Thông tin giấy chứng nhận hợp quy lô TACN nhập khẩu</b>
                        </div>
                    </div>
                </div>
                @if (giayChungNhan != null)
                {
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-1">
                                Số
                            </div>
                            <div class="col-xs-2">
                                @giayChungNhan.sSoChungNhan
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-1">
                                Ngày cấp
                            </div>
                            <div class="col-xs-2">
                                @String.Format("{0:dd/MM/yyyyy}", giayChungNhan.dNgayCap)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-1">
                                File đính kèm
                            </div>
                            <div class="col-xs-5">
                                @giayChungNhan.sTenFile
                            </div>
                            <div class="col-xs-2">
                                <span class='badge bg-blue btnview' data-src=" @giayChungNhan.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span>

                            </div>
                            <div class="col-xs-2">
                                <a class="openyeucaubosung" href="@giayChungNhan.sDuongDan">
                                    <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-10">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-align-center">STT</td>
                                    <td class="text-align-center">Phiếu kết quả phân tích</td>
                                    <td class="text-align-center">Xem</td>
                                    <td class="text-align-center">Tải về</td>

                                </tr>
                                @foreach (var item in fileKetQuas)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.sTenFile</td>
                                        <td>
                                            <span class='badge bg-blue btnview' data-src="@item.sDuongDan"><i class='fa fa-fw fa-eye fa-lg'></i></span>
                                        </td>
                                        <td>
                                            <a class="openyeucaubosung" href="@item.sDuongDan">
                                                <span class='badge bg-blue'><i class='fa fa-download'></i></span>
                                            </a>
                                        </td>

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <iframe id="ifViewFile" src="" style="height:643px;width:750px;"> </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                @if (Model.iID_MaTrangThai == 40 || Model.iID_MaTrangThai == 36)
                {
                    <button class="btn btn-danger" data-id="@Model.iID_MaHangHoa" id="btnThuHoi">Thu hồi </button>
                    <a class="btn" style="background-color:#023658;color:white;" id="btnThoat">Thoát</a>
                }
                else
                {
                    <a class="btn" id="btnDongY" data-id="@Model.iID_MaHangHoa" style="background-color:#10de79;color:white;margin-right:5px;">Đồng ý</a>
                    <a class="btn btn-danger opentuchoi" data-id="@Model.iID_MaHangHoa" data-toggle="modal" href="#TuChoi" style="margin-right: 5px;" type="button">Từ chối</a>
                    <a class="btn" style="background-color:#023658;color:white;" id="btnThoat">Thoát</a>
                }


            </div>
        </div>
    </div>
</section>  