@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@using APP0200026.App_Code
@using APP0200026.Models
@using APP0200026.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Create";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    String MaBangMau = Convert.ToString(ViewData["MaBangMau"]);
    String MaPhongBan = Convert.ToString(ViewData["MaPhongBan"]);
    int MaHangMauCha = 0;
    if (Request.QueryString["MaHangMauCha"] != null)
    {
        MaHangMauCha = Convert.ToInt32(Request.QueryString["MaHangMauCha"]);
    }

    int MaHangMauCha_ChungHangMauCon = MaHangMauCha;
    SqlCommand cmd;
    int MaHangMauChaTruoc = 0;
    String TenChiTieuGoc = "";
    if (MaHangMauCha > 0)
    {
        cmd = new SqlCommand("SELECT * FROM BC_HangMau WHERE iID_MaHangMau=@iID_MaHangMau");
        cmd.Parameters.AddWithValue("@iID_MaHangMau", MaHangMauCha);
        DataTable dt1 = Connection.GetDataTable(cmd);
        if (dt1.Rows.Count > 0)
        {
            if (MaHangMauCha > 0)
            {
                MaHangMauChaTruoc = Convert.ToInt32(dt1.Rows[0]["iID_MaHangMau_Cha"]);
            }
            TenChiTieuGoc = " của " + Convert.ToString(dt1.Rows[0]["sTenHang"]);

            if (Convert.ToInt16(dt1.Rows[0]["iID_MaHangMau_ChungHangMauCon"]) > 0)
            {
                MaHangMauCha_ChungHangMauCon = Convert.ToInt16(dt1.Rows[0]["iID_MaHangMau_ChungHangMauCon"]);
            }
        }
        dt1.Dispose();
        cmd.Dispose();
    }

    cmd = new SqlCommand();
    cmd = new SqlCommand("SELECT * FROM BC_HangMau WHERE iID_MaHangMau_Cha=@iID_MaHangMau_Cha AND iID_MaPhongBan=@iID_MaPhongBan ORDER BY iSTT");
    cmd.Parameters.AddWithValue("@iID_MaHangMau_Cha", MaHangMauCha_ChungHangMauCon);
    cmd.Parameters.AddWithValue("@iID_MaPhongBan", MaPhongBan);
    DataTable dt = Connection.GetDataTable(cmd);

    String XauMucCuaHang = "";
    List<Boolean> arrLaHangCha = new List<Boolean>();
    List<int> arrMucCuaHang = new List<int>();
    List<Boolean> arrHangChiDoc = new List<Boolean>();
    Boolean ChiDoc = false;
    Boolean ChiCoQuyenDoc = false;

    for (int i = 0; i <= dt.Rows.Count - 1; i++)
    {
        arrLaHangCha.Add(false);
        arrMucCuaHang.Add(0);
    }

    for (int i = 0; i <= dt.Rows.Count - 1; i++)
    {
        ChiDoc = false;
        if (ChiCoQuyenDoc)
        {
            ChiDoc = true;
        }
        if (Convert.ToString(dt.Rows[i]["sCongThuc"]) != "")
        {
            ChiDoc = true;
        }
        arrHangChiDoc.Add(ChiDoc);
        String MaHangMau_Cha = Convert.ToString(dt.Rows[i]["iID_MaHangMau_Cha"]);
        if (String.IsNullOrEmpty(MaHangMau_Cha) == false)
        {
            for (int j = i - 1; j >= 0; j--)
            {
                if (Convert.ToString(dt.Rows[j]["iID_MaHangMau"]) == MaHangMau_Cha)
                {
                    arrLaHangCha[j] = true;
                    arrMucCuaHang[i] = arrMucCuaHang[j] + 1;
                    break;
                }
            }
        }
    }

    for (int i = 0; i < arrHangChiDoc.Count; i++)
    {
        XauMucCuaHang += String.Format("{0},", arrMucCuaHang[i]);
    }
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreateSubmit", "BangMauHangMau", new { ParentID = ParentID, MaPhongBan = MaPhongBan, MaBangMau = MaBangMau, MaHangMauCha = MaHangMauCha }))
            {
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">DANH SÁCH CHỈ TIÊU MẪU <span style="color: Red;">@(TenChiTieuGoc)</span></h3>
                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="@Url.Action("Detail", "BangMauHangMau", new { MaBangMau = MaBangMau, MaHangMauCha = MaHangMauCha, MaPhongBan = MaPhongBan })"><i class="fa fa-plus-square"></i> Chi tiết chỉ tiêu</a></li>
                                <li><a href="@Url.Action("AddNews", "BangMauHangMau", new { MaBangMau = MaBangMau, MaHangMauCha = 0, MaPhongBan = MaPhongBan })"><i class="fa fa-plus-square"></i> Thêm nhanh chỉ tiêu</a></li>
                                <li><a href="@Url.Action("Create", "BangMauHangMau", new { MaBangMau = MaBangMau, MaHangMauCha = MaHangMauChaTruoc, MaPhongBan = MaPhongBan })"><i class="fa fa-reply-all"></i> Quay lại chỉ tiêu trước</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <input type="hidden" id="txtXauMucCuaHang" value="@(XauMucCuaHang)" />
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th style="width: 15px;"></th>
                                    <th style="width: 5%;">Mã CT</th>
                                    <th>Tên chỉ tiêu</th>
                                    <th style="width: 15%; text-align: center;">Công thức</th>
                                    <th style="width: 10%; text-align: center;">Đơn vị</th>
                                    <th style="width: 5%; text-align: center;">Tính tổng chỉ tiêu</th>
                                    <th style="width: 5%; text-align: center;" align="center">@MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, "", "chb_DeleteAll", "", "onclick=\"JavaScript:checkDeleteAll(this.form);\" title=\"Chọn tất cả\""))</th>
                                </tr>
                                @{
                                    String strNhungMaDangCo = "";
                                    if (dt.Rows.Count > 0)
                                    {
                                        for (int i = 0; i <= dt.Rows.Count - 1; i++)
                                        {
                                            DataRow R = dt.Rows[i];

                                            String MaHangMauHT;
                                            String TenHang = "", CongThuc = "", BackGround = "", MauSac = "";
                                            int Heigh = 0, FontSize = 0;
                                            Boolean Bold = false;
                                            Boolean Italic = false;
                                            Boolean Underline = false;
                                            Boolean bTongHangCon = false;
                                            Boolean bTinhTongTheoDonVi = false;
                                            Boolean bTruongGhiChu = false;
                                            Boolean bThemChiTieuCon = false;

                                            MaHangMauHT = Convert.ToString(R["iID_MaHangMau"]);
                                            TenHang = Convert.ToString(R["sTenHang"]);
                                            CongThuc = Convert.ToString(R["sCongThuc"]);
                                            BackGround = Convert.ToString(R["sBackGround"]);
                                            MauSac = Convert.ToString(R["sColor"]);
                                            Heigh = Convert.ToInt32(R["iHeight"]);
                                            FontSize = Convert.ToInt32(R["iFontSize"]);
                                            Bold = Convert.ToBoolean(R["bBold"]);
                                            Italic = Convert.ToBoolean(R["bItalic"]);
                                            Underline = Convert.ToBoolean(R["bUnderline"]);
                                            bTongHangCon = Convert.ToBoolean(R["bTongHangCon"]);
                                            bTinhTongTheoDonVi = Convert.ToBoolean(R["bTinhTongTheoDonVi"]);
                                            bTruongGhiChu = Convert.ToBoolean(R["bTruongGhiChu"]);
                                            bThemChiTieuCon = Convert.ToBoolean(R["bThemChiTieuCon"]);

                                            String sTongHangCon = "";
                                            if (bTongHangCon == true)
                                            {
                                                sTongHangCon = "<span class=\"badge bg-red\"><i class=\"fa fa-check-square\"></i></span>";
                                            }
                                            else
                                            {
                                                sTongHangCon = "";    //<span class=\"badge bg-red\"><i class=\"fa  fa-remove\"></i></span>
                                            }

                                            String tgStyle = "";

                                            if (Convert.ToInt16(R["iHeight"]) > 0)
                                            {
                                                tgStyle += String.Format("height:{0}px;", R["iHeight"]);
                                            }
                                            if (Convert.ToString(R["sBackground"]) != "")
                                            {
                                                tgStyle += String.Format("background-color:{0};", R["sBackground"]);
                                            }
                                            if (Convert.ToString(R["sColor"]) != "")
                                            {
                                                tgStyle += String.Format("color: {0};", R["sColor"]);
                                            }
                                            if (Convert.ToInt16(R["iFontSize"]) > 0)
                                            {
                                                tgStyle += String.Format("font-size:{0}px;", R["iFontSize"]);
                                            }
                                            if (Convert.ToBoolean(R["bBold"]))
                                            {
                                                tgStyle += String.Format("font-weight:bold;");
                                            }
                                            if (Convert.ToBoolean(R["bItalic"]))
                                            {
                                                tgStyle += String.Format("font-style:italic;");
                                            }
                                            if (Convert.ToBoolean(R["bUnderline"]))
                                            {
                                                tgStyle += String.Format("text-decoration:underline;");
                                            }

                                            SqlCommand cmd1;
                                            cmd1 = new SqlCommand("SELECT * FROM BC_BangMau_HangMau WHERE iID_MaBangMau = @iID_MaBangMau AND iID_MaHangMau_Cha=@iID_MaHangMau_Cha");
                                            cmd1.Parameters.AddWithValue("@iID_MaBangMau", MaBangMau);
                                            cmd1.Parameters.AddWithValue("@iID_MaHangMau_Cha", MaHangMauCha);
                                            DataTable dt1 = Connection.GetDataTable(cmd1);
                                            String tg = "";
                                            int j;
                                            for (j = 0; j <= dt1.Rows.Count - 1; j++)
                                            {
                                                if (Convert.ToString(R["iID_MaHangMau"]) == Convert.ToString(dt1.Rows[j]["iID_MaHangMau"]))
                                                {
                                                    if (strNhungMaDangCo != "")
                                                    {
                                                        strNhungMaDangCo += ",";
                                                    }
                                                    strNhungMaDangCo += Convert.ToString(R["iID_MaHangMau"]);
                                                    tg = "on";
                                                    break;
                                                }
                                            }

                                            String TenDonVi = "";
                                            if (Convert.ToInt32(R["iID_MaDonVi"]) > 0)
                                            {
                                                cmd = new SqlCommand("SELECT sTen FROM BC_DonVi WHERE iID_MaDonVi=@iID_MaDonVi");
                                                cmd.Parameters.AddWithValue("@iID_MaDonVi", R["iID_MaDonVi"]);
                                                TenDonVi = Convert.ToString(Connection.GetValue(cmd, 0));
                                                cmd.Dispose();
                                            }

                                            String strXauChonGiaTri = MyHtmlHelper.CheckBox(ParentID, tg, "iID_MaHangMau_" + i, "", "" + String.Format("value='{0}'", Convert.ToString(dt.Rows[i]["iID_MaHangMau"])) + " onclick=\"javascript:LayGiaTriCon(" + i + ",1,'Create_iID_MaHangMau');\"");

                                            <tr style="@(MvcHtmlString.Create(tgStyle))">
                                                <td align="center">
                                                    @{
                                                        if (arrLaHangCha[i])
                                                        {
                                                            <button id="btn@(i)" onclick="javascript:return AnHienHang('@(i)',1);" style="width:15px">-</button>
                                                        }
                                                        else
                                                        {
                                                            @(MvcHtmlString.Create("&nbsp;"))
                                                        }
                                                    }
                                                </td>
                                                <td align="center">@(MaHangMauHT)</td>
                                                <td><a href="@Url.Action("Create", "BangMauHangMau", new { MaBangMau = MaBangMau, MaHangMauCha = MaHangMauHT, MaPhongBan = MaPhongBan })">@(TenHang)</a></td>
                                                <td>@(CongThuc)</td>
                                                <td>@(TenDonVi)</td>
                                                <td>@MvcHtmlString.Create(sTongHangCon)</td>
                                                <td align="center">@MvcHtmlString.Create(strXauChonGiaTri)</td>
                                            </tr>
                                        }
                                    }
                                    dt.Dispose();
                                }
                            </table>
                            <input type="hidden" id="txtNhungMaDaCo" name="txtNhungMaDaCo" value="@(strNhungMaDangCo)" />
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="submit">Save</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                        </div>
                    </div>
                </div>
            }
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
<script type="text/javascript">
    function checkDeleteAll(aspnetForm) {
        if (aspnetForm.Create_chb_DeleteAll.checked == true) {
            for (var i = 0; i < aspnetForm.elements.length; i++) {
                if ((aspnetForm.elements[i].type == "checkbox") && (aspnetForm.elements[i].name.substring(0, 20) == "Create_iID_MaHangMau")) {
                    aspnetForm.elements[i].checked = true;
                }
            }
        }
        else {
            for (var i = 0; i < aspnetForm.elements.length; i++) {
                if ((aspnetForm.elements[i].type == "checkbox") && (aspnetForm.elements[i].name.substring(0, 20) == "Create_iID_MaHangMau")) {
                    aspnetForm.elements[i].checked = false;
                }
            }
        }
    }
</script>