@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@model sHoSoModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userName = User.Identity.Name;
    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "BC_Vung";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String _MaMien = CString.SafeString(Request.QueryString["_MaMien"]);
    String _TieuDe = CString.SafeString(Request.QueryString["_TieuDe"]);
    String _FromDate = CString.SafeString(Request.QueryString["_FromDate"]);
    String _ToDate = CString.SafeString(Request.QueryString["_ToDate"]);

    SelectOptionList slMien = CMien.Get_Dropdown("--- Miền ---");
    int Page = Model.Page;

    int CurrentPage = 1;
    if (Page != 0)
    {
        CurrentPage = Page;
    }

    if (Model.PageSize == 0)
    {
        Model.PageSize = Globals.PageSize;
    }
    int nMax = Model.PageSize;
    int iTu = (CurrentPage - 1) * nMax;
    DataTable dt = clHoSo.GetDataTable(Model, CurrentPage, nMax);
    double nums = clHoSo.GetCount(Model);
    int RC = dt.Rows.Count;
    int TotalPages = (int)Math.Ceiling(nums / nMax);



    DataRow r;
    SelectOptionList ttDDL = clTrangThai.GetDDL();

    String strPhanTrang = Pagings.PageLinks_Cms(String.Format("Trang {0}/{1}: ", CurrentPage, TotalPages), CurrentPage, TotalPages, x => Url.Action("Index", "ChoTiepNhanHoSo", new { LoaiDanhSach = Model.LoaiDanhSach, sMaHoSo = Model.sMaHoSo, sTenDoanhNghiep = Model.sTenDoanhNghiep, sTenTACN = Model.sTenTACN, FromDate = Model.TuNgayDen, ToDate = Model.DenNgayDen, page = x }));

    // String strPhanTrang = Pagings.PageLinks_Cms(String.Format("Trang {0}/{1}: ", CurrentPage, TotalPages), CurrentPage, TotalPages, x => Url.Action("Index", "Tinh", new { _MaMien = _MaMien, _TieuDe = _TieuDe, _FromDate = _FromDate, _ToDate = _ToDate, page = x }));

}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("Search", "ChoTiepNhanHoSo", new { ParentID = ParentID }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@Lang["ChucNang_Item09"].ToString()</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-1 text-align-right"><label class="control-label">Mã hồ sơ</label></div>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sMaHoSo, "sMaHoSo", "", "placeholder=\"Mã hồ sơ\" type=\"text\" class=\"form-control\""))
                            </div>

                            <div class="col-xs-1 text-align-right">
                                <label class="control-label">Tên doanh nghiệp</label>
                            </div>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "placeholder=\"Tên doanh nghiệp\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-1 text-align-right"><label class="control-label">Tên TACN</label></div>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenTACN, "sTenTACN", "", "placeholder=\"Tên thức ăn chăn nuôi\" type=\"text\" class=\"form-control\""))
                            </div>
                            <div class="col-xs-1 text-align-right">
                                <label class="control-label">Mã số thuế</label>
                            </div>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sMaHoSo, "sMaHoSo", "", "placeholder=\"Mã số thuế doanh nghiệp\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-1 text-align-right"><label class="control-label">Ngày đến</label></div>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-xs-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgayDen, "TuNgayDen", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                    </div>
                                    <div class="col-xs-2 text-align-center"><b>-</b></div>
                                    <div class="col-xs-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgayDen, "DenNgayDen", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 text-align-right"></div>
                            <div class="col-xs-4"></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-xs-12 text-align-center">
                            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                            <button class="btn btn-danger" type="button">Nhập lại</button>
                        </div>
                    </div>

                }

            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">DANH SÁCH HỒ SƠ</h3>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                    </ul>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table id="tblListData" class="table table-bordered table-hover table-striped dataTable">
                            <thead>
                                <tr>
                                    <th class="sorting_asc" style="width: 3%;" align="center">STT</th>
                                    <th class="sorting" style="width: 12%;" align="center">Mã hồ sơ</th>
                                    <th class="sorting" style="text-align: center;" align="center">Doanh nghiệp</th>
                                    <th class="sorting" style="width: 20%; text-align: center;" align="center">Tên TACN</th>
                                    <th class="sorting" style="width: 10%; text-align: center;" align="center">Ngày đến</th>
                                    <th class="sorting" style="width: 10%; text-align: center;" align="center">Trạng thái hồ sơ</th>
                                    <th class="sorting" style="width: 5%;">Xem</th>
                                    <th class="sorting" style="width: 5%;">Tiếp nhận</th>
                                    <th class="sorting" style="width: 5%;">YC bồ sung</th>
                                    <th class="sorting" style="width: 5%;">Từ chối </th>
                                    <th class="sorting" style="width: 5%;">Người xem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (RC > 0)
                                    {
                                        for (int i = 0; i < RC; i++)
                                        {
                                            r = dt.Rows[i];

                                            string sUserNguoiXem = Convert.ToString(r["sUserNguoiXem"]);
                                            String strEdit = MyHtmlHelper.ActionLink(Url.Action("Edit", "ChoTiepNhanHoSo", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-check'></i></span>", "Edit", "");
                                            String strView = MyHtmlHelper.ActionLink(Url.Action("Detail", "ChoTiepNhanHoSo", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-eye fa-lg'></i></span>", "Detail", "");
                                            String strYeuCauBoXung = MyHtmlHelper.ActionLink(Url.Action("yeuCauBoXung", "ChoTiepNhanHoSo", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-plus'></i></span>", "Delete", "");
                                            String strTuChoi = MyHtmlHelper.ActionLink(Url.Action("TuChoi", "ChoTiepNhanHoSo", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-red'><i class='fa fa-times'></i></span>", "Delete", "");



                                            <tr>
                                                <td style="text-align: center;">@r["rownum"]</td>
                                                <td>@r["sMaHoSo"]</td>
                                                <td>@r["sTenDoanhNghiep"]</td>
                                                <td>@r["sTenTACN"]</td>
                                                <td>@Convert.ToDateTime(r["dNgayTaoHoSo"]).ToString("dd-MM-yyyy")</td>
                                                <td>@MvcHtmlString.Create(MyHtmlHelper.LabelForDropDownList(ttDDL, r["iID_MaTrangThai"], "iID_MaTrangThai")) </td>
                                                <td class="head-td-icon">
                                                    @if (string.IsNullOrEmpty(sUserNguoiXem) || userName.Equals(sUserNguoiXem))
                                                    {
                                                        @MvcHtmlString.Create(strView)
                                                    }
                                                </td>
                                                <td class="head-td-icon">
                                                    @if (string.IsNullOrEmpty(sUserNguoiXem) || userName.Equals(sUserNguoiXem))
                                                    {
                                                        <span class='badge bg-green'><i class='fa fa-fw fa-check'></i></span>
                                                    }
                                                </td>
                                                <td class="head-td-icon">
                                                    @if (string.IsNullOrEmpty(sUserNguoiXem) || userName.Equals(sUserNguoiXem))
                                                    {
                                                        <a class="openyeucaubosung" data-id="@r["iID_MaHoSo"]" data-toggle="modal" href="#YeuCauBoSung">
                                                            <span class='badge bg-yellow-gradient'><i class='fa fa-fw fa-plus'></i></span>
                                                        </a>
                                                    }

                                                </td>
                                                <td class="head-td-icon">
                                                    @if (string.IsNullOrEmpty(sUserNguoiXem) || userName.Equals(sUserNguoiXem))
                                                    {
                                                        <a class="opentuchoi" data-id="@r["iID_MaHoSo"]" data-toggle="modal" href="#TuChoi">
                                                            <span class='badge bg-red'><i class='fa fa-fw fa-remove'></i></span>
                                                        </a>
                                                    }
                                                </td>
                                                <td style="width: 10px;" title="người xem">@r["sTenNguoiXem"]</td>
                                            </tr>
                                        }
                                    }
                                    dt.Dispose();
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    @MvcHtmlString.Create(strPhanTrang)
                </div>
                @*<div class="box-footer clearfix">
                    </div>*@
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
@{Html.RenderPartial("~/Views/ChoTiepNhanHoSo/Partial_Model_YeuCauBoSung.cshtml");}
@{Html.RenderPartial("~/Views/ChoTiepNhanHoSo/Partial_Model_TuChoi.cshtml");}
<script src="@Url.Content("~/ScriptsERP/jsChoTiepNhanHoSo.js")?id=@DateTime.Now.ToString("yyMMddHHmmss")"></script>

<script src="@(Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js"))"></script>
<script>
    $(function () {
        $('#tblListData').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false
        });
    });
</script>