@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String ParentID = "Index";

    String sUserName = User.Identity.Name;
    String sMaNhomNguoiDung = CPQ_NGUOIDUNG.Get_MaNhomNguoiDung(sUserName);

    int iNgay = 0, iThang = 0, iNam = 0;
    DateTime _dayNow = DateTime.Now;

    iNgay = _dayNow.Day;
    iThang = _dayNow.Month;
    iNam = _dayNow.Year;

    Double _iKhachHang_Day = 0, _iHopDong_Day = 0, _iSanPham_Day = 0, _iDuLieuThuThap_Day = 0;

    Double _iKhachHang_Month = 0, _iHopDong_Month = 0, _iSanPham_Month = 0, _iDuLieuThuThap_Month = 0;

    //_iKhachHang_Day = CDashboards.Get_Count_Day("DC_KhachHang", DateTime.Now.ToString("yyyy-MM-dd"));
    //_iHopDong_Day = CDashboards.Get_Count_Day("MR_GioHang", DateTime.Now.ToString("yyyy-MM-dd"));
    //_iSanPham_Day = CDashboards.Get_Count_Day("SP_SanPham", DateTime.Now.ToString("yyyy-MM-dd"));
    //_iDuLieuThuThap_Day = CDashboards.Get_Count_Day("TB_Locations", DateTime.Now.ToString("yyyy-MM-dd"));

    //_iKhachHang_Month = CDashboards.Get_Count_Month("DC_KhachHang", iThang, iNam);
    //_iHopDong_Month = CDashboards.Get_Count_Month("MR_GioHang", iThang, iNam);
    //_iSanPham_Month = CDashboards.Get_Count_Month("SP_SanPham", iThang, iNam);
    //_iDuLieuThuThap_Month = CDashboards.Get_Count_Month("TB_Locations", iThang, iNam);

    sHoSoModels models;

    int iMG_ChoTiepNhan = 0, iMG_DaPheDuyet = 0, iMG_DaTraKQ = 0, iMG_TongHso = 0;
    int iGDK_ChoTiepNhan = 0, iGDK_ChoTiepNhanBoSung = 0, iGDK_PhongTACNYeuCauBoSung = 0, iGDK_TuChoiXacNhan = 0, iGDK_DaPheDuyetKQ = 0, iGDK_DaTra = 0;
    int iKQ_ChoTiepNhan = 0, iKQ_ChoTiepNhanBoSung = 0, iKQ_PhongTACNYeuCauBoSung = 0, iKQ_DaPheDuyet = 0, iKQ_DaCapThongBao = 0, iKQ_TongHso = 0;
    int iCV_TongGDK = 0, iCV_GDK_ChoXuLy = 0, iCV_XNCL_ChoXuLy = 0, iCV_TongXNCL = 0;

}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" class="text-uppercase">THỐNG KÊ TỔNG QUAN HỆ THỐNG</a></li>
                    <li><a href="#tab_2" data-toggle="tab" class="text-uppercase">LUỒNG QUY TRÌNH THỦ TỤC 25</a></li>
                    <li><a href="#tab_3" data-toggle="tab" class="text-uppercase">LUỒNG QUY TRÌNH THỦ TỤC 26</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        @{
                            switch (sMaNhomNguoiDung)
                            {
                                case "1":  //Nhóm quản trị

                                    iMG_ChoTiepNhan = DATA0200026.CHoSo26.GetCount_Dashboard(1);
                                    iMG_DaPheDuyet = DATA0200026.CHoSo26.GetCount_Dashboard(3);
                                    iMG_DaTraKQ = DATA0200026.CHoSo26.GetCount_Dashboard(4);
                                    iMG_TongHso = DATA0200026.CHoSo26.GetCount_Dashboard(-1);

                                    iGDK_ChoTiepNhan = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanHoSo, 0);
                                    iGDK_ChoTiepNhanBoSung = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanHoSoGuiBoSung, 0);
                                    iGDK_PhongTACNYeuCauBoSung = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_PhongTACNYeuCauBoSungHoSo, 0);
                                    iGDK_TuChoiXacNhan = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaTuChoiXacNhanGDK, 0);
                                    iGDK_DaPheDuyetKQ = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaPheDuyetGDK, 0);
                                    iGDK_DaTra = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaTraGDK, 0);

                                    iKQ_ChoTiepNhan = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanKetQua, 0);
                                    iKQ_ChoTiepNhanBoSung = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanKetQuaGuiBoSung, 0);
                                    iKQ_PhongTACNYeuCauBoSung = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.PhongTACNYeuCauBoSungKetQua, 0);
                                    iKQ_DaPheDuyet = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.DaPheDuyetThongBaoKetQua, 0);
                                    iKQ_DaCapThongBao = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.DaCapThongBaoKetQua, 0);
                                    iKQ_TongHso = clHoSo.GetCountHH_Dashboard(-1, -1);

                                    <div class="row">
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iMG_TongHso.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ miễn giảm</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/List?menu=227" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iMG_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ miễn giảm</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_ChoTiepNhan?menu=224" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iMG_DaPheDuyet.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_DaDuyet?menu=225" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iMG_DaTraKQ.ToString("#,##"))</h3>
                                                    <p>Đã trả kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_DaTraKQ?menu=226" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iGDK_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanHoSo?menu=229" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iGDK_ChoTiepNhanBoSung.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ gửi bổ sung</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoYeuCauBoSung?menu=230" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iGDK_PhongTACNYeuCauBoSung.ToString("#,##"))</h3>
                                                    <p>Phòng TACN yêu cầu bổ sung hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoDaXemXetYeuCauBoSung?menu=231" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iGDK_TuChoiXacNhan.ToString("#,##"))</h3>
                                                    <p>Đã từ chối xác nhận GĐK</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/List?menu=227" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iGDK_DaPheDuyetKQ.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt GĐK</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoDaPheDuyetGDK?menu=233" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iGDK_DaTra.ToString("#,##"))</h3>
                                                    <p>Đã trả giấy đăng ký</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaTraGDK?menu=234" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iKQ_TongHso.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/TraCuuHangHoa?menu=250" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanKetQua?menu=235" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iKQ_ChoTiepNhanBoSung.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận kết quả gửi bổ sung</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanKetQuaGuiBoSung?menu=236" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iKQ_PhongTACNYeuCauBoSung.ToString("#,##"))</h3>
                                                    <p>Phòng TACN yêu cầu bổ sung kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/PhongTACNYeuCauBoSungKetQua?menu=237" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_DaPheDuyet.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt thông báo kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaPheDuyetThongBaoKetQua?menu=238" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_DaCapThongBao.ToString("#,##"))</h3>
                                                    <p>Đã cấp thông báo kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaCapThongBaoKetQua?menu=239" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ MIỄN GIẢM THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_MG_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_GDK_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ XÁC NHẬN CHẤT LƯỢNG THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_XNCL_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                    break;
                                case "1-38":  //Nhóm bộ phận một cửa

                                    iMG_ChoTiepNhan = DATA0200026.CHoSo26.GetCount_Dashboard(1);
                                    iMG_DaPheDuyet = DATA0200026.CHoSo26.GetCount_Dashboard(3);
                                    iMG_DaTraKQ = DATA0200026.CHoSo26.GetCount_Dashboard(4);
                                    iMG_TongHso = DATA0200026.CHoSo26.GetCount_Dashboard(-1);

                                    iGDK_ChoTiepNhan = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanHoSo, 0);
                                    iGDK_ChoTiepNhanBoSung = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanHoSoGuiBoSung, 0);
                                    iGDK_PhongTACNYeuCauBoSung = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_PhongTACNYeuCauBoSungHoSo, 0);
                                    iGDK_TuChoiXacNhan = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaTuChoiXacNhanGDK, 0);
                                    iGDK_DaPheDuyetKQ = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaPheDuyetGDK, 0);
                                    iGDK_DaTra = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaTraGDK, 0);

                                    iKQ_ChoTiepNhan = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanKetQua, 0);
                                    iKQ_ChoTiepNhanBoSung = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanKetQuaGuiBoSung, 0);
                                    iKQ_PhongTACNYeuCauBoSung = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.PhongTACNYeuCauBoSungKetQua, 0);
                                    iKQ_DaPheDuyet = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.DaPheDuyetThongBaoKetQua, 0);
                                    iKQ_DaCapThongBao = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.DaCapThongBaoKetQua, 0);
                                    iKQ_TongHso = clHoSo.GetCountHH_Dashboard(-1, -1);

                                    <div class="row">
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iMG_TongHso.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ miễn giảm</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/List?menu=227" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iMG_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ miễn giảm</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_ChoTiepNhan?menu=224" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iMG_DaPheDuyet.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_DaDuyet?menu=225" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iMG_DaTraKQ.ToString("#,##"))</h3>
                                                    <p>Đã trả kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_DaTraKQ?menu=226" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iGDK_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanHoSo?menu=229" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iGDK_ChoTiepNhanBoSung.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ gửi bổ sung</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoYeuCauBoSung?menu=230" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iGDK_PhongTACNYeuCauBoSung.ToString("#,##"))</h3>
                                                    <p>Phòng TACN yêu cầu bổ sung hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoDaXemXetYeuCauBoSung?menu=231" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iGDK_TuChoiXacNhan.ToString("#,##"))</h3>
                                                    <p>Đã từ chối xác nhận GĐK</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/List?menu=227" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iGDK_DaPheDuyetKQ.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt GĐK</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoDaPheDuyetGDK?menu=233" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iGDK_DaTra.ToString("#,##"))</h3>
                                                    <p>Đã trả giấy đăng ký</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaTraGDK?menu=234" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iKQ_TongHso.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/TraCuuHangHoa?menu=250" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanKetQua?menu=235" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iKQ_ChoTiepNhanBoSung.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận kết quả gửi bổ sung</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanKetQuaGuiBoSung?menu=236" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iKQ_PhongTACNYeuCauBoSung.ToString("#,##"))</h3>
                                                    <p>Phòng TACN yêu cầu bổ sung kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/PhongTACNYeuCauBoSungKetQua?menu=237" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_DaPheDuyet.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt thông báo kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaPheDuyetThongBaoKetQua?menu=238" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_DaCapThongBao.ToString("#,##"))</h3>
                                                    <p>Đã cấp thông báo kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaCapThongBaoKetQua?menu=239" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ MIỄN GIẢM THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_MG_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_GDK_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ XÁC NHẬN CHẤT LƯỢNG THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_XNCL_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                    break;
                                case "1-40":  //Nhóm chuyên viên
                                    iCV_TongGDK = clHoSo.GetCount_Dashboard(-1, -1);
                                    iCV_GDK_ChoXuLy = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.ChuyenVien_ChoXuLyHoSo, 0);
                                    iCV_XNCL_ChoXuLy = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.ChoXuLyKetQua, 0);
                                    iCV_TongXNCL = clHoSo.GetCountHH_Dashboard(-1, -1);

                                    <div class="row">
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iCV_TongGDK.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ đăng ký</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/TraCuuHoSo?menu=251" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iCV_GDK_ChoXuLy.ToString("#,##"))</h3>
                                                    <p>Chờ xử lý hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChuyenVien?menu=245" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iCV_TongXNCL.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ miễn giảm</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/TraCuuHangHoa?menu=252" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iCV_XNCL_ChoXuLy.ToString("#,##"))</h3>
                                                    <p>Chờ xử lý kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoXuLyKetQua?menu=246" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ MIỄN GIẢM THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_MG_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_GDK_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ XÁC NHẬN CHẤT LƯỢNG THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_XNCL_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                    break;
                                case "1-41":  //Nhóm tổ chức chỉ định

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ MIỄN GIẢM THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_MG_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_GDK_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ XÁC NHẬN CHẤT LƯỢNG THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_XNCL_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                    break;
                                case "1-42":  //Nhóm lãnh đạo phòng

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ MIỄN GIẢM THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_MG_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_GDK_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ XÁC NHẬN CHẤT LƯỢNG THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_XNCL_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                    break;
                                case "1-43":  //Nhóm lãnh đạo cục

                                    iMG_ChoTiepNhan = DATA0200026.CHoSo26.GetCount_Dashboard(1);
                                    iMG_DaPheDuyet = DATA0200026.CHoSo26.GetCount_Dashboard(3);
                                    iMG_DaTraKQ = DATA0200026.CHoSo26.GetCount_Dashboard(4);
                                    iMG_TongHso = DATA0200026.CHoSo26.GetCount_Dashboard(-1);

                                    iGDK_ChoTiepNhan = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanHoSo, 0);
                                    iGDK_ChoTiepNhanBoSung = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanHoSoGuiBoSung, 0);
                                    iGDK_PhongTACNYeuCauBoSung = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_PhongTACNYeuCauBoSungHoSo, 0);
                                    iGDK_TuChoiXacNhan = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaTuChoiXacNhanGDK, 0);
                                    iGDK_DaPheDuyetKQ = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaPheDuyetGDK, 0);
                                    iGDK_DaTra = clHoSo.GetCount_Dashboard((int)clLoaiDanhSach.From.BPMC_DaTraGDK, 0);

                                    iKQ_ChoTiepNhan = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanKetQua, 0);
                                    iKQ_ChoTiepNhanBoSung = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.ChoTiepNhanKetQuaGuiBoSung, 0);
                                    iKQ_PhongTACNYeuCauBoSung = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.PhongTACNYeuCauBoSungKetQua, 0);
                                    iKQ_DaPheDuyet = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.DaPheDuyetThongBaoKetQua, 0);
                                    iKQ_DaCapThongBao = clHoSo.GetCountHH_Dashboard((int)clLoaiDanhSach.From.DaCapThongBaoKetQua, 0);
                                    iKQ_TongHso = clHoSo.GetCountHH_Dashboard(-1, -1);

                                    <div class="row">
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iMG_TongHso.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ miễn giảm</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/List?menu=227" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iMG_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ miễn giảm</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_ChoTiepNhan?menu=224" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iMG_DaPheDuyet.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_DaDuyet?menu=225" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-3 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iMG_DaTraKQ.ToString("#,##"))</h3>
                                                    <p>Đã trả kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/MienGiam_DaTraKQ?menu=226" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iGDK_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanHoSo?menu=229" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iGDK_ChoTiepNhanBoSung.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận hồ sơ gửi bổ sung</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoYeuCauBoSung?menu=230" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iGDK_PhongTACNYeuCauBoSung.ToString("#,##"))</h3>
                                                    <p>Phòng TACN yêu cầu bổ sung hồ sơ</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoDaXemXetYeuCauBoSung?menu=231" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iGDK_TuChoiXacNhan.ToString("#,##"))</h3>
                                                    <p>Đã từ chối xác nhận GĐK</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/BoPhanMotCua/List?menu=227" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iGDK_DaPheDuyetKQ.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt GĐK</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/HoSoDaPheDuyetGDK?menu=233" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iGDK_DaTra.ToString("#,##"))</h3>
                                                    <p>Đã trả giấy đăng ký</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaTraGDK?menu=234" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h3>@(iKQ_TongHso.ToString("#,##"))</h3>
                                                    <p>Tổng số hồ sơ kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/TraCuuHangHoa?menu=250" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_ChoTiepNhan.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanKetQua?menu=235" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h3>@(iKQ_ChoTiepNhanBoSung.ToString("#,##"))</h3>
                                                    <p>Chờ tiếp nhận kết quả gửi bổ sung</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/ChoTiepNhanKetQuaGuiBoSung?menu=236" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h3>@(iKQ_PhongTACNYeuCauBoSung.ToString("#,##"))</h3>
                                                    <p>Phòng TACN yêu cầu bổ sung kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/PhongTACNYeuCauBoSungKetQua?menu=237" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_DaPheDuyet.ToString("#,##"))</h3>
                                                    <p>Đã phê duyệt thông báo kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaPheDuyetThongBaoKetQua?menu=238" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                        <div class="col-lg-2 col-xs-6">
                                            <!-- small box -->
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <h3>@(iKQ_DaCapThongBao.ToString("#,##"))</h3>
                                                    <p>Đã cấp thông báo kết quả</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                                <a href="@(ServerURL)/DaCapThongBaoKetQua?menu=239" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div><!-- ./col -->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ MIỄN GIẢM THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_MG_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ HỒ SƠ ĐĂNG KÝ THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_GDK_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">BIỂU ĐỒ THỐNG KÊ XÁC NHẬN CHẤT LƯỢNG THEO NGÀY</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <img src="@Url.Content("~/Home/MyChart_XNCL_Day")" alt="chart" width="100%" />
                                                </div><!-- /.box-body -->
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                    break;
                                default:
                                    break;
                            }
                        }

                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <img src="@(ServerURL)/Content/images/cnn25.png" alt="chart" width="100%" />
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <img src="@(ServerURL)/Content/images/cnn26.png" alt="chart" width="100%" />
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div>
    </div>
</section>
