@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.App_Code
@using APP0200025.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_cms.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 2;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 2;
        Session["LANGUAGECODE"] = "en";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "DC_CongTy";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    DataTable dt = CCongTy.Get_Table_All();

    DataRow R;
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">DANH SÁCH CÔNG TY</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="@Url.Action("Edit", "DC_CongTy")">@Lang["ChucNang_Item01"].ToString()</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th style="width: 3%; text-align: center;">STT</th>
                                <th style="width: 10%; text-align: center;">Logo</th>
                                <th style="width: 20%; text-align: center;">Công ty</th>
                                <th style="width: 10%; text-align: center;">Điện thoại</th>
                                <th style="text-align: center;">Địa chỉ</th>
                                <th style="width: 10px;" title="Sửa"><span class="badge bg-blue"><i class="fa fa-pencil"></i></span></th>
                                <th style="width: 10px" title="Xóa"><span class="badge bg-red"><i class="fa fa-times"></i></span></th>
                            </tr>
                            @{
                                if (dt.Rows.Count > 0)
                                {
                                    for (int i = 0; i < dt.Rows.Count; i++)
                                    {
                                        R = dt.Rows[i];

                                        int iSTT = i + 1;

                                        String strLogo = "";
                                        if (String.IsNullOrEmpty(Convert.ToString(R["sLogo"])) == false)
                                        {
                                            strLogo = R["sLogo"] != null ? "data:image/jpg;base64," + Convert.ToBase64String((byte[])R["sLogo"]) : "";
                                        }


                                        String strEdit = MyHtmlHelper.ActionLink(Url.Action("Edit", "DC_CongTy", new { iID_MaCongTy = R["iID_MaCongTy"] }), "<span class=\"badge bg-blue\"><i class=\"fa fa-pencil\"></i></span>", "Edit", "");
                                        String strDelete = MyHtmlHelper.ActionLink(Url.Action("Delete", "DC_CongTy", new { iID_MaCongTy = R["iID_MaCongTy"] }), "<span class=\"badge bg-red\"><i class=\"fa fa-times\"></i></span>", "Delete", "");

                                        <tr>
                                            <td style="text-align: center;">@iSTT.ToString()</td>
                                            <td><img src="@strLogo.ToString()" alt="" style="width: 100px;" /></td>
                                            <td>@R["sTenCongTy"].ToString()</td>
                                            <td>@R["sDienThoai"].ToString()</td>
                                            <td>@R["sDiaChi"].ToString()</td>
                                            <td style="width: 10px;" title="Sửa">@MvcHtmlString.Create(strEdit)</td>
                                            <td style="width: 10px" title="Xóa">@MvcHtmlString.Create(strDelete)</td>
                                        </tr>
                                    }
                                }
                                dt.Dispose();
                            }
                        </table>
                    </div>
                </div><!-- /.box-body -->
                @*<div class="box-footer clearfix">
                    </div>*@
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->