@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using APP0200025.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Edit";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    String MaHangMau = Convert.ToString(ViewData["iID_MaHangMau"]);
    String MaPhongBan = Convert.ToString(ViewData["MaPhongBan"]);

    String sMaHang = "", TenHangMau = "", CongThuc = "", BackGround = "#ffffff", MauSac = "#000000";
    int Height = 20, FontSize = 12, iID_MaHangMau_ChungHangMauCon = -1;
    String MaDonVi = "", MaLoaiSanPham = "";
    bool Bold = false, Italic = false, Underline = false, bVisible = false, bTongHangCon = false, bTinhTongTheoDonVi = false, bTruongGhiChu = false, bThemChiTieuCon = false, bChuaLoaiSanPham = false, bChuaSanPham = false;
    bool bTinhTongTheoLoaiSanPham = false;
    SqlCommand cmd;
    DataTable dt = null;
    if (MaHangMau != "")
    {
        cmd = new SqlCommand("SELECT * FROM BC_HangMau WHERE iID_MaHangMau=@iID_MaHangMau");
        cmd.Parameters.AddWithValue("@iID_MaHangMau", MaHangMau);
        dt = Connection.GetDataTable(cmd);
        cmd.Dispose();
        if (dt.Rows.Count > 0)
        {
            sMaHang = dt.Rows[0]["sMaHang"].ToString();
            TenHangMau = dt.Rows[0]["sTenHang"].ToString();
            MaDonVi = Convert.ToString(dt.Rows[0]["iID_MaDonVi"]);
            MaPhongBan = Convert.ToString(dt.Rows[0]["iID_MaPhongBan"]);
            MaLoaiSanPham = Convert.ToString(dt.Rows[0]["iID_LoaiSanPham"]);
            CongThuc = dt.Rows[0]["sCongThuc"].ToString();
            Height = Convert.ToInt32(dt.Rows[0]["iHeight"]);
            BackGround = dt.Rows[0]["sBackGround"].ToString();
            MauSac = dt.Rows[0]["sColor"].ToString();
            FontSize = Convert.ToInt32(dt.Rows[0]["iFontSize"]);
            Bold = Convert.ToBoolean(dt.Rows[0]["bBold"]);
            Italic = Convert.ToBoolean(dt.Rows[0]["bItalic"]);
            Underline = Convert.ToBoolean(dt.Rows[0]["bUnderline"]);
            bVisible = Convert.ToBoolean(dt.Rows[0]["bVisible"]);
            bTongHangCon = Convert.ToBoolean(dt.Rows[0]["bTongHangCon"]);
            bTinhTongTheoDonVi = Convert.ToBoolean(dt.Rows[0]["bTinhTongTheoDonVi"]);
            bTruongGhiChu = Convert.ToBoolean(dt.Rows[0]["bTruongGhiChu"]);
            bThemChiTieuCon = Convert.ToBoolean(dt.Rows[0]["bThemChiTieuCon"]);
            bChuaLoaiSanPham = Convert.ToBoolean(dt.Rows[0]["bChuaLoaiSanPham"]);
            bChuaSanPham = Convert.ToBoolean(dt.Rows[0]["bChuaSanPham"]);
            bTinhTongTheoLoaiSanPham = Convert.ToBoolean(dt.Rows[0]["bTinhTongTheoLoaiSanPham"]);
            iID_MaHangMau_ChungHangMauCon = Convert.ToInt32(dt.Rows[0]["iID_MaHangMau_ChungHangMauCon"]);
        }
    }

    String tgBold = "", tgItalic = "", tgUnderline = "", tgVisible = "", tgTongHangCon = "", tgTinhTongTheoDonVi = "", tgTruongGhiChu = "", tgThemChiTieuCon = "";
    String tgChuaLoaiSanPham = "", tgChuaSanPham = "", tgTinhTongTheoLoaiSanPham = "";
    if (Bold == true)
    {
        tgBold = "on";
    }
    if (Italic == true)
    {
        tgItalic = "on";
    }
    if (Underline == true)
    {
        tgUnderline = "on";
    }
    if (bVisible == true)
    {
        tgVisible = "on";
    }
    if (bTongHangCon == true)
    {
        tgTongHangCon = "on";
    }
    if (bTinhTongTheoDonVi == true)
    {
        tgTinhTongTheoDonVi = "on";
    }
    if (bTruongGhiChu == true)
    {
        tgTruongGhiChu = "on";
    }
    if (bThemChiTieuCon == true)
    {
        tgThemChiTieuCon = "on";
    }
    if (bChuaLoaiSanPham == true)
    {
        tgChuaLoaiSanPham = "on";
    }
    if (bChuaSanPham == true)
    {
        tgChuaSanPham = "on";
    }
    if (bTinhTongTheoLoaiSanPham == true)
    {
        tgTinhTongTheoLoaiSanPham = "on";
    }

    SelectOptionList slDonVi = CDonVi.Get_Dropdown("--- Chọn đơn vị áp dụng! ---");
    SelectOptionList slPhongBan = CPhongBan.Get_Dropdown("--- Chọn phòng ban! ---");
    SelectOptionList slLoaiSanPham = CLoaiSanPham.Get_Dropdown("--- Chọn loại sản phẩm! ---");
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("EditSubmit", "HangMau", new { ParentID = ParentID, MaHangMau = MaHangMau, MaPhongBan = MaPhongBan }))
                {
                    @Html.Hidden(ParentID + "_DuLieuMoi", ViewData["DuLieuMoi"]);
                    @Html.Hidden(ParentID + "_iID_MaHangMau_Cha", ViewData["iID_MaHangMau_Cha"]);
                    @Html.Hidden(ParentID + "_iID_MaHangMau", MaHangMau);

                    <div class="box-header with-border">
                        <h3 class="box-title">NHẬP THÔNG TIN HÀNG MẪU</h3>
                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="@(ParentID)_sTenBang">Tên bảng mẫu<span style="color: red;">&nbsp;*</span></label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, TenHangMau, "sTenHang", "", "type=\"text\" placeholder=\"Tên chỉ tiêu\" class=\"form-control\""))
                                            @Html.ValidationMessage(ParentID + "_" + "err_sTenHang")
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="@(ParentID)_iID_MaPhongBan">Thuộc phòng ban<span style="color: red;">&nbsp;*</span></label>
                                            @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, slPhongBan, MaPhongBan, "iID_MaPhongBan", "", "class=\"form-control\""))
                                            @Html.ValidationMessage(ParentID + "_" + "err_iPhongBan")
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="@(ParentID)_iID_MaDonVi">Đơn vị áp dụng</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, slDonVi, MaDonVi, "iID_MaDonVi", "", "class=\"form-control\""))
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="@(ParentID)_iID_LoaiSanPham">Thuộc loại sản phẩm</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, slLoaiSanPham, MaLoaiSanPham, "iID_LoaiSanPham", "", "class=\"form-control\""))
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="@(ParentID)_iID_MaHangMau_ChungHangMauCon">Hàng mẫu có cùng chỉ tiêu con</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, iID_MaHangMau_ChungHangMauCon, "iID_MaHangMau_ChungHangMauCon", "", "type=\"text\" placeholder=\"Hàng mẫu có cùng chỉ tiêu con\" class=\"form-control\""))
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="@(ParentID)_sCongThuc">Công thức</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, CongThuc, "sCongThuc", "", "type=\"text\" placeholder=\"Công thức\" class=\"form-control\""))
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="@(ParentID)_iHeight">Hight</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Height, "iHeight", "", "type=\"text\" placeholder=\"Chiều cao\" class=\"form-control\""))
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="@(ParentID)_iFontSize">Kích thước chữ</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, FontSize, "iFontSize", "", "type=\"text\" placeholder=\"Kích thước chữ\" class=\"form-control\""))
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="@(ParentID)_sBackGround">Màu sắc hàng</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, BackGround, "sBackGround", "", "type=\"text\" placeholder=\"Màu sắc hàng\" class=\"form-control\""))
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="@(ParentID)_sColor">Màu sắc chữ</label>
                                            @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, MauSac, "sColor", "", "type=\"text\" placeholder=\"Màu sắc chữ\" class=\"form-control\""))
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bBold">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgBold, "bBold", "", "type=\"checkbox\""))
                                                Chữ đậm
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bItalic">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgItalic, "bItalic", "", "type=\"checkbox\""))
                                                Chữ nghiêng
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bUnderline">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgUnderline, "bUnderline", "", "type=\"checkbox\""))
                                                Gạch chân chữ
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bVisible">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgVisible, "bVisible", "", "type=\"checkbox\""))
                                                Chỉ tiêu ẩn
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bTongHangCon">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgTongHangCon, "bTongHangCon", "", "type=\"checkbox\""))
                                                Tính tổng hàng con
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bTinhTongTheoDonVi">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgTinhTongTheoDonVi, "bTinhTongTheoDonVi", "", "type=\"checkbox\""))
                                                Tính tổng theo đơn vị
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bTruongGhiChu">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgTruongGhiChu, "bTruongGhiChu", "", "type=\"checkbox\""))
                                                Trường ghi chú
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bThemChiTieuCon">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgThemChiTieuCon, "bThemChiTieuCon", "", "type=\"checkbox\""))
                                                Thêm chỉ tiêu con ngoài dữ liệu
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bChuaLoaiSanPham">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgChuaLoaiSanPham, "bChuaLoaiSanPham", "", "type=\"checkbox\""))
                                                Có chứa loại sản phẩm
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bChuaSanPham">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgChuaSanPham, "bChuaSanPham", "", "type=\"checkbox\""))
                                                Có chứa sản phẩm
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="@(ParentID)_bTinhTongTheoLoaiSanPham">
                                                @MvcHtmlString.Create(MyHtmlHelper.CheckBox(ParentID, tgTinhTongTheoLoaiSanPham, "bTinhTongTheoLoaiSanPham", "", "type=\"checkbox\""))
                                                Tính tổng theo loại sản phẩm
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="submit">Save</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
@MvcHtmlString.Create(MyHtmlHelper.CheckError(ViewData.ModelState))
<script type="text/javascript">
    var sTenHang = document.getElementById("@(ParentID)_sTenHang");
    sTenHang.focus();

    //<![CDATA[
    $("#Edit_sBackGround").icolor({
        onSelect: function (c) { this.$tb.css("background-color", c); this.$t.val(c); }
    });
    $("#Edit_sColor").icolor({
        onSelect: function (c) { this.$tb.css("background-color", c); this.$t.val(c); }
    });
    //]]>
</script>