@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@model sHoSoModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "CNN25_HoSo";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    //String _TrangThaiHoSo = CString.SafeString(Request.QueryString["_TrangThaiHoSo"]);
    //String _TieuDe = CString.SafeString(Request.QueryString["_TieuDe"]);
    //String _FromDate = CString.SafeString(Request.QueryString["_FromDate"]);
    //String _ToDate = CString.SafeString(Request.QueryString["_ToDate"]);

    int Page = Model.Page;

    int CurrentPage = 1;
    if (Page != 0)
    {
        CurrentPage = Page;
    }

    if (Model.PageSize == 0)
    {
        Model.PageSize = Globals.PageSize;
    }
    int nMax = Model.PageSize;
    int iTu = (CurrentPage - 1) * nMax;

    string sOrderInput = "iID_MaTrangThai ASC";

    DataTable dt = clHoSo.GetDataTableHH(Model, CurrentPage, nMax, sOrderInput);
    double nums = clHoSo.GetCountHH(Model);
    int RC = dt.Rows.Count;
    int TotalPages = (int)Math.Ceiling(nums / nMax);



    DataRow r;
    SelectOptionList ttDDL = clTrangThai.GetTrangThai_XMCL_ChuyenVien();
    SelectOptionList ttDDL_Full = clTrangThai.GetDDL();
    String strPhanTrang = Pagings.PageLinks_Cms(String.Format("Trang {0}/{1}: ", CurrentPage, TotalPages), CurrentPage, TotalPages, x => Url.Action("Index", "ChoXuLyKetQua", new {
        LoaiDanhSach = (int)clLoaiDanhSach.From.ChoXuLyKetQua,
        iID_MaLoaiHoSo = 3,//Chuyen viên lãnh đạo phòng, lãnh đạo cục chỉ xử lý hồ sơ 2c
        sMaHoSo = Model.sMaHoSo,
        sTenDoanhNghiep = Model.sTenDoanhNghiep,
        sTenTACN = Model.sTenTACN,
        TuNgayDen = Model.TuNgayDen,
        DenNgayDen = Model.DenNgayDen,
        sSoTiepNhan = Model.sSoTiepNhan,
        TuNgayTiepNhan = Model.TuNgayTiepNhan,
        DenNgayTiepNhan = Model.DenNgayTiepNhan,
        iID_MaTrangThai = Model.iID_MaTrangThai,
        iID_KetQuaXuLy = Model.iID_KetQuaXuLy,
        page = x }));

}
<script type="text/javascript">
    $(function () {
        var a = '@TempData["msg"]';
        if (a == 'success') {
            showToast_Success();
        }
        else if (a == 'error'){
            showToast_Error();
        }
    })
</script>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("Search", "ChoXuLyKetQua", new { ParentID = ParentID }, FormMethod.Post, new { id = "formSearch", @class = "form-horizontal" }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@Lang["ChucNang_Item09"].ToString()</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div class="form-group">
                            <label for="inputEmail3" class="col-xs-1 control-label">Mã hồ sơ</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sMaHoSo, "sMaHoSo", "", "placeholder=\"Mã hồ sơ\" type=\"text\" class=\"form-control\""))
                            </div>
                            <label for="inputEmail3" class="col-xs-1 control-label">Tên TACN</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenTACN, "sTenTACN", "", "placeholder=\"Tên TACN\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">Ngày đến</label>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-xs-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgayDen, "TuNgayDen", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                        @Html.ValidationMessage(ParentID + "_" + "err_TuNgayDen")
                                    </div>
                                    <div class="col-sm-2 text-align-center">-</div>
                                    <div class="col-sm-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgayDen, "DenNgayDen", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                        @Html.ValidationMessage(ParentID + "_" + "err_DenNgayDen")
                                    </div>
                                </div>
                            </div>
                            <label for="inputEmail3" class="col-xs-1 control-label">Tên doanh nghiệp</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "placeholder=\"Tên doanh nghiệp\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-xs-1 control-label">Số tiếp nhận</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sSoTiepNhan, "sSoTiepNhan", "", "placeholder=\"Số tiếp nhận\" type=\"text\" class=\"form-control\""))
                            </div>
                            <label for="inputEmail3" class="col-sm-1 control-label">Ngày tiếp nhận</label>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-sm-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgayTiepNhan, "TuNgayTiepNhan", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                        @Html.ValidationMessage(ParentID + "_" + "err_TuNgayTiepNhan")
                                    </div>
                                    <div class="col-sm-2 text-align-center">-</div>
                                    <div class="col-sm-5">
                                        @MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgayTiepNhan, "DenNgayTiepNhan", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))
                                        @Html.ValidationMessage(ParentID + "_" + "err_DenNgayTiepNhan")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">Trạng thái hồ sơ</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, ttDDL, Convert.ToString(Model.iID_MaTrangThai), "iID_MaTrangThai", "", "class=\"form-control\""))
                            </div>
                            <label for="inputEmail3" class="col-sm-1 control-label">Kết quả xử lý</label>
                            <div class="col-xs-5">
                                <select class="form-control" id="Index_iID_KetQuaXuLy" name="Index_iID_KetQuaXuLy">
                                    <option value="-1">--Tất cả--</option>
                                    <option value="4">Yêu cầu bổ sung kết quả đánh giá sự phù hợp</option>
                                    <option value="5">Thông báo kết quả kiểm tra</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix text-align-center">
                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                        <button class="btn btn-danger" type="button" onclick="clearFromSearch()">Nhập lại</button>
                    </div>
                }

            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title text-uppercase">DANH SÁCH HỒ SƠ (Có <span style="color: red; font-weight: bold;">@(nums.ToString("#,##"))</span> hồ sơ)</h3>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                    </ul>
                </div><!-- /.box-header -->
                <div class="box-body no-padding pre-scrollable">
                    <div class="table-responsive">
                        <table id="tblListData" class="table table-bordered table-hover table-striped dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 3%;" class="text-center">STT</th>
                                    <th style="width: 10%;" class="text-center">Mã hồ sơ</th>
                                    <th class="text-center">Ngày đến</th>
                                    <th class="text-center">Số tiếp nhận</th>
                                    <th class="text-center">Ngày tiếp nhận</th>
                                    <th style="text-align: center;" class="text-center">Doanh nghiệp</th>
                                    <th style="text-align: center;" class="text-center">Tên TACN</th>
                                    <th style="text-align: center;" class="text-center">Trạng thái hồ sơ</th>
                                    <th style="text-align: center;" class="text-center">Kết quả xử lý</th>
                                    <th style="width: 3%; text-align: center;">Xem</th>
                                    <th style="width: 3%; text-align: center;">Soạn thông báo kết quả</th>
                                    <th style="width: 3%; text-align: center;">Yêu cầu bồ sung</th>
                                    <th style="width: 3%; text-align: center;">Thu hồi</th>
                                    <th style="width: 3%; text-align: center;">Người xem</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    long iHTTu = 0, iHTDen = 0;
                                    if (RC > 0)
                                    {
                                        int iGTMax = 0;
                                        for (int i = 0; i < RC; i++)
                                        {
                                            r = dt.Rows[i];

                                            if (i == 0)
                                            {
                                                iHTTu = Convert.ToInt64(r["rownum"]);
                                            }
                                            iGTMax++;

                                            bool bThuHoi = false;
                                            int iID_MaTrangThai = Convert.ToInt32(r["iID_MaTrangThai"]);
                                            if (iID_MaTrangThai == 34 || iID_MaTrangThai == 35)
                                            {
                                                bThuHoi = true;
                                            }

                                            String strView = MyHtmlHelper.ActionLink(Url.Action("Detail", "ChoXuLyKetQua", new { iID_MaHangHoa = r["iID_MaHangHoa"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-eye fa-lg'></i></span>", "Detail", "");
                                            String strSoanPhuLuc = MyHtmlHelper.ActionLink(Url.Action("SoanThongBaoKetQua", "ChoXuLyKetQua", new { iID_MaHangHoa = r["iID_MaHangHoa"] }), "<span class='badge badge bg-green'><i class='fa fa-fw fa-check'></i></span>", "Detail", "");

                                            <tr>
                                                <td style="text-align: center;">@r["rownum"]</td>
                                                <td>@r["sMaHoSo"]</td>
                                                <td>@Convert.ToDateTime(r["dNgayTaoHoSo"]).ToString("dd-MM-yyyy")</td>
                                                <td>@r["sSoTiepNhan"]</td>
                                                <td>@r["dNgayTiepNhan"]</td>
                                                <td>@r["sTenDoanhNghiep"]</td>
                                                <td>@r["sTenHangHoa"]</td>
                                                <td>@MvcHtmlString.Create(MyHtmlHelper.LabelForDropDownList(ttDDL_Full, r["iID_MaTrangThai"], "iID_MaTrangThai"))</td>
                                                <td>@r["sKetQuaXuLy"]</td>
                                                <td align="center">@MvcHtmlString.Create(strView)</td>
                                                <td align="center">
                                                    @MvcHtmlString.Create(strSoanPhuLuc)
                                                </td>
                                                <td align="center">
                                                    @if (!bThuHoi)
                                                    {
                                                        <a class="openyeucaubosung" data-id="@r["iID_MaHangHoa"]" data-toggle="modal" href="#YeuCauBoSung">
                                                            <span class='badge bg-yellow'><i class='fa fa-fw fa-plus'></i></span>
                                                        </a>
                                                    }
                                                </td>
                                                <td align="center">
                                                    @if (bThuHoi)
                                                    {
                                                        <a data-id="@r["iID_MaHangHoa"]" id="btnThuHoi">
                                                            <span class='badge bg-red'><i class='fa fa-mail-reply-all'></i></span>
                                                        </a>
                                                    }
                                                </td>
                                                <td>@r["sTenNguoiXem"]</td>
                                            </tr>
                                        }
                                        iHTDen = iHTTu + iGTMax - 1;
                                    }
                                    dt.Dispose();
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="col-xs-6">
                        Hiển thị từ <b>@(iHTTu)</b> đến <b>@(iHTDen)</b> trong số <b>@(nums.ToString("#,##"))</b> bản ghi
                    </div>
                    <div class="col-xs-6">
                        @MvcHtmlString.Create(strPhanTrang)
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
@{Html.RenderPartial("~/Views/ChoXuLyKetQua/Partial_Model_YeuCauBoSung.cshtml");}
@{Html.RenderPartial("~/Views/ChoXuLyKetQua/Partial_Model_ThuHoi.cshtml");}
<script src="@Url.Content("~/ScriptsERP/jsChoXuLyKetQua.js")?id=@DateTime.Now.ToString("yyMMddHHmmss")"></script>

<script src="@(Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js"))"></script>
<script>
    $(function () {
        $('#tblListData').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false
        });
    });
</script>