@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using DATA0200025.Models
@model DATA0200025.Models.HangHoaModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_cms.cshtml";
    string ParentID = "Edit";
    HoSoModels hoSo = clHoSo.GetHoSoById(Model.iID_MaHoSo);

    String sKhoiLuong = "", sSoLuong = "";
    DataTable dtKhoiLuong = clHangHoa.Get_ThongTinKhoiLuong(Model.iID_MaHangHoa);
    if (dtKhoiLuong.Rows.Count > 0)
    {
        for (int k = 0; k < dtKhoiLuong.Rows.Count; k++)
        {
            sKhoiLuong += Convert.ToString(dtKhoiLuong.Rows[k]["rKhoiLuong"]) + " " + Convert.ToString(dtKhoiLuong.Rows[k]["sDonViTinhKL"]) + "; ";
            sSoLuong += Convert.ToString(dtKhoiLuong.Rows[k]["rSoLuong"]) + " " + Convert.ToString(dtKhoiLuong.Rows[k]["sDonViTinhSL"]) + "; ";
        }
    }
    dtKhoiLuong.Dispose();

    HoSoXNCLModels hsXNCL = clHangHoa.GetHoSoXNCL(Model.iID_MaHoSo, Model.iID_MaHangHoa);
}

<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/FileSaver.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/jquery.wordexport.js"))"></script>
<section class="content">
    @using (Html.BeginForm("EditSubmit", "ChoXuLyKetQua", new { ParentID = ParentID }))
    {
        <input type="hidden" id="@(ParentID)_iID_MaHangHoa" name="@(ParentID)_iID_MaHangHoa" value="@Model.iID_MaHangHoa" />
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header  with-border">
                        <h3 class="box-title text-uppercase">Soạn thông báo kết quả - mã hồ sơ: @Model.sMaHoSo</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div id="divWord" class="row" style="margin: auto; width: 854px; padding: 30px 40px; border: solid 2px #000000;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td align="center" valign="top" style="width: 40%;">
                                        <p style="margin: 0; padding: 5px 0px;">BỘ NÔNG NGHIỆP</p>
                                        <p style="margin: 0; padding: 5px 0px;">VÀ PHÁT TRIỂN NÔNG THÔN</p>
                                        <p style="margin: 0; padding: 5px 0px;"><u><b>CỤC CHĂN NUÔI</b></u></p>
                                    </td>
                                    <td align="center" valign="top" style="width: 60%;">
                                        <p style="margin: 0; padding: 5px 0px;"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
                                        <p style="margin: 0; padding: 5px 0px;"><u><b>Độc lập - Tự do - Hạnh phúc</b></u></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px 0px;">
                                        <p>Số:            /TB-CN</p>
                                    </td>
                                    <td align="center" style="padding: 10px 0px;">
                                        <p>Hà Nội, ngày ... tháng ... năm .....</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2" style="padding: 10px 0px;"><p style="font-size: 16px;"><b>THÔNG BÁO</b></p></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2" style="padding: 6px 0px;"><p><u><b>Kết quả kiểm tra nhà nước về chất lượng thức ăn chăn nuôi nhập khẩu</b></u></p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>1. Thông tin của lô TACN được kiểm tra</b></p></td>
                                </tr>
                                <tr>
                                    <td colspan="2" valign="top" style="padding: 5px 0px;">
                                        <table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
                                            <tr style="height: 35px;">
                                                <td align="center" style="width: 5%;"><b>STT</b></td>
                                                <td align="center"><b>Tên TACN</b></td>
                                                <td align="center" style="width: 10%;"><b>Mã số công nhận</b></td>
                                                <td align="center" style="width: 15%;"><b>Hãng sản xuất</b></td>
                                                <td align="center" style="width: 15%;"><b>Nước sản xuất</b></td>
                                                <td align="center" style="width: 10%;"><b>Khối lượng</b></td>
                                                <td align="center" style="width: 10%;"><b>Số lượng</b></td>
                                                <td align="center" style="width: 15%;"><b>Ghi chú</b></td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td align="center">1</td>
                                                <td align="left">@Model.sTenHangHoa</td>
                                                <td align="left">@Model.sMaSoCongNhan</td>
                                                <td align="left">@Model.sHangSanXuat</td>
                                                <td align="left">@Model.sTenQuocGia</td>
                                                <td align="left">@(sKhoiLuong)</td>
                                                <td align="left">@(sSoLuong)</td>
                                                <td align="left">@MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sGhiChu, "sGhiChu", "", "type=\"text\" placeholder=\"Ghi chú\" class=\"form-control\""))</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Cửa khẩu nhập: @hoSo.sMua_NoiNhan</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Thời gian nhập khẩu <i>(tháng, năm)</i>: @hoSo.sMua_FromDate-@hoSo.sMua_ToDate</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Thuộc lô hàng có các chứng từ sau: </p></td>
                                </tr>
                                <tr>
                                    <td valign="top" colspan="2" style="padding: 5px 0px;">
                                        @{Html.RenderPartial("~/Views/ChoXuLyKetQua/Partial_FileHopDong.cshtml", hoSo);}
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" colspan="2" style="padding: 5px 0px;">
                                        @{Html.RenderPartial("~/Views/ChoXuLyKetQua/Partial_FileHoaDon.cshtml", hoSo);}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Giấy đăng ký kiểm tra xác nhận chất lượng số:  @hoSo.sSoGDK &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ngày: @string.Format("{0:dd/MM/yyyy}", hoSo.dNgayXacNhan)</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Tên tổ chức nhập khẩu: @hoSo.sTenDoanhNghiep</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Địa chỉ: @hoSo.sMua_DiaChi</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>2. Căn cứ kiểm tra</b></p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Tiêu chuẩn công bố áp dụng (số hiệu TCCS): @Model.sSoHieu</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Quy chuẩn kỹ thuật <i>(nhóm, loại hàng hóa tại QCVN 01-190/BNNPTNT)</i>: @(Model.sTenNhom), @(Model.sTenLoaiHangHoa) tại @(Model.sQuyChuan)</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>3. Kết quả đánh giá sự phù hợp</b></p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Giấy chứng nhận hợp quy lô TACN nhập khẩu số: @(hsXNCL.sGiayChungNhan)</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Do: @(hsXNCL.sTenToChuc)</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 5px 0px;"><p>Cấp ngày: @(hsXNCL.dNgayCap.ToString("dd/MM/yyyy"))</p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>4. Kết quả kiểm tra nhà nước</b></p></td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" style="padding: 10px 0px;"><p><b>Lô hàng đáp ứng yêu cầu chất lượng hàng hóa nhập khẩu./.</b></p></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix text-center">
                        <button class="btn btn-primary" type="submit">Lưu</button>
                        <a class="btn btn-primary btnXuatWord" data-id="@Model.iID_MaHangHoa">Xuất word</a>
                        <button class="btn btn-success" type="button" data-id="@Model.iID_MaHangHoa" id="btnTrinhLanhDao">Trình lãnh đạo</button>
                        <button class="btn btn-danger" type="button" id="btnThoat">Thoát</button>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<script src="@Url.Content("~/ScriptsERP/jsChoXuLyKetQua.js")?id=@DateTime.Now.ToString("yyMMddHHmmss")"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("a.btnXuatWord").click(function (event) {
            $("#divWord").wordExport();
        });
    });
</script>

