@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@using APP0200025.Models
@using APP0200025.Controllers
@model HangHoaModels
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout_cms.cshtml";
    string ParentID = "Detail";

    HoSoModels hoSoModels = clHoSo.GetHoSoById(Model.iID_MaHangHoa);
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Giấy đăng ký kiểm tra xác nhận chất lượng</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Lịch sử xử lý hồ sơ</a></li>

                    <li><a href="#tab_3" data-toggle="tab">Hồ sơ xin cấp XNCL</a></li>
                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        @{Html.RenderPartial("~/Views/Partial/Partial_Detail.cshtml", hoSoModels);}
                        <form action="@Url.Action("TiepNhanHangHoaSubmit", "ChoTiepNhanKetQuaGuiBoSung", new { ParentID = ParentID })" class="form-horizontal" id="submit_form" method="POST">
                            @Html.Hidden(ParentID + "_iID_MaHangHoa", Model.iID_MaHangHoa)
                            <div class="box-footer clearfix text-center">
                                <div class="col-xs-3">
                                    <button class="btn btn-block btn-primary" type="submit">Tiếp nhận</button>
                                </div>
                                <div class="col-xs-3">
                                    <a class="btn btn-danger btn-block opentuchoi" data-id="@Model.iID_MaHangHoa" data-toggle="modal" href="#TuChoi" type="button">Từ chối</a>
                                </div>
                                <div class="col-xs-3">
                                    <a class="btn btn-block openyeucaubosung" style="background-color:#f1bc10;color:white;" data-id="@Model.iID_MaHangHoa" data-toggle="modal" href="#YeuCauBoSung" data-dismiss="modal" type="button">Yêu cầu bổ sung</a>
                                </div>
                                <div class="col-xs-3">
                                    <a class="btn btn-block" style="background-color:#023658;color:white;" id="btnThoat">Thoát</a>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        @{Html.RenderPartial("~/Views/Partial/Partial_HH_LichSuHoSo.cshtml", Model);}
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        @{Html.RenderPartial("~/Views/ChoXemXetKetQua/Partial_HoSoXinCapXNCL.cshtml", Model);}
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div><!-- /.col -->
    </div>
</section>
@{Html.RenderPartial("~/Views/ChoTiepNhanKetQuaGuiBoSung/Partial_Model_YeuCauBoSung.cshtml");}
@{Html.RenderPartial("~/Views/ChoTiepNhanKetQuaGuiBoSung/Partial_Model_TuChoi.cshtml");}
<script src="@Url.Content("~/ScriptsERP/jsChoTiepNhanKetQuaGuiBoSung.js")?id=@DateTime.Now.ToString("yyMMddHHmmss")"></script>
