@using System
@using System.Collections.Specialized
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using APP0200025.Models
@using DATA0200026
@model  HoSo26Models
@{
    Layout = null;

    String ServerURL = CHamRieng.Get_Domain();
    string ParentID = "TC";

    int i = 0, j = 0;

    HangHoa26Models hh = CHangHoa26.GetListHangHoaByHoSoOne(Model.iID_MaHoSo);

    String strDau = "";
    DataTable dtCty = CCongTy.Get_Table_Top(1);
    if (dtCty.Rows.Count > 0)
    {
        if (String.IsNullOrEmpty(Convert.ToString(dtCty.Rows[0]["sDau"])) == false)
        {
            strDau = dtCty.Rows[0]["sDau"] != null ? "data:image/jpg;base64," + Convert.ToBase64String((byte[])dtCty.Rows[0]["sDau"]) : "";
        }
    }
    dtCty.Dispose();
}
@*<script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/FileSaver.js"></script>
    <script src="https://www.jqueryscript.net/demo/Export-Html-To-Word-Document-With-Images-Using-jQuery-Word-Export-Plugin/jquery.wordexport.js"></script>*@
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/FileSaver.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/jquery.wordexport/jquery.wordexport.js"))"></script>
<section>
    <div class="box-body">
        <div id="divWord" class="row" style="margin: auto; width: 854px; padding: 30px 40px; border: solid 2px #000000;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td align="center" valign="top" style="width: 40%;">
                        <p style="margin: 0; padding: 3px 0px;">BỘ NÔNG NGHIỆP</p>
                        <p style="margin: 0; padding: 3px 0px;">VÀ PHÁT TRIỂN NÔNG THÔN</p>
                        <p style="margin: 0; padding: 3px 0px;"><u><b>CỤC CHĂN NUÔI</b></u></p>
                    </td>
                    <td align="center" valign="top" style="width: 60%;">
                        <p style="margin: 0; padding: 3px 0px;"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
                        <p style="margin: 0; padding: 3px 0px;"><u><b>Độc lập - Tự do - Hạnh phúc</b></u></p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 3px 0px;">
                        <p>Số: @Model.sSoGDK</p>
                    </td>
                    <td align="center" style="padding: 5px 0px;">
                        <p>Hà Nội, ngày @(Model.dNgayXacNhan.Day) tháng @(Model.dNgayXacNhan.Month) năm @(Model.dNgayXacNhan.Year)</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 3px 0px;">
                        <p>v/v áp dụng chế độ miễn giảm kiểm tra chất lượng TACN có thời hạn</p>
                    </td>
                    <td align="center" style="padding: 10px 0px;"></td>
                </tr>
                <tr>
                    <td align="center" colspan="2" style="padding: 5px 0px;"><p>Kính gửi: @Model.sTenDoanhNghiep</p></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cục Chăn nuôi đã nhận được Văn bản số @Model.sMaHoSo ngày @Model.dNgayTaoHoSo.ToString("dd/MM/yyyy") của @Model.sTenDoanhNghiep đề nghị miễn giảm kiểm tra chất lượng có thời hạn đối với thức ăn chăn nuôi nhận khẩu.
                            Sau khi thẩm định hồ sơ, Cục Chăn nuôi có ý kiến như sau:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Sản phẩm thức ăn chăn nuôi nhập khẩu dưới đây được áp dụng chế độ miễn giảm kiểm tra chất lượng theo quy định tại điểm a khoản 5 Điều 18 Nghị định số 13/2020/NĐ-CP kể từ ngày @(Model.dNgayXacNhan.ToString("dd/MM/yyyy")) đến ngày @(Model.dNgayHetHieuLuc.ToString("dd/MM/yyyy"))
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tên TACN: @(hh.sTenHangHoa)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mã số công nhận: @(hh.sMaSoCongNhan)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nhóm TACN: @(hh.sTenNhom)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loại TACN: @(hh.sTenLoaiHangHoa)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hãng sản xuất: @(hh.sHangSanXuat)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nước sản xuất: @(hh.sTenQuocGia)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thành phần nguyên liệu: @(hh.sThanhPhan)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dạng, màu sản phẩm: @(hh.sMauSac)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tiêu chuẩn cơ sở: @(hh.sQuyChuan)</p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chỉ tiêu chất lượng của sản phẩm</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" style="padding: 0px 0px;">
                        @{
                            var lstCL = CHangHoa26.Get_List_HangHoa_ChatLuong(hh.iID_MaHangHoa);
                        }
                        <table border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
                            <tr>
                                <th style="width: 3%; text-align: center;"><b>STT</b></th>
                                <th style="text-align: center;"><b>Tên chỉ tiêu chất lượng</b></th>
                                <th style="width: 15%; text-align: center;">Hình thức công bố</th>
                                <th style="width: 20%; text-align: center;">Hàm lượng</th>
                                <th style="width: 15%; text-align: center;">Đơn vị tính</th>
                            </tr>
                            @foreach (var item in lstCL)
                            {
                                i++;
                                <tr>
                                    <td style="text-align: center;">@i</td>
                                    <td align="left">@item.sChiTieu</td>
                                    <td align="center">@item.sHinhThuc</td>
                                    <td align="center">@item.sHamLuong</td>
                                    <td align="center">@item.sDonViTinh</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 3px 0px;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chỉ tiêu an toàn của sản phẩm</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" style="padding: 0px 0px;">
                        @{
                            var lstAT = CHangHoa26.Get_List_HangHoa_AnToan(hh.iID_MaHangHoa);
                        }
                        <table border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
                            <tr>
                                <th style="width: 3%; text-align: center;"><b>STT</b></th>
                                <th style="text-align: center;"><b>Tên chỉ tiêu an toàn</b></th>
                                <th style="width: 15%; text-align: center;">Hình thức công bố</th>
                                <th style="width: 20%; text-align: center;">Hàm lượng</th>
                                <th style="width: 15%; text-align: center;">Đơn vị tính</th>
                            </tr>
                            @foreach (var item in lstAT)
                            {
                                j++;
                                <tr>
                                    <td style="text-align: center;">@j</td>
                                    <td align="left">@item.sChiTieu</td>
                                    <td align="center">@item.sHinhThuc</td>
                                    <td align="center">@item.sHamLuong</td>
                                    <td align="center">@item.sDonViTinh</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Trong thời gian được miễn giảm kiểm tra, @(Model.sTenDoanhNghiep) thực hiện cập nhật thông tin lô hàng theo quy định tại điểm b khoản 5 Điều 18 Nghị định số 13/2020/NĐ-CP và phải báo cáo về Cục Chăn nuôi tình hình
                            nhập khẩu theo quy định tại Nghị định số 74/2018/NĐ-CP.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding: 5px 0px;">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Yêu cầu Công ty thực hiện đúng các quy định hiện hành về quản lý thức ăn chăn nuôi ./.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding:20px 0px 0px 0px;" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="left" style="width: 70%" valign="top">
                                    <p style="margin: 0"><b>Nơi nhận:</b></p>
                                    <p style="margin: 0">- Như trên;</p>
                                    <p style="margin: 0">- Hải quan cửa khẩu;</p>
                                    <p style="margin: 0">- Lưu: VT, TACN.</p>
                                </td>
                                <td align="center" style="width: 30%" valign="top">
                                    <p><b>LÃNH ĐẠO CỤC</b></p>
                                    <p><img src="@(strDau)" /></p>
                                    <p><b>@(Model.sSoGDK_NguoiKy)</b></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("a.btnXuatWord").click(function (event) {
            $("#divWord").wordExport();
        });
    });
</script> 