@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@model  HoSo26Models
@{
    Layout = null;
    string ParentID = "Edit";
    string sTrangThai = HamRiengModels.Get_Name_TrangThai(Model.iID_MaTrangThai);
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin hồ sơ</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">Mã hồ sơ</label>
                                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sMaHoSo, "sMaHoSo", "", "type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">Trạng thái hồ sơ<span style="color: red;">&nbsp;*</span></label>
                                @MvcHtmlString.Create(MyHtmlHelper.Label(sTrangThai, "iID_MaTrangThai", "", "type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">Ngày tạo</label>
                                @MvcHtmlString.Create(MyHtmlHelper.Label(string.Format("{0:dd/MM/yyyy}", Model.dNgayTao), "dNgayTao", "", "type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="col-xs-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin tổ chức, cá nhân</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="">Tên tổ chức, cá nhân</label>
                                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="">Địa chỉ</label>
                                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sToChuc_DiaChi, "sToChuc_DiaChi", "", "type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="">Điện thoại</label>
                                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sToChuc_Tel, "sToChuc_Tel", "", "type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label for="">Fax</label>
                            @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sToChuc_Fax, "sToChuc_Fax", "", "type=\"text\" class=\"form-control\""))
                        </div>
                        <div class="col-xs-4">
                            <label for="">Email</label>
                            @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sToChuc_Email, "sToChuc_Email", "", "type=\"text\" class=\"form-control\""))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



