@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@model sHoSoModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "BC_Vung";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String _TrangThaiHoSo = CString.SafeString(Request.QueryString["iID_MaTrangThai"]);

    int Page = Model.Page;

    int CurrentPage = 1;
    if (Page != 0)
    {
        CurrentPage = Page;
    }

    if (Model.PageSize == 0)
    {
        Model.PageSize = Globals.PageSize;
    }
    int nMax = Model.PageSize;
    int iTu = (CurrentPage - 1) * nMax;
    DataTable dt = clHoSo.GetDataTable(Model, CurrentPage, nMax);
    double nums = clHoSo.GetCount(Model);
    int RC = dt.Rows.Count;
    int TotalPages = (int)Math.Ceiling(nums / nMax);

    DataRow r;

    String strPhanTrang = Pagings.PageLinks_Cms(String.Format("Trang {0}/{1}: ", CurrentPage, TotalPages), CurrentPage, TotalPages, x => Url.Action("Index", "ChoTiepNhanHoSo", new { LoaiDanhSach = Model.LoaiDanhSach, sMaHoSo = Model.sMaHoSo, sTenDoanhNghiep = Model.sTenDoanhNghiep, sTenTACN = Model.sTenTACN, FromDate = Model.TuNgayDen, ToDate = Model.DenNgayDen, page = x }));

    SelectOptionList ttDDL = clTrangThai.GetTrangThai_ToChucChiDinh();
}
<script type="text/javascript">
    $(function () {
        var a = '@TempData["msg"]';
        if (a == 'success') {
            showToast_Success();
        }
        else if (a == 'error'){
            showToast_Error();
        }
    })
</script>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                @using (Html.BeginForm("Search", "ToChucChiDinh", new { ParentID = ParentID }, FormMethod.Post, new { id = "formSearch", @class = "form-horizontal" }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@Lang["ChucNang_Item09"].ToString()</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-xs-1 control-label">Mã hồ sơ</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sMaHoSo, "sMaHoSo", "", "placeholder=\"Mã hồ sơ\" type=\"text\" class=\"form-control\""))
                            </div>
                            <label for="inputEmail3" class="col-xs-1 control-label">Tên TACN</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenTACN, "sTenTACN", "", "placeholder=\"Tên TACN\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">Từ ngày</label>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-xs-5">@MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgayDen, "TuNgayDen", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))</div>
                                    <div class="col-xs-2 text-align-center">-</div>
                                    <div class="col-xs-5">@MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgayDen, "DenNgayDen", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))</div>
                                </div>
                            </div>
                            <label for="inputEmail3" class="col-xs-1 control-label">Tên doanh nghiệp</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sTenDoanhNghiep, "sTenDoanhNghiep", "", "placeholder=\"Tên doanh nghiệp\" type=\"text\" class=\"form-control\""))
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-xs-1 control-label">Số tiếp nhận</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, Model.sSoTiepNhan, "sSoTiepNhan", "", "placeholder=\"Số tiếp nhận\" type=\"text\" class=\"form-control\""))
                            </div>
                            <label for="inputEmail3" class="col-sm-1 control-label">Ngày tiếp nhận</label>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-xs-5">@MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.TuNgayTiepNhan, "TuNgayTiepNhan", "", "placeholder=\"Từ ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))</div>
                                    <div class="col-xs-2 text-align-center">-</div>
                                    <div class="col-xs-5">@MvcHtmlString.Create(MyHtmlHelper.DatePicker(ParentID, Model.DenNgayTiepNhan, "DenNgayTiepNhan", "", "placeholder=\"Đến ngày\" type=\"text\" class=\"form-control\" autocomplete=\"off\""))</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">Trạng thái hồ sơ</label>
                            <div class="col-xs-5">
                                @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, ttDDL, _TrangThaiHoSo, "iID_MaTrangThai", "", "class=\"form-control\""))
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix text-align-center">
                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                        <button class="btn btn-danger" type="button" onclick="clearFromSearch()">Nhập lại</button>
                    </div>

                }

            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title text-uppercase">Danh sách hồ sơ</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table id="tblListData" class="table table-bordered table-hover table-striped dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 3%;" class="text-center">STT</th>
                                    <th style="width: 15%;" class="text-center">Mã hồ sơ</th>
                                    <th style="width: 10%; text-align: center;" class="text-center">Ngày đến</th>
                                    <th class="text-center">Số tiếp nhận</th>
                                    <th class="text-center">Ngày tiếp nhận</th>
                                    <th style="text-align: center;" class="text-center">Doanh nghiệp</th>
                                    <th style="text-align: center;" class="text-center">Tên TACN</th>
                                    <th style="width: 10%; text-align: center;" class="text-center">Trạng thái hồ sơ</th>
                                    <th class="head-td-icon">Xem</th>
                                    <th class="head-td-icon">Xử lý</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (RC > 0)
                                    {
                                        for (int i = 0; i < RC; i++)
                                        {
                                            r = dt.Rows[i];

                                            String strSoanPhuLuc = MyHtmlHelper.ActionLink(Url.Action("ThongTinHoangHoa", "ToChucChiDinh", new { iID_MaHoSo = r["iID_MaHoSo"], sMaHoSo = r["sMaHoSo"], sSoTiepNhan = r["sSoTiepNhan"] }), "<span class='badge bg-green'><i class='fa fa-fw fa-check'></i></span>", "Detail", "");
                                            String strView = MyHtmlHelper.ActionLink(Url.Action("Detail", "ToChucChiDinh", new { iID_MaHoSo = r["iID_MaHoSo"] }), "<span class='badge bg-blue'><i class='fa fa-fw fa-eye fa-lg'></i></span>", "Detail", "");

                                            <tr>
                                                <td style="text-align: center;">@r["rownum"]</td>
                                                <td>@r["sMaHoSo"]</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(Convert.ToString(r["dNgayTaoHoSo"])))
                                                    {
                                                        @Convert.ToDateTime(r["dNgayTaoHoSo"]).ToString("dd-MM-yyyy")
                                                    }
                                                </td>
                                                <td>@r["sSoTiepNhan"]</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(Convert.ToString(r["dNgayTiepNhan"])))
                                                    {
                                                        @Convert.ToDateTime(r["dNgayTiepNhan"]).ToString("dd-MM-yyyy")
                                                    }
                                                </td>
                                                <td>@r["sTenDoanhNghiep"]</td>
                                                <td>@r["sTenTACN"]</td>
                                                <td>@MvcHtmlString.Create(MyHtmlHelper.LabelForDropDownList(ttDDL, r["iID_MaTrangThai"], "iID_MaTrangThai")) </td>
                                                <td class="head-td-icon">
                                                    @MvcHtmlString.Create(strView)
                                                </td>
                                                <td class="head-td-icon">
                                                    @MvcHtmlString.Create(strSoanPhuLuc)
                                                </td>
                                            </tr>
                                        }
                                    }
                                    dt.Dispose();
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    @MvcHtmlString.Create(strPhanTrang)
                </div>
                @*<div class="box-footer clearfix">
                    </div>*@
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
@{Html.RenderPartial("~/Views/ToChucChiDinh/Partial_Model_HangHoa.cshtml");}
@{Html.RenderPartial("~/Views/ToChucChiDinh/Partial_Model_UploadKetQua.cshtml");}
<script src="@Url.Content("~/ScriptsERP/jsToChucChiDinh.js")"></script>

<script src="@(Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js"))"></script>
<script>
    $(function () {
        $('#tblListData').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false
        });
    });
</script>