@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@model DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "CNN25_HoSo";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String _iID_MaHoSo = CString.SafeString(Request.QueryString["iID_MaHoSo"]);
    String _sSoTiepNhan = CString.SafeString(Request.QueryString["sSoTiepNhan"]);
    String _sMaHoSo = CString.SafeString(Request.QueryString["sMaHoSo"]);
    var dt = Model;
    DataRow R;
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title text-uppercase">Thông tin hồ sơ</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-xs-1 control-label">Mã hồ sơ</label>
                        <div class="col-xs-5">
                            <span type="text" class="form-control">
                                @_sMaHoSo
                            </span>
                        </div>
                        <label for="inputEmail3" class="col-xs-1 control-label">Số giấy đăng ký</label>
                        <div class="col-xs-5">
                            <span type="text" class="form-control">
                                @_sSoTiepNhan
                            </span>
                        </div>

                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title text-uppercase">Danh sách hàng hóa</h3>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                    </ul>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table id="tblListData" class="table table-bordered table-hover table-striped dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 3%;" class="text-center">STT</th>
                                    <th style="width: 15%;" class="text-center">Tên hàng hóa</th>
                                    <th style="width: 10%; text-align: center;" class="text-center">Số lượng</th>
                                    <th class="text-center">Khối lượng</th>
                                    <th class="text-center">Trạng thái xử lý</th>
                                    <th style="text-align: center;width:20px;white-space:nowrap;" class="text-center;">Xử lý</th>
                                    <th style="text-align: center;width:20px;white-space:nowrap;" class="text-center;">Gửi trả kết quả</th>
                                    <th style="text-align: center;width:20px;white-space:nowrap;" class="text-center;">Xem KQĐGSPH đã gửi DN</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (dt.Rows.Count > 0)
                                    {
                                        for (int i = 0; i < dt.Rows.Count; i++)
                                        {
                                            R = dt.Rows[i];
                                            int iSTT = i + 1;

                                            int iTrangThai = Convert.ToInt32(R["iID_MaTrangThai"]);

                                            APP0200025.Controllers.ToChucChiDinhController.ToChucChiDinh toChucChiDinh = APP0200025.Controllers.ToChucChiDinhController.LayThongTinChungNhanHopQuy(R["iID_MaHoSo"].ToString(), R["iID_MaHangHoa"].ToString());

                                            String strInsert = MyHtmlHelper.ActionLink(Url.Action("KetQuaUpload", "ToChucChiDinh", new { iID_MaHoSo = R["iID_MaHoSo"], sTenHangHoa = R["sTenHangHoa"], iID_MaHangHoa = R["iID_MaHangHoa"], _sMaHoSo = _sMaHoSo, _sSoTiepNhan = _sSoTiepNhan }), "<span class='badge bg-blue'><i class='fa fa-pencil'></i></span>", "Edit", "");
                                            String strSend = MyHtmlHelper.ActionLink(Url.Action("GuiKetQua", "ToChucChiDinh", new { iID_MaHoSo = R["iID_MaHoSo"], iID_MaHangHoa = R["iID_MaHangHoa"], sMaHoSo = _sMaHoSo, sTenHangHoa = R["sTenHangHoa"], sSoTiepNhan = _sSoTiepNhan }), "<span class='badge bg-blue'><i class='fa fa-fw fa-paper-plane-o'></i></span>", "Edit", "onclick=\"sendConfim(this);\"");
                                            String strView = MyHtmlHelper.ActionLink(Url.Action("XemKetQuaUpload", "ToChucChiDinh", new { iID_MaHoSo = R["iID_MaHoSo"], sTenHangHoa = R["sTenHangHoa"], iID_MaHangHoa = R["iID_MaHangHoa"], _sMaHoSo = _sMaHoSo, _sSoTiepNhan = _sSoTiepNhan }), "<span class='badge bg-blue'><i class='fa fa-fw fa-eye fa-lg'></i></span>", "Edit", "");

                                            String strSendGuiLai = MyHtmlHelper.ActionLink(Url.Action("GuiLaiKetQua", "ToChucChiDinh", new { iID_MaHoSo = R["iID_MaHoSo"], iID_MaHangHoa = R["iID_MaHangHoa"], sMaHoSo = _sMaHoSo, sTenHangHoa = R["sTenHangHoa"], sSoTiepNhan = _sSoTiepNhan }), "<span class='badge bg-blue'><i class='fa fa-fw fa-paper-plane-o'></i></span>", "Edit", "");

                                            <tr>
                                                <td style="text-align: center;">@iSTT.ToString()</td>
                                                <td>@R["sTenHangHoa"]</td>
                                                <td>@R["rSoLuong"]</td>
                                                <td>@R["rKhoiLuong"]</td>
                                                <td style="text-align: center;">
                                                    @{
                                                        if (toChucChiDinh.ThongTin != null)
                                                        {
                                                            <span>Đã xử lý</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Chưa xử lý</span>
                                                        }
                                                    }
                                                </td>
                                                <td style='text-align:center;'>
                                                    @MvcHtmlString.Create(strInsert)
                                                </td>
                                                <td style='text-align:center;'>
                                                    @{
                                                        if (iTrangThai == 27)
                                                        {
                                                            if (toChucChiDinh.ThongTin != null)
                                                            {
                                                                @MvcHtmlString.Create(strSend)
                                                            }
                                                            else
                                                            {
                                                                <span>Chưa xử lý</span>
                                                            }
                                                        }
                                                    }
                                                    @{
                                                        if (User.Identity.Name.ToUpper() == "ADMIN")
                                                        {
                                                            @MvcHtmlString.Create(strSendGuiLai)
                                                        }
                                                    }
                                                </td>
                                                <td style='text-align:center;'>
                                                    @MvcHtmlString.Create(strView)
                                                </td>
                                            </tr>
                                        }
                                    }
                                    dt.Dispose();
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    @*@MvcHtmlString.Create(strPhanTrang)*@
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
@{Html.RenderPartial("~/Views/ToChucChiDinh/Partial_Model_HangHoa.cshtml");}
@{Html.RenderPartial("~/Views/ToChucChiDinh/Partial_Model_UploadKetQua.cshtml");}
<script src="@Url.Content("~/ScriptsERP/jsToChucChiDinh.js")"></script>
<script src="@(Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js"))"></script>
<script src="@(Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js"))"></script>
<script>
    $(function () {
        $('#tblListData').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false
        });
    });

    function sendConfim(id) {
        if (confirm('Bạn có chắc chắn muốn gửi kết quả không?')) { return true; }
        else { event.stopPropagation(); event.preventDefault(); };
    }
</script>